@import "../../../shared/ui-components/styles/variables";

:host {
  .copy-textarea{
    position: absolute;
    right: 12px;
    top: 7px;
    z-index: 1;
  }
  .design-container {
    background-color: $blue-600;
    padding: 12px 0 12px 12px;
    border-radius: 4px;
    height: 100%;
    font-family: monospace;
    .viewport {
      height: 100%;
      color: $white;
      overflow-x: scroll;
      .line {
        height: 19px;
        white-space: pre;
      }
    }
  }
  display: block;
  flex: 1;
  position: relative;
  .cursor-default {
    cursor: default;
  }
}
