@import "../../styles/variables";

.sm-button {
  height: 32px;
  border-radius: 4px;
  background-color: $neon-yellow;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
  padding: 0px 32px;
  &:hover {
    background-color: $neon-yellow-hover;
  }
  &:focus {
    border: none;
    outline: none;
  }
  border: none;
}

.button-label {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: $blue-500;
}

