.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &.transparent{
    background-color: rgba(0, 0, 0, 0);
  }
  z-index: 100;
}
