<form (ngSubmit)="send()" #settingsForm='ngForm' class="d-flex flex-column" (click)="$event.stopPropagation()">
  <mat-form-field appearance="outline" hideRequiredMarker class="mat-light">
    <mat-label>Email List</mat-label>
    <mat-error *ngIf="settingsForm.controls.emailList?.touched && settingsForm.controls.emailList.errors?.required">*Please add an email.</mat-error>
    <input name="emailList" [(ngModel)]="settingFields.emailList" #emailList="ngModel" matInput autocomplete="off" required>
  </mat-form-field>

  <mat-checkbox name="emailAlert" [(ngModel)]="settingFields.emailAlert">Send email alert on failure</mat-checkbox>
  <mat-checkbox name="scheduling" [(ngModel)]="settingFields.scheduling">Enable Scheduling</mat-checkbox>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Schedule Interval</mat-label>
    <input matInput placeholder="Search for existing intervals" [matAutocomplete]="auto" [(ngModel)]="settingFields.interval" name="intervalName">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="intervalSelected($event)">
      <mat-option *ngFor="let option of intervalOptions" [value]="option"> {{ option.charAt(0).toUpperCase() + option.slice(1) }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <mat-form-field appearance="outline" hideRequiredMarker class="cron-expression-field">
    <mat-error *ngIf="expression?.touched && expression?.invalid">*Please add Cron Expression.</mat-error>
    <mat-label>Cron Expression</mat-label>
    <div class="input-container">
      <input class="step-expression" name="cronExpression" matInput [(ngModel)]="settingFields.expression" #expression="ngModel" (input)="checkCronExpression()">
      <button type="button" class="btn btn-icon g-btn" (click)="navigateToWebsite()">
        <i class="icon i-alert-purple"></i>
      </button>
    </div>
  </mat-form-field>
  <div class="w-100 create-step-button">
    <button type="submit" class="btn btn-dark-fill center" [disabled]="settingsForm.invalid">Save</button>
  </div>
</form>
