@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: flex !important;
  flex-direction: column;
  gap: 24px;
  height: 100%;

  sm-workers-graph {
    margin: 0 48px;
  }
}

@media (max-height: 750px) {
  :host {
    height: unset;
  }
}
