@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: flex !important;
  flex-direction: column;

  sm-workers-graph {
    margin: 0 50px 20px;
  }

  //as-split {
  //  height: calc(100% - #{$graph-height});
  //  min-height: 180px;
  //}
}
