@import "variables";

:host {
  .light-theme {
    overflow: auto;
  }
}

.mobile-warn {
  font-size: 40px;
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  color: $blue-600;
  background-color: $testing;
  border: 2px solid darken($testing, 40%);
  border-radius: 4px;

  &.show {
    display: block;
  }

  & > strong {
    margin-right: 5px;
  }

  @media (max-width: 750px) {
    font-size: 18px;
  }
}

