@import "../../shared/ui-components/styles/variables";

:host {
  .share-menu-container {
    width: 486px;
  }

  .copy-title {
    font-size: 12px;
    line-height: 1.5;
    color: $blue-400;
    margin-bottom: 16px;
  }

  .share-link-container {
    &.hidden {
      visibility: hidden;
    }

    display: flex;
    align-items: center;
    border-radius: 4px;
    border: solid 1px $cloudy-blue-two;
    height: 36px;

    .share-link {
      font-size: 14px;
      line-height: 1.5;
      color: #404040;
      padding: 12px;
      flex: 1;
    }

    .copy {
      padding: 12px;
      display: flex;
      flex: 0 0 36px;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-left: solid 1px $cloudy-blue-two;
      color: $blue-400;

      :active {
        color: $blue-700;
      }
    }
  }
}
