@import "variables";

:host {
  display: block;
  position: relative;
  height: 100%;

  sm-section-header {

    height: 35px;
  }

  sm-experiment-execution-parameters {
    display: block;
    height: calc(100% - 42px);
  }
  sm-search.table-search {
    padding-right: 2px;
    border-radius: 4px;
    color: $blue-280 !important;
    background-color: $blue-600 !important;
  }
}
