@import "variables";

.filter{
  font-size: 14px;
  font-weight: 500;

  &::placeholder {
    font-size: 14px;
  }
}

.buttons-container {
  height: 300px;
  overflow: auto;
  margin-top: 4px;
}

:host {
  display: block;
  width: 260px;

  mat-form-field {
    width: 100%;
  }
}

.project-tags-filter {
  display: flex;
  align-items: center;
  cursor: pointer;
}
