:host {
  display: inline-flex;

  .tooltip-wrapper {
    display: inherit;
  }

  mat-icon {
    color:var(--color-primary);
    margin-left: 8px;
  }
}

.tooltip-container {
  margin: -4px 0;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 11px;
  line-height: normal;
}
