@import "../../../../webapp-common/shared/ui-components/styles/variables";

:host {
  .first {
    display: block;
    padding-left: 44px;
  }
  ::ng-deep .copy-btn .selected {
    background-color: $purple;
    .light-color {
      color: $blue-100;
    }
    &:hover {
      background-color: $lightish-blue-dark;
    }
    border: none;
  }
}

.queues-container {
  margin-bottom: 40px;
}

.table-cell {
  font-size: 13px;
}

.id-cell {
  align-items: center;

  .value {
    flex: 1;
    line-height: 32px;
    padding-left: 10px;
    &.first {
      padding-left: 42px;
    }
  }

  .queue-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .copy-btn {
    min-width: 30px;
    margin-left: 5px;
    display: none;
  }

  &:hover {
    .copy-btn {
      display: inline-block;
    }
  }
}
