@import 'variables';
@import "mixins/link";

:host {
  width: 570px;

  @include link();

  .sub-title {
    max-width: 500px;
    font-size: 13px;
    line-height: 1.46;
    letter-spacing: normal;
    color: var(--color-on-surface-variant);
    margin-bottom: 12px;

    b {
      font-weight: 500;
    }
  }

  .select-container {
    display: flex;
    align-items: center;

    .share-select {
      width: 100px
    }
  }

  .share-link-container {
    margin-bottom: 16px;
    width: 500px;

    &.hidden {
      visibility: hidden;
    }

    display: flex;
    align-items: center;
    border-radius: 4px;
    border: solid 1px var(--color-outline);
    height: 36px;

    .share-link {
      font-size: 14px;
      line-height: 1.5;
      color: var(--color-secondary);
      padding: 12px;
      flex: 1;
    }

    .copy {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-left: solid 1px var(--color-outline);

      :active {
        color: var(--color-primary);
      }
    }
  }


  .buttons {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 41px;

    button {
      text-transform: uppercase;
    }

    .yes-button {
      margin-right: 16px;
    }

  }
}
