@import "variables";
@import "mixins/empty";

:host {
  .sm-card-list-layout {
    &.in-empty-state {
      height: 100%;
      grid-template-rows: 64px 1fr;
    }
  }

  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  sm-projects-header {
    height: $nav-bar-height;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-surface);
    margin-bottom: -12px;
  }
  @include empty-card-mixin();
}
