<sm-dialog-template [closeOnX]="false" (xClicked)="closeDialog(false)" header="NEW RUN"
  [pageHeader]="title"
  iconClass="al-ico-pipelines">
  <ng-form #enqueueForm="ngForm" class="d-flex flex-column light-theme form-container">
    <input #fakeInput name="Don't remove - it take the autofocus dropdown" style="opacity: 0; height: 0; width: 0">
    @if (params?.length > 0) {
      <div class="section-title">Parameters</div>
    }
    @for (param of params; track param.name) {
      <div class="param-line">
        <div class="param-key ellipsis" smShowTooltipIfEllipsis [smTooltip]="param.name">{{param.name}}</div>
        @switch (param.type) {
          @case ('float') {
            <mat-form-field appearance="outline" class="no-bottom">
              <input #floatInput="ngModel"  type="text" matInput [(ngModel)]="param.value" [name]="param.name" pattern="[+-]?([0-9]*[.])?[0-9]+" >
              @if (floatInput?.errors && floatInput?.errors['pattern']) {
                <mat-error
                  >
                  Please provide an float
                </mat-error>
              }
            </mat-form-field>
          }
          @case ('int') {
            <mat-form-field appearance="outline" class="no-bottom">
              <input  type="text" step="1" matInput [(ngModel)]="param.value" #intInput="ngModel" [name]="param.name" pattern="^[-\d]\d*$">
              @if (intInput?.errors && intInput?.errors['pattern']) {
                <mat-error
                  >
                  Please provide an integer
                </mat-error>
              }
            </mat-form-field>
          }
          @default {
            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput [(ngModel)]="param.value" [name]="param.name">
            </mat-form-field>
          }
        }
      </div>
    }
    <div class="section-title d-flex align-items-center">Configuration</div>
    <div class="param-line">
      <div class="param-key" [class.error]="queueInputModel?.errors?.required">Pipeline controller queue*</div>
      <mat-form-field
        appearance="outline" class="no-bottom queue-select"
        (mousedown)="selectedQueue && !isFocused(queueInput) && (selectedQueue = null)"
        >
        <input type="text"
          #queueInput
          #queueInputModel="ngModel"
          matInput
          name="queue"
          [(ngModel)]="selectedQueue"
          [matAutocomplete]="auto"
          required
          data-id="queueFiled">
        <i matSuffix
          class="al-icon sm-md search-icon me-2"
          [class]="queueInputModel.value ? 'al-ico-dialog-x pointer':'al-ico-search'"
          (click)="queueInputModel.value && (selectedQueue = null)"
        ></i>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" class="light-theme">
          @for (queue of filteredQueues$ | ngrxPush; track queue) {
            <mat-option
              [value]="queue"
              [smTooltip]="queue.display_name ? queue.display_name + ' (' + queue.name + ')' : queue.name"
              smShowTooltipIfEllipsis
            >
              <div [smSearchText]="selectedQueue?.name">{{queue.caption}}</div>
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </ng-form>
</sm-dialog-template>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close data-id="cancleNewRun">CANCEL</button>
  <button mat-flat-button
          [disabled]="enqueueForm.invalid"
          (click)="closeDialog(true)"
          data-id="confirmNewRun"
  >RUN</button>
</mat-dialog-actions>
