@import "variables";

:host {
  .circles {
    display: flex;

    .circle {
      width: 32px;
      min-width: 32px;
      height: 32px;
      line-height: 30px;
      text-align: center;
      background-color: var(--color-surface-container-lowest);
      color: var(--color-on-surface);
      border-radius: 50%;
      font-size: 12px;
      border: var(--color-outline-variant) solid 2px;
      position: relative;
      box-sizing: border-box;
      cursor: default;


      &.empty {
        background-color: var(--color-surface-container-low);
        height: 32px;
        width: 32px;
        min-width: 32px;
      }

      &.long {
        width: unset;
        min-width: unset;
        border-radius: 18px;
        padding: 0 4px;
      }

      &.rest {
        border: solid 2px var(--color-outline);
        background-color: var(--color-surface);
        color: var(--color-on-surface);
      }

      .inner-circle {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        // border: 2px solid var(--color-outline-variant);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
