
$list-width: 360px;

:host {
  display: flex;
  flex-direction: column;
  height: 50%;
  flex-grow: 1;


  mat-drawer-container {
    width: 100%;
    flex: 1;
    --mat-sidenav-container-background-color: transparent;
  }

  .mat-drawer-side {
    border-color: var(--color-surface-container-high);
  }

  .drawer-settings-bar {
    height: unset;
    padding: 24px;
    border-bottom: 1px solid var(--color-surface-container-high);
  }

  .toggle-all {
    font-size: 10px;
    padding-right: 2px;
    cursor: pointer;
  }

  .list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: $list-width;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .graphs-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  sm-experiment-graphs {
    height: 100%;
  }


  sm-experiment-graphs {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border-top: 1px solid var(--color-surface-container-high);
    background-color: var(--color-surface-container-lowest);
  }

  .drawer-settings-bar {
    height: unset;
    padding: 24px;
    border-top: 1px solid var(--color-surface-container-high);
    border-bottom: 1px solid var(--color-surface-container-high);
  }


  .ribbon-setting-bar {
    display: flex;
    overflow: hidden;
    height: auto;
    max-height: 0;
    padding: 0 25px 0 22px;
    background-color: var(--color-surface-container-lowest);
    transition: max-height 0.3s;

    &.showSettings {
      min-height: 64px;
      max-height: 128px;
    }
  }

  sm-experiment-graphs {
    &.with-settings {
      height: calc(100% - 64px);
    }
  }

}
