@import "../../../../webapp-common/shared/ui-components/styles/variables";

:host {


  ::ng-deep .table-row {
    background-color: $blue-800 !important;
    border-bottom: 1px solid #303443 !important;
  }

  ::ng-deep .row.headers {
    border-bottom: none !important;
  }


  .tabs-container {
    position: relative;
    background-color: $blue-800;
    border-bottom: 1px solid #303443;
    margin: 12px 0 0 0;
    height: 38px;


    ::ng-deep .navbar-item {
      height: 100%;
      padding: 0 15px;
      margin: 0 1px;
    }
  }

  .pull-right {
    position: absolute;
    right: 24px;
    top: 0;
  }

  sm-navbar-item[disabled] {
    pointer-events: none;

    .bottom {
      display: none;
    }
  }

  ::ng-deep .drag-grid {
    color: $dark;
    transition: color 0.5s;
  }

  ::ng-deep .table-row:hover .drag-grid {
    transition: color 0.5s;
    color: $dark-grey-blue;
  }
}

::ng-deep .bigger-width {
  width: 236px;
}

