@import "../../../styles/variables";

:host {

  .filter-sort-container {
    position: relative;
    z-index: 20;
    //height: 45px;


    ::ng-deep .menu-button {
      color: $blue-400;
      font-weight: 500;
      font-size: 12px;

      &.active {
        color: $blue-250;
      }
    }



    .sort-icon {
      margin-left: -4px;
    }
  }
}
