@import "../../../shared/ui-components/styles/mixins/common";
@import "../../../shared/ui-components/styles/variables";

.view-all {
  font-size: 12px;
  font-weight: 500;
}

.recent-title {
  @include recent-title();
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 12px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 250px;

  sm-project-card {
    margin: 0 15px;
  }
}
