@import "../../../shared/ui-components/styles/variables";
@import "../../../layout/layout.scss";

$output-tabs-height: 64px;

:host {
  .experiment-output-container {
    height: 100%;
  }

  ::ng-deep .no-output {
    text-align: center;
    color: $cloudy-blue-two;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
  }

  ::ng-deep .no-output-icon {
    height: 200px;
    width: 200px;
    left: 50%;
    margin-bottom: 10px;
  }

  sm-experiment-info-header {
    display: block;
    padding: 7px 0 0 10px;
    border-bottom: 1px solid $blue-100;
  }
  sm-experiment-settings.maximized {
    display: block;
    height: 50px;
    padding-top: 6px;
  }

  nav {
    height: $output-tabs-height;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    padding: 0 24px;

    .refresh-position {
      position: absolute;
      right: 16px;
      top: 6px;
      display: flex;
      align-items: center;
    }
    .refreshIcon{
      margin-right: 10px;
    }

    &.minimized{
      text-align: left;

      .refresh-position {
        top: 12px;
      }
    }
    span.disabled {
      pointer-events: none;
    }
  }

  .output-body {
    position: relative;
    height: calc(100% - #{$output-tabs-height + $experiment-info-header-height});

    &.minimized {
      height: calc(100% - #{$output-tabs-height});
    }
  }
}

.mat-menu-item {
  padding-left: 22px;
  &.active {
    border-left: 6px solid $purple;
    padding-left: 16px;
  }
}

