@import "variables";
@import "mixins/link";
@include link();

mat-form-field {
  min-width: 300px !important;
}

.file-upload {
  display: inline-block;
  margin-bottom: 24px;
  width: 450px;

  &-input {
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
    border: 1px solid var(--color-outline);
    border-radius: 4px;
    height: 36px;
    &:hover {
      border-color: var(--color-outline);
    }
    &:focus-within {
      border-color: var(--color-outline);
    }
  }
  &-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-grow: 1;
    padding: 0 8px;
    overflow: hidden;
    color: var(--color-on-surface);
    .empty {
      color: var(--color-on-surface-variant);
    }
  }
  &-clear {
    display: flex;
    color: var(--color-on-surface-variant);
    &:hover {
      color: var(--color-on-surface);
    }
  }
  .field-label {
    display: inline-flex;
    align-items: center;
    color: var(--color-on-surface);
    font-size: var(--mat-form-field-outlined-label-text-populated-size);
    letter-spacing: var(--mdc-outlined-text-field-label-text-tracking);
    line-height: var(--mat-form-field-subscript-text-line-height);
    -webkit-font-smoothing: antialiased;
  }
  .btn {
    white-space: nowrap;
    margin-right: 4px;
    height: calc(100% - 8px);
    padding: 0 12px;
    border-radius: 2px;
  }
  .failed {
    margin-top: 4px;
    font-size: var(--mat-form-field-subscript-text-size);
    letter-spacing: var(--mat-form-field-subscript-text-tracking);
    color: var(--mdc-filled-text-field-error-focus-label-text-color);
    line-height: var(--mat-form-field-subscript-text-line-height);
    -webkit-font-smoothing: antialiased;
    &:not(:empty) + mat-hint {
      display: none;
    }
  }
  // READ-MODE STYLE
  &.read-mode {
    .file-upload-input {
      background-color: transparent;
      border-color: transparent;
    }
    .file-upload-name {
      padding: 0;
    }
    .btn {display: none;}
  }
}


@container form-container (max-width: 700px) {
  mat-form-field {min-width: 100% !important;}
  .file-upload {width: 100%;}
}
