@import "../../shared/ui-components/styles/variables";

.item-snippet {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  position: relative;
  text-align: center;
  background: #efefef;

  &.loading {
    background: white;
  }

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 150px;
    max-height: 130px;
  }

  img.loading {
    background-image: url("../../assets/icons/Spinner.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
  }
}

.image-var {
  position: absolute;
  color: $blue-500;
  bottom: 2px;
  left: 50%;
  height: 20px;
  transform: translateX(-50%);
  width: calc(100% - 18px);
}

.html-wrap {
  width: 180px;
  height: 180px;
  padding: 0;
  overflow: hidden;
}

.html-viewer {
  resize: both;
  overflow: auto;
  border: 1px solid black;
  transform: scale(0.44);
  transform-origin: 0 0;
}
.html-snippet {
  border: 1px solid $blue-200;
  border-radius: 4px;

  &:hover {
    .toolbar {
      opacity: 1;
      visibility: visible;
    }
  }

  .toolbar {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
}

.clickable-icon {
  background-color: $blue-400;
  color: $blue-50;
  padding: 6px 18px;
  border-radius: 4px;
}

