@import "variables";

.plus-card-body {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  &:hover {
    .plus-icon {
     color: var(--color-on-surface);
    }
  }
}

:host {
  ::ng-deep .card-body {
    height: 100%;
    padding: 0 !important;
  }
}
