@import "../../styles/variables";

.plus-card-container {
  width: 100%;
  min-height: 100%;
  height: 100%;
  cursor: pointer;
  .plus-card-body {
    transition: 0.3s;
    background-color: $blue-800;
    width: 100%;
    height: 228px;
    margin-bottom: 15px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    .plus-icon {
      height: 40px;
      width: 40px;
    }
    &:hover {
      background-color: $blue-500;
      .plus-icon {
       color: $blue-700;
      }
    }
  }
}
