@import "../../../shared/ui-components/styles/variables";

:host {
  display: inline-block;

  ::ng-deep .mat-checkbox-frame {
    color: #a4b2db;
  }

  .refresh-wrapper {
    width: 28px;
    padding: 5px;
    overflow: hidden;
    transition: all 0.5s 0.5s, background 0.5s 0s;
  }

  .refresh-wrapper.allow-autorefresh:hover {
    background: $blue-570;
    border-radius: 4px;
    width: 156px;
    padding-right: 12px;
  }

  .refresh-icon {
    margin: 10px;
    font-size: 20px;
    color: $blue-400;
  }

  .autorefresh-checkbox {
    margin-left: 6px;
  }

  &.light-theme {
    border-radius: 4px;

    .refresh-wrapper.allow-autorefresh:hover {
      background: $blue-25;
    }

    .al-icon {
      .path1:before {
        color: $blue-500
      }
      .path2:before {
        color: $purple
      }
    }
  }

}
