@import "variables";
@import "mixins/link";

$credentialBaseHeight: 238px;

:host {
  ::ng-deep .sub-header {
    padding: 0 32px;
  }

  ::ng-deep .lg.i-welcome-researcher {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }
}

:host-context(.dark-mode) {
  ::ng-deep .i-welcome-researcher {
    filter: brightness(0) contrast(1) invert(1);
  }
}

.welcome-content {
  padding: 10px 32px;

  .body {
    display: flex;
    justify-content: space-between;

    .info {
      width: 152px;
      margin-right: 42px;
      text-align: center;
      color: var(--color-on-surface-variant);
      font-size: 12px;

      &:last-child {
        margin-right: 0;
      }

      .foreground:before {
        position: relative;
        z-index: 5;
      }

      .background:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 48px;
        height: 32px;
        left: 0;
        bottom: 12px;
        border-radius: 4px;
        background-color: var(--color-tertiary-container);
        z-index: 1;
      }

      i {
        font-size: 48px;
      }
    }
  }

  .separator {
    width: 100%;
    margin: 46px 0 24px;
    border-bottom: var(--color-outline-varriant) solid 2px;
  }

}

.steps-content {
  max-width: 680px;
  margin: 0 auto;

  .step-container:not(:first-child) {
    margin: 20px 0;
  }


  .text {
    color: var(--color-on-surface-variant);
    margin-bottom: 12px;
    width: 530px;
  }

  .step-header {
    color: var(--color-tertiary);
    margin-bottom: 4px;
  }

  .step {
    margin-bottom: 2px;
    color: var(--color-primary);
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .sub-note {
    display: flex;
    align-items: center;
    margin: 2px 0 2px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-on-surface-variant);
  }

  .bolder {
    font-weight: 500;
    margin: 0 4px;
  }

  .code {
    position: relative;

    margin: 1px 0 2px;
    width: 100%;
    color: var(--color-on-surface-variant);
    background-color: var(--color-surface);
    border-radius: 4px;


    &:hover {
      sm-copy-clipboard {
        visibility: visible;
      }
    }

    .content {
      padding: 14px 16px;
      overflow: auto;
      margin-right: 16px;
      white-space: pre;
      font-family: $font-family-monospace;
      font-size: 11px;
      line-height: 18px;
    }

    .operation {
      color: var(--color-warning);
    }

    .string {
      color: var(--color-primary);
    }

    .variable {
      color: var(--color-tertiary);
    }

    .comment {
      color: var(--color-on-surface-variant);
    }

    sm-copy-clipboard {
      visibility: hidden;
      position: absolute;
      right: 10px;
      top: 4px;
    }
  }

  .cred-step {
    height: $credentialBaseHeight;
    transition: height 1s ease;

    &.has-ws {
      height: $credentialBaseHeight + 10;
    }

    &.has-label {
      height: $credentialBaseHeight + 20;
    }
    &.jupyter{
      height: 0;
    }

    &.first-step {
      height: 60px;
      &.jupyter {
        height: 40px;
      }
    }
  }

  .cred-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;

    &.invisible {
      opacity: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  .label-input {
    flex: 1;
    padding-right: 12px;
  }

  .create-cred-button {
    height: 36px;
    padding: 0 28px;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  margin: 12px 0 16px;
  border-bottom: 1px solid var(--color-outline-variant);

  &.config-nav {
    margin: 0;
  }

  .nav-item {
    padding: 0 12px;
    color: var(--color-on-surface-variant);
    border-bottom: 4px solid transparent;
    margin: 0 1px;

    .al-ico-video {
      margin-bottom: 6px;
    }
    &:hover {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  .selected {
    border-bottom-color: var(--color-primary);
    color: var(--color-primary);
  }
}

.new-experiment-table {
  height: 120px;
  background-image: url("../../assets/icons/new-experiment-table.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
