<form class="filter-form p-4" #templateForm="ngForm" smClickStopPropagation smKeyDownStopPropagation>
  <div class="mb-1 label">From</div>
  <div class="input-duration d-flex align-items-center">
    <mat-form-field subscriptSizing="dynamic">
      <input matInput
             [value]="_greaterThan.date"
             [matDatepicker]="fromPicker"
             data-id="From Date"
             placeholder="Date"
             (dateChange)="$event.value ? setCheckBox(true, 'greaterThan') : null;
                                  onDateHandler($any($event.value), '_greaterThan')"
      >
    </mat-form-field>
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker [startAt]="$any(_greaterThan.date)"></mat-datepicker>
    <sm-duration-input-list
      name="lessThan"
      [durationValue]="_greaterThan.date ? _greaterThan.time || MINIMUM_TIME_DISPLAY : null"
      [inputs]="[{type: 'hours', placeholder: '--'}, {type: 'minutes', placeholder: '--'}]"
      [returnFactor]="1000"
      [readonly]="!_greaterThan.date"
      (onDurationChanged)="onTimeHandler($event, '_greaterThan')"
    ></sm-duration-input-list>
    <button mat-icon-button
            (click)="hasGreaterThanValue ? onResetHandler('greaterThan') : onAutoFillCurrentTimeHandler('greaterThan')"
            [smTooltip]="hasGreaterThanValue ? 'Clear' : 'Autofill current time'"
    >
      <mat-icon fontSet="al" [fontIcon]="hasGreaterThanValue ? 'al-ico-dialog-x' : 'al-ico-time'"></mat-icon>
    </button>
  </div>

  <div class="mb-1 mt-3 label">To</div>
  <div class="input-duration d-flex align-items-center">
    <mat-form-field subscriptSizing="dynamic">
      <input matInput
             class="input-to"
             [value]="_lessThan.date"
             [matDatepicker]="toPicker"
             data-id="to Date"
             placeholder="Now"
             (dateChange)="$event.value ? setCheckBox(true, 'lessThan') : null;
                                  onDateHandler($any($event.value), '_lessThan')"
      >
    </mat-form-field>
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker [startAt]="_lessThan.date"></mat-datepicker>
    <sm-duration-input-list
      [durationValue]="_lessThan.date ? _lessThan.time || MINIMUM_TIME_DISPLAY : null"
      name="greaterThan"
      [inputs]="[{type: 'hours', placeholder: '--'}, {type: 'minutes', placeholder: '--'}]"
      (onDurationChanged)="onTimeHandler($event, '_lessThan')"
      [readonly]="!_lessThan.date"
      [returnFactor]="1000"
    ></sm-duration-input-list>
    @if (hasLessThanValue) {
      <button mat-icon-button
              (click)="hasLessThanValue ? onResetToDateInput() : onFakeNowCheckbox()"
              [smTooltip]="hasLessThanValue ? 'Clear' : 'Autofill current time'"
      >
        <mat-icon fontSet="al" [fontIcon]="hasLessThanValue ? 'al-ico-dialog-x' : 'al-ico-time'"></mat-icon>
      </button>
    }
  </div>
</form>

@if (hasTimeError) {
  <sm-table-filter-duration-error [fullWidth]="true"></sm-table-filter-duration-error>
}
