@import "../../styles/mixins/common";
@import "../../styles/variables";
hr {
  margin: 0 !important;
}

  .project-tag {
    @include card-header-tag();
    color: $neon-yellow;
  }

  .footer-title {
    @include counter-label();
    text-align: center;
    font-size: 10px;
    padding: 12px
  }

  .card-sp-list {
    height: inherit;
    overflow: auto;

    ul {
      margin: 6px 0;
      padding: 6px 0;
      font-size: 13px;
    }

    a {
      color: #c1cdf3;
      padding: 0 24px;
      line-height: 30px;
      text-decoration: none;
      display: flex;

      ::ng-deep .sub-path {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 120px;
        &.double-width{
          max-width:260px;
        }
      }

      &:hover {
        background-color: #5a658e;
      }
    }
  }

  .title {
    @include card-title();
  }

  ::ng-deep .project-card {
    cursor: pointer;
    height: 228px;
    overflow: hidden;
  }

  ::ng-deep .project-card {


    .project-name {
      max-width: 280px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    :host {
      ::ng-deep .mat-menu-content {
        background-color: $blue-600;
      }
    }
  }

