:host {
  display: flex;
  flex-direction: column;

  a[href] {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .preserve-spaces {
    white-space: pre-wrap;
  }

  ::ng-deep .editable-div .form-control {
    height: 74px;
  }
}
