@import "../../../shared/ui-components/styles/variables";

.dataset_import {
  color: $dataset_import;
}

.testing {
  color: $testing;
}

.training {
  color: $training;
}

.middle {
  height: 14px;
  margin-top: 2px
}
