
:host {
  .tip-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .tip-image {
    width: 372px;
    flex: 0 0 372px;
    height: 233px;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px var(--color-on-surface), 0 0 0 2px var(--color-surface-container-highest);
    background-size: contain;

    &.full-width {
      flex: 1 1 376px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

    &.no-gap {
      margin-top: 0;
    }
  }

  .btn-rec {
    width: 32px;
    height: 32px;
    margin: 0 6px;
    padding-top: 6px;
    vertical-align: middle;
    border-radius: 32px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    cursor: pointer;
  }

  .tip-page {
    flex: 3px;
    text-align: right;
  }

  .navigate,
  .tip-dont-show {
    flex: 3;
  }

  .tip-cbx {
    position: relative;
    top: 1px;
    left: -2px;
  }

  mat-checkbox {
    margin-left: -10px;
  }

  .tip-content {
    width: 100%;
  }
}
