<ng-select #ngSelectRef
           ngClass="{disabled: disable}"
           notFoundMsg=""
           [appendTo]="appendTo"
           dropdownPosition="bottom"
           [searchable]="searchable"
           [placeholder]="placeholder"
           [multiple]="multiple"
           [addTag]=" ! optionAddable ? false : boundAddTag"
           [clearable]=" multiple && clearable"
           [loading]="false"
           [items]="items"
           [isOpen]="disable ? false : undefined"
           [ngModel]="selectData"
           (ngModelChange)="selectChanged($event)"
>
  <ng-template *ngIf="multiple || showChips" ng-label-tmp let-item="item">
    <sm-chips
      *ngIf="items.length || showChips"
      [isDarkBackground]="false"
      [allowRemove]="!disable"
      (remove)="removeTag(item)"
      [label]="item.label">

    </sm-chips>
  </ng-template>

</ng-select>
