@import "../../styles/variables";

:host {
  .menu-button.btn.icon {
    font-weight: initial;
    min-width: 16px;
    min-height: 16px;
    font-size: 16px;
    color: $blue-400;
  }

  .menu-button, .menu-button &:hover, .menu-button &:focus {
    cursor: pointer;
    text-decoration: none;
  }


  .cell {
    padding-right: 3px;
    padding-left: 3px;
    //height: 30px;
    display: flex;
    align-items: center;

  }

  .hidden-button {
    opacity: 0;
    padding: 0;
  }

}
