@import "../variables";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin counter-label() {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: $pending-gray;
}

@mixin counter-title() {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

@mixin card-title(){
  font-weight: 500;
  font-size: 14px;
  color: $blue-200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@mixin recent-title(){
  font-size: 16px;
  font-weight: 500;
  color: $blue-100;
}

@mixin card-header-tag(){
  opacity: 0.86;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.8;
}
