@mixin common-leaf() {
  border-radius: 0 0 6px 6px;
  position: absolute;
  width: 99.8%;
  height: 100%;
  transition: all $transition-slow;
}

@mixin choose-leaf() {
  @include common-leaf;
  background-color: #FFFFFF;
  top: 0;
  z-index: 10;
  border-bottom: 8px solid #FFFFFF;
  &:hover {
    border-bottom: 8px solid $neon-yellow-betterinchrome;
    ::ng-deep .step-number {
      color: $dark-grey-blue-three;
    }
  }
  &.open-code {
    transition-delay: $transition-slow;
    height: 75%;
  }
}

