:host {
  .first {
    display: block;
    padding-left: 44px;
  }

  .first-content {
    padding-left: 42px;
  }
}

.worker-container {
  width: 100%;
  height: 100%;

  .ellipsis {
    max-width: 500px;
  }
}
