<div class="d-flex" style="justify-content: start">
  <span *ngFor="let child of children; let i = index">
    <ng-template
      [ngTemplateOutlet]="templateRef"
      [ngTemplateOutletContext]="{$implicit: child, index: i}">
    </ng-template>

    <sm-checkbox-control
      [formData]="formData[child]"
      [fieldName]="child"
      [label]="options && options[child]"
      [isReadonly]="isReadonly"
      (formDataChanged)="fieldValueChanged($event)"
    >
    </sm-checkbox-control>
    <!--<label [for]="child">{{options && options[child]}}</label>-->
  </span>
</div>
