@import "../../../shared/ui-components/styles/variables";

::ng-deep body sm-s3-access .editable {
  padding: 0;
  background-color: #ffffff;
}

.s3-row {
  margin-bottom: 10px !important;
  input {
    color: $blue-100;
  }

  &:last-child {
    padding-bottom: 8px;
    border-bottom: $blue-500 solid 1px;
  }
}

.header {
  color: $blue-400;
  border-bottom: solid 1px;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.delete-button {
  display: flex;
  align-items: center;
}

.add-button {
  display: inline-block;
  margin: 12px 0 24px;
  color: $blue-280;

  &:hover {
    color: $white;
  }

  .al-icon {
   vertical-align: middle;
  }
}
