<form [formGroup]="S3Form" *ngIf="S3Form">
  <div class="s3-row header" *ngIf="bucketCredentials.controls.length>0">
    <div>Bucket</div>
    <div>Key</div>
    <div>Secret / SAS</div>
    <div>Token</div>
    <div>AWS Region</div>
    <div>Host (Endpoint)</div>
  </div>
  <div class="s3-row" *ngFor="let bucket of bucketCredentials.controls; let i = index"
       formArrayName="bucketCredentials">
    <ng-container [formGroupName]="i">
      <input matInput class="form-control" formControlName="Bucket">
      <input matInput class="form-control" formControlName="Key">
      <input matInput class="form-control" formControlName="Secret">
      <input matInput class="form-control" formControlName="Token">
      <input matInput class="form-control" formControlName="Region" placeholder="us-east-2">
      <input #endpoint matInput class="form-control" formControlName="Endpoint" placeholder="Leave empty for AWS S3">
      <div class="d-flex justify-content-end">
        <span *ngIf="endpoint.value.startsWith('http://') && secured" class="alert-icon me-2" smTooltip="Embedding images through a non-secure transport (HTTP) in a secure web application might require special configuration of your browser">
          <i class="al-icon sm-md al-ico-alert"></i>
        </span>
        <span class="delete-button" (click)="removeBucket(i)" smTooltip="Remove">
          <i class="al-icon sm-md pointer" [ngClass]="ICONS.REMOVE"></i>
        </span>
      </div>
    </ng-container>
  </div>
  <div>
    <a href="" class="add-button" (click)="$event.preventDefault(); addBucket({})" type="button">
      <i class="al-icon sm al-ico-plus me-1 vertical-middle"></i>Add access keys
    </a>
  </div>
</form>
