@import '../../../../webapp-common/shared/ui-components/styles/variables';

:host {

  .header-container {
    padding-left: 24px;
    height: 66px;
    transition: background-color 0.5s;

    .hide-item {
      visibility: hidden;
    }

    ::ng-deep button {
      border-color: $blue-600;
      box-shadow: none;
    }

    &.archive-mode {
      transition: background-color 0.5s;
      background-color: #333746;
      ::ng-deep button {
        border-color: #636e97;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }
    }

    .right-buttons {
      margin-right: 16px;

      sm-model-custom-cols-menu {
        margin-right: 22px;
      }
    }
  }
}

