<div class="sm-card-list-layout projects">
  <ng-content></ng-content>
  @for (project of projects(); track project.id) {
    @if ($index + totalVirtualCards() < projects().length || noMoreProjects() || showLast()) {
      <sm-project-card
        (deleteProjectClicked)="deleteProjectClicked.emit($event)"
        (projectCardClicked)="projectCardClicked.emit($event)"
        (newProjectClicked)="createNewProjectClicked.emit($event)"
        (projectEditClicked)="projectEditClicked.emit($event)"
        (projectNameChanged)="projectNameChanged.emit({id: project.id, name:$event})"
        (moveToClicked)="moveToClicked.emit($event)"
        [hideMenu]="['All Tasks'].includes(project.name) || $any(project).isRoot || isExample(project)"
        [project]="project"
        [projectsNames]="projectsNames()"
      ></sm-project-card>
    }
  }

  @if (!noMoreProjects() && projects()?.length > 0) {
    <div class="load-more">
      <sm-dots-load-more
        [loading]="projectsState().loading()"
        (loadMore)="loadMoreAction()"
        class="mx-auto my-2"
      ></sm-dots-load-more>
    </div>
  }
</div>
