:host {
  .header-container {
    padding-left: 24px;
    height: 66px;
    transition: background-color 0.5s;

    .hide-item {
      visibility: hidden;
    }

    &.archive-mode {
      transition: background-color 0.5s;
      background-color: var(--color-surface-variant);
    }

    .right-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 24px;
    }
  }
}

sm-select-metric-for-custom-col {
  display: block;
  height: 640px;
  max-height: calc(100vh - 120px);
}
