<div class="logo">
  <img src="assets/c-logo.png?v=1" class="logo-a" alt="logo" width="54" height="54">
</div>

<ng-container *ngIf="currentUser">
  <div #container class="items-container" [class.on-scrolling]="scrolling">
    <a class="item al-ico-home"
       routerLink="/dashboard"
       routerLinkActive="active"
       (click)="resetSearch()"
       smTooltip="Dashboard"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right">
    </a>
    <a class="item al-ico-projects"
       smTooltip="Projects"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right"
       routerLink="/projects"
       routerLinkActive="active">
    </a>
    <a class="item al-ico-datasets"
       [routerLink]="(defaultNestedModeForFeature$ | async)?.['datasets']? '/datasets/simple/*/projects' : '/datasets'"
       [class.active]="(baseRouteConfig$ | async) ==='datasets'"
       smTooltip="DataSets"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right">
    </a>
    <a class="item al-ico-pipelines"
       [routerLink]="(defaultNestedModeForFeature$ | async)?.['pipelines']? '/pipelines/*/projects' : '/pipelines'"
       [class.active]="(baseRouteConfig$ | async) ==='pipelines'"
       smTooltip="PipLines"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right">
    </a>
    <a class="item al-ico-reports"
       [routerLink]="(defaultNestedModeForFeature$ | async)?.['reports']? '/reports/*/projects' : '/reports'"
       [class.active]="(baseRouteConfig$ | async) ==='reports'"
       smTooltip="Reports"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right">
    </a>
    <a class="item al-ico-queues"
       routerLink="/workers-and-queues"
       routerLinkActive="active"
       smTooltip="Workers & Quenes"
       [matTooltipShowDelay]="0"
       matTooltipPosition="right">
    </a>
  </div>
</ng-container>

