@import "variables";

$link-item-size: 64px;
$icon-size: 24px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $side-bar-close-width;
  background-color: $blue-600;

  .logo {
    width: 64px;
    height: 64px;
    background: $blue-700;
  }

  .items-container {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &.on-scrolling {
      box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset, 0 -3px 3px rgba(0,0,0,0.3) inset;
    }
  }

  .items-container::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
  }

  .items-container::-webkit-scrollbar {
    width: 2px !important;
    background-color: transparent;
  }

  .items-container::-webkit-scrollbar-thumb {
    border-radius: unset;
    border: none;
  }


  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $link-item-size;
    height: $link-item-size;
    color: $blue-300;
    margin: 0 auto;
    // ICON SIZE
    &:before {
      font-size: $icon-size;
    }

    &:hover {
      color: $blue-200;
      background-color: $blue-500;
      text-decoration: none;
    }

    &.active:before {
      color: $neon-yellow
    }
  }

  .i-slack-mark-color {
    width: $icon-size;
    height: $icon-size;
    background-size: $icon-size;
  }

  .account {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
}
