@if (currentUser()) {
  <div class="header d-flex align-items-center justify-content-center h-100 w-100 flex-column">
    <div class="d-flex align-items-center flex-column">
      <div class="user-icon"></div>
      <sm-inline-edit
        class="dark profile-name me-2"
        [class.edit]="active()"
        [originalText]="currentUser().name"
        [minLength]="2"
        [required]="true"
        [editable]="true"
        (inlineActiveStateChanged)="active.set($event)"
        (textChanged)="nameChange($event, currentUser())">
        <div class="me-2">{{ currentUser().name }}</div>
        <sm-id-badge caption="Copy user ID" [short]="true" [id]="currentUser().id" (copied)="copyToClipboard()"></sm-id-badge>
      </sm-inline-edit>
    </div>
    @if (currentUser().email) {
      <div class="d-flex flex-column align-items-center">
        <div class="profile-label">EMAIL ADDRESS</div>
        <div class="d-flex align-items-center">
          <span class="me-2">{{ currentUser().email }}</span>
        </div>
      </div>
      @if (currentUser().company?.id){
      <div class="d-flex flex-column align-items-center">
        <div class="profile-label">COMPANY</div>
        <div class="d-flex align-items-center">
          <span class="me-2">{{ currentUser().company.name }}</span>
          <sm-id-badge caption="Copy company ID" [short]="true" [id]="currentUser().company.id" (copied)="copyToClipboard()"></sm-id-badge>
        </div>
      </div>
      }
    }
  </div>
}
