@import "variables";

:host {
  .header {
    gap: 24px;
    font-size: 16px;
    .user-icon {
      width: 88px;
      height: 88px;
      margin-bottom: 12px;
      overflow: hidden;
      background-image: url(../../../../webapp-common/assets/icons/icon-profile-user.svg);
    }

    .profile-label {
      font-size: 12px;
      color: var(--color-outline);
      font-weight: 500;;
    }

    .profile-name {
      display: flex;
      align-items: center;
      padding-left: 64px;
      min-height: 32px;
      &.edit {
        transform: translateX(18px);
      }
    }
  }
}
