@import "variables";

:host {
  cursor: pointer;

  .card-name {
    height: 32px;
  }

  .project-name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $blue-200;
  }

  .last-run {
    margin-bottom: 6px;
    font-size: 12px;
    color: $blue-300;
  }
  .title {
    font-weight: 500;
  }

  .footer-tags {
    display: flex;
    min-height: 38px;
    background-color: $blue-600;
    padding: 0 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  .rename-state .last-run {
    visibility: hidden;
    height: 18px;
  }
}
