@import '../../styles/variables';

:host {
  width: 640px;
  display: block;

  .reference {
    background: #F4F7FF;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    line-height: 1.5;
    font-size: 14px;
    margin: 0 auto;
    overflow-wrap: break-word;
  }

  .buttons {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 41px;

    button {
      text-transform: uppercase;
    }

    .yes-button {
      margin-right: 16px;
    }
  }

  .chkbx-label {
    position: relative;
    top: 1px;
    left: -2px;
  }
}
