<sm-queues-menu
  [menuOpen]="menuOpen"
  [selectedQueue]="selectedQueue"
  [menuPosition]="menuPosition"
  (deleteQueue)="deleteQueue.emit($event)"
  (renameQueue)="renameQueue.emit($event)"
>
  <ng-container extendedQueuesMenu>
  <hr *ngIf="(plugins$ | async)?.length>0">
  <sm-menu-item *ngFor="let plugin of (plugins$ | async)"
                [itemLabel]="plugin.name"
                [iconFontSize]="20"
                [iconClass]="'al-icon ' + ICONS.PLUGIN + ' sm-md'"
                (itemClicked)="pluginClicked(plugin)">
  </sm-menu-item>
  </ng-container>
</sm-queues-menu>

