@import "variables";
:host {
  --dialog-icon-color: var(--color-warning);
}


.more-info {
  height: 0;
  padding: 0;
  min-width: 400px;
  max-width: 500px;
  font-family: $font-family-monospace;
  font-size: 12px;
  border: none;
  overflow: hidden;
  transition: height 0.3s;

  &.info-open {
    height: 100px;
    padding: 6px;
    border: 1px solid var(--color-outline-variant);
    border-radius: 4px;
    overflow: auto;
    transition: height 0.3s;
  }

  .entities {
    padding-left: 20px;
  }
}

.more-info-icon {
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;

  &.info-open {
    transform: rotate(90deg);
  }
}
