
:host {
  display: grid !important;
  grid-template-rows: 64px calc(100% - 64px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;

    .name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding-right: 24px;
    }

    .actions {
      display: flex;
      align-items: center;
      .g-btns {
        display: inherit;
        margin-left: 12px;
        gap: 12px;
      }

      sm-tag-list {
        max-width: 400px;
      }
    }

    .trigger {
      position: absolute;
    }
  }

  .content {
    padding: 3px 0 0 22px;

    mat-drawer-content {
      z-index: 2;
    }

    mat-drawer-container.iframe-maximized {
      z-index: 15;
    }
  }

  .hover-button {
    position: absolute;
    left: 28px;
    top: 192px;
    width: 0;
    height: 0;
    z-index: 14;

    button {
      transform: rotate(90deg);

      mat-icon {
        transform: rotate(-90deg);

        &.open {
          transform: rotate(90deg);
        }
      }
    }
  }

  .description-button {
    background-color: var(--color-surface-container);
    --mdc-outlined-button-container-shape: 4px;
    --mdc-outlined-button-container-height: 30px;
    --mdc-outlined-button-outline-color: var(--color-outline-variant);
  }

  .mat-drawer {
    --mat-sidenav-container-background-color: transparent;
    border-right: none;
  }

  .description {
    width: 300px;
    margin: 3px 16px auto 0;

    & > textarea {
      display: block;
      background-color: var(--color-surface-container-lowest);
      border: 1px solid color-mix(in srgb, var(--color-outline) 20%, transparent);
      width: 100%;
      height: 200px;
      padding: 12px 12px 12px 42px;
      border-radius: 4px;
      resize: none;
      color: var(--color-on-surface);
      font-family: 'Heebo', sans-serif;
    }

    .edit-button {
      background-color: var(--color-surface-container);
      position: absolute;
      top: 16px;
      right: 72px;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    &:hover {
      .edit-button {
        opacity: 1;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 12px;
      gap: 12px;
    }
  }

  sm-markdown-editor {
    display: block;
    width: 100%;
    min-height: 300px;
    max-width: 960px;
    margin: 0 auto;
    padding: 3px 24px 0 3px;
    transition: max-width 0.5s;

    &.edit {
      max-width: 1856px;
      height: 100%
    }

    &.full-width {
      max-width: 100%;
      &:not(.edit) {
        max-width: calc(100% - 64px);
      }
    }
  }

  mat-drawer-container {
    margin: 0 auto;
    max-width: 1856px;
  }
}

.hidden {
  display: none;
}

.empty-state {
  margin: 0 auto;
  max-width: 960px;
  background-color: var(--color-surface-container-lowest);
  border: 1px solid color-mix(in srgb, var(--color-outline) 20%, transparent);
  border-radius: 4px;
  flex: 1;

  .no-data-title {
    font-size: 20px;
    font-weight: 500;
    margin: 24px 0;
  }

  .no-data-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media print {

}
