@import "variables";
@import "mixins/empty";

:host {
  display: block;
  height: 100%;
  &.nested-project-view{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .tags-list-counter {
    width: 140px;
  }

  .sm-card-list-layout {
    &.in-empty-state {
      height: 100%;
      grid-template-rows: 64px 1fr;
    }
  }

  .footer-tags {
    display: flex;
    min-height: 38px;
    padding: 0 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  sm-projects-header {
    height: $nav-bar-height;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-surface);
    margin-bottom: -12px;
  }

  @include empty-card-mixin();
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;

  .code {
    min-width: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;

    sm-code-editor {
      display: block;
      width: 100%;
      height: 490px;
      margin-top: 6px;
      border-radius: 6px;
      overflow: hidden;
    }
  }

  .diagram {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 48px;

    i {
      width: 490px;
      height: 440px;
    }
  }
}
