@import "variables";
@import "mixins/link";
@include link();

mat-form-field {
  min-width: 300px !important;
}

@container form-container (max-width: 700px) {
  mat-form-field {min-width: 100% !important;}
  i.al-ico-trash {top: 6px;}
}
