<div [formGroup]="form" class="pb-4 position-relative">
  <div class="provider-icon">
    <i class="al-icon i-azure-cloud md"></i>
  </div>
  @if (azureContainers) {
    <div class="pb-3" formArrayName="containers">
      @for (bucket of azureContainers.controls; track bucket; let i = $index) {
        <div class="bucket-row" [formGroupName]="i">
          <button mat-icon-button class="trash" (click)="removeAzureBucket(i)">
            <mat-icon fontSet="al" fontIcon="al-ico-trash sm-md"></mat-icon>
          </button>
          <mat-form-field appearance="outline" class="black">
            <mat-label class="header">
              <span>Account name</span>
            </mat-label>
            <input matInput formControlName="account_name" required/>
            @if (form.controls.containers.controls[i].controls.account_name.errors?.required) {
              <mat-error>Account name is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="black">
            <mat-label class="header">
              <span>Account key</span>
            </mat-label>
            <input matInput formControlName="account_key" required/>
            @if (form.controls.containers.controls[i].controls.account_key.errors?.required) {
              <mat-error>Account key is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="black">
            <mat-label class="header">
              <span>Container name</span>
            </mat-label>
            <input matInput formControlName="container_name"/>
          </mat-form-field>
        </div>
      }
    </div>
  }
  <button mat-button (click)="$event.preventDefault(); addAzureBucket()">
    <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
    Add Credentials
  </button>
</div>
