@import "variables";
@import "../../webapp-common/layout/layout";

:host {
  .navbar-header-container {
    min-height: $nav-bar-height;

    .nav-bar-items-container {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2px;
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 48px;
      height: 66px;
      transition: background-color 0.5s;
    }
  }

  ::ng-deep .outlet + * {
    display: block;
    height: calc(100% - #{$wnq-tabs-height});
  }
}

