@import "variables";
@import "../../webapp-common/layout/layout";

:host {
  .navbar-header-container {
    min-height: $nav-bar-height;

    .nav-bar-items-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 48px;
      height: 66px;
      transition: background-color 0.5s;
    }
  }
}
