@import "../../../../webapp-common/shared/ui-components/styles/variables";
@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: block;
  height: $graph-height;
  min-height: $graph-height;
  padding: 20px 20px 0;
  background-color: $black;
  border: 1px solid $dark-grey-blue;

  .header {
    height: 48px;
    margin: 0 30px;

    .title {
      font-size: 15px;
      text-transform: uppercase;
    }

    .time-selector, .param-selector {
      width: 180px;
      position: relative;
    }
    .warnning {
      margin-left: 10px;
      line-height: 20px;
      color: $neon-yellow;
    }
  }

  .line-chart-container {
    height: calc(100% - 48px);
    position: relative;
    z-index: 500;
  }
}
