@import "variables";
@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: block;
  height: $graph-height;
  min-height: $graph-height;
  padding: 20px 20px 0;
  background-color: var(--color-surface-container-lowest);
  border: 1px solid var(--color-outline-variant);
  border-radius: 4px;

  .header {
    padding: 0 30px;
    margin-bottom: 12px;

    .title {
      font-size: 15px;
      text-transform: uppercase;
    }

    .time-selector {
      width: 180px;
      position: relative;
    }
    .param-selector {
      width: 210px;
      position: relative;
    }
    .warning {
      margin-left: 10px;
      line-height: 20px;
      --mat-icon-color: var(--color-warning)
    }
  }

  .line-chart-container {
    height: calc(100% - 48px);
    position: relative;
    z-index: 500;
  }
}
