@import "variables";

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  font-size: 16px;
  padding: 12px 24px;
  z-index: 1;

  .actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
  }
}

form {
  container-type: inline-size;
  container-name: form-container;
}

.storage-title {
  font-weight: 500;
  font-size: 16px;
  max-width: 1200px;
  text-align: left;
  margin: auto;
  padding: 32px 48px 0;
  color: var(--color-on-surface);
}

.storage-desc {
  max-width: 1200px;
  text-align: left;
  margin: 12px auto 24px;
  padding: 0 48px;
}

.storage-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  max-width: 1200px;
  margin: auto;
  padding: 0 48px 32px;
  transition: gap 0.5s;

  .tablet {
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    flex-grow: 1;
    padding: 48px 0;
    border: 1px solid var(--color-outline-variant);
    background-color: var(--color-surface-container);

    > i.xxl {
      margin-bottom: 6px;
    }

    .i-minio {
      height: 8px;
    }

    .subtitle {
      color: var(--color-on-surface-variant);
      font-size: 12px;
      font-weight: 400;
    }

    &:hover {
      color: var(--color-on-surface);
      border: 1px solid var(--color-outline);
      .active-badge {border-color: var(--color-outline);}
    }
  }

  .active-badge {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-running);
    display: flex;
    align-items: center;
    line-height: normal;
    padding: 4px 12px;
    background-color: var(--color-surface);
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--color-outline-variant);
  }
}

@container form-container (max-width: 700px) {
  .storage-options {
    grid-template-columns: unset;
    gap: 24px;
    .tablet {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px;
      text-align: left;
    }
    .active-badge {
      position: static;
      margin: 0 0 0 auto;
      padding: unset;
      border: none;
      transform: unset;
    }
  }
}
