@if (selectedStorage()) {
  <header>
      <button mat-icon-button (click)="cancelChanges(); selectedStorage.set(null)">
        <mat-icon fontSet="al" fontIcon="al-ico-back" data-id="backStorage"></mat-icon>
      </button>
      <span>{{ selectedStorage() | uppercase }} STORAGE CREDENTIALS</span>
    <div class="actions">
      <button mat-stroked-button
              type="button"
              [disabled]="storageForm.pristine"
              (click)="cancelChanges()">RESET CHANGES
      </button>
      <button mat-flat-button
              type="submit"
              [disabled]="storageForm.invalid || storageForm.pristine"
              (click)="save()">SAVE
      </button>
    </div>
  </header>
}
<form [formGroup]="storageForm" (ngSubmit)="onSubmit()">
  @switch (selectedStorage()) {
    @case ('google') {
      <sm-google-storage-credentials
        formGroupName="google"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-google-storage-credentials>
    }
    @case ('aws') {
      <sm-aws-storage-credentials
        formGroupName="aws"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-aws-storage-credentials>
    }
    @case ('azure') {
      <sm-azure-storage-credentials
        formGroupName="azure"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-azure-storage-credentials>
    }
    @default {
      <div class="storage-title">Storage Providers</div>
      <div class="storage-desc">Configure storage provider access credentials to enable ClearML to delete artifacts stored in cloud storage when tasks or models are deleted.</div>
      <div class="storage-options">
        <div class="tablet google" (click)="selectedStorage.set('google')">
          <i class="al-icon i-google-cloud xxl"></i>
          <div>Google Cloud Storage</div>
          @if (storageForm.controls.google.controls.credentials_json.value || storageForm.controls.google.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>Configured</span>
          }
        </div>
        <div class="tablet aws" (click)="selectedStorage.set('aws')">
          <i class="al-icon i-aws-cloud xxl"></i>
          <div>AWS S3 Storage</div>
          <span class="subtitle">(Use for <i class="al-icon i-minio xl"></i> as well)</span>
          @if (storageForm.controls.aws.controls.key.value || storageForm.controls.aws.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>Configured</span>
          }
        </div>
        <div class="tablet azure" (click)="selectedStorage.set('azure')">
          <i class="al-icon i-azure-cloud xxl"></i>
          <div>Azure Blob Storage</div>
          @if (storageForm.controls.azure.controls.containers.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>Configured</span>
          }
        </div>
      </div>
    }
  }
</form>
