@import "variables";

:host {
  border: 1px solid var(--color-surface-container-high);
  padding: 32px 24px;
  border-radius: 6px;
  display: block;
  max-width: 1600px;
  margin: 48px 24px;
}

.provider-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  background-color: var(--color-surface-container-lowest);
  border: 1px solid var(--color-surface-container-high);
  border-radius: 100%;
}

.trash {
  position: absolute;
  right: 12px;
  top: 6px;
}

.header {
  display: inline-flex;
  align-items: center;

  i.al-ico-info-circle {
    color: var(--color-on-surface-variant);
  }
}

mat-form-field,
mat-checkbox {
  margin-right: 10px;
  min-width: 200px;
}

.sub-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-on-surface);
  margin-bottom: 6px;
}

mat-form-field {
  margin-bottom: 0;

  .copy-clipboard {
    position: absolute;
    top: 0;
    right: -10px;
    background: var(--color-surface);
    border-radius: 36px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(0.2);
  }

  &:hover .copy-clipboard{
    visibility: visible;
    transform: scale(0.8);
    opacity: 1;
  }
}

.bucket-row {
  position: relative;
  border: 1px solid var(--color-outline-variant);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 4px;
}

