<div class="sm-card-list-layout projects"
     [class.in-empty-state]="!(((projectsList$ | ngrxPush)?.length !== 0 && (!allExamples || (showExamples$ | ngrxPush))) || searching)">
  <sm-projects-header
    (orderByChanged)="orderByChanged($event)"
    [sortByField]="projectsOrderBy$ | ngrxPush"
    [sortOrder]="projectsSortOrder$ | ngrxPush"
    [enableTagsFilter]="true"
    [tags]="projectsTags$ | ngrxPush"
  >
    <sm-button-toggle
      left-items
      class="ms-3"
      [value]="!!projectId"
      [options]="[
              {value: false, icon: 'al-ico-flat-view',  label: 'List view'},
              {value: true, icon:'al-ico-project-path', label: 'Project view'}
            ]"
      (valueChanged)="!(!!projectId && $event) && toggleNestedView($event)"
    ></sm-button-toggle>
    <div class="d-flex">
      <button
        class="btn btn-cml-primary d-flex align-items-center"
        (click)="createPipeline()">
        <i class="al-icon al-ico-add sm me-2" data-id="New Pipeline"></i>NEW PIPELINE
      </button>
    </div>
  </sm-projects-header>
  <ng-container
    *ngIf="((projectsList$ | ngrxPush)?.length !== 0 && (!allExamples || (showExamples$ | ngrxPush))) || searching; else emptyState">
    <sm-pipeline-card
      *ngFor="let project of projectsList$ | ngrxPush; trackBy: trackById ;let last=last"
      [hideMenu]="['All Experiments'].includes(project.name) || project['isRoot'] || isExample(project)"
      [hideProjectPathIcon]="!!projectId"
      [project]="project"
      [allTags]="projectsTags$ | ngrxPush"
      (projectCardClicked)="projectCardClicked($event)"
      (projectNameChanged)="projectNameChanged({id: project.id, name: $event})"
      (addTag)="addTag(project, $event)"
      (removeTag)="removeTag(project, $event)"
      (delete)="deleteProject(project)"
    ></sm-pipeline-card>
  </ng-container>

  <div class="load-more" *ngIf="(noMoreProjects$ | ngrxPush) === false && (projectsList$ | ngrxPush)?.length > 0">
    <sm-dots-load-more
      [loading]="loading"
      (loadMore)="loadMore()"
      class="mx-auto my-2"
    ></sm-dots-load-more>
  </div>
</div>
<ng-template #emptyState>
  <div class="empty-state">
    <div class="title-icon"><i class="al-icon al-ico-pipelines xxl"></i></div>
    <div class="title">NO PIPELINES TO SHOW</div>
    <div class="sub-title">Run your first pipeline to see it displayed here
      <ng-container *ngIf="allExamples"> or <a href=""
                                               (click)="$event.preventDefault(); createExamples()"
                                               class="link">generate example
      </a></ng-container>
    </div>

    <sm-pipelines-empty-state [initPipelineCode]="initPipelineCode" [createButton]="true"></sm-pipelines-empty-state>
  </div>
</ng-template>

