@import "variables";

:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  sm-projects-header {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $blue-800;
  }


  .empty-pipelines {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: map-get($grid-max-widths, xl);
    margin: 0 auto;
    padding: 24px;

    .title-icon {
      color: $blue-600;
      text-align: center;
      margin: 24px 0;
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      color: $blue-100;
      margin-bottom: 6px;
      text-align: center;
    }

    .sub-title {
      text-align: center;
      margin-bottom: 64px;

      .link {
        color: $neon-yellow;
      }
    }

  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;

  .code {
    min-width: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;

    a.dark {
      color: white;
    }

    sm-code-editor {
      display: block;
      width: 100%;
      height: 490px;
      margin-top: 6px;
      border-radius: 6px;
      overflow: hidden;
    }
  }

  .diagram {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 48px;

    i {
      width: 490px;
      height: 440px;
    }
  }
}
