@import "../../../../shared/ui-components/styles/variables";

::ng-deep .dark-theme {
  .legend-entry-name, .legend-entry-value {
    fill: $blue-250;
  }

  .donut-text {
    fill: $blue-250;

    tspan:nth-child(3) {
      stroke: $blue-800;
      stroke-width: 0.5px;
      font-weight: 500;
      pointer-events: none;
    }
  }
}

::ng-deep .legend-circle {
  &:hover {
    cursor: url(../../../../assets/icons/pallete-cursor.png) 6 0, pointer;
  }
}

.donut-legend {
  width: 260px;
  height: calc(100% - 24px);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 12px 0 0 -16px;
}

.donut-container {
  flex: 1;
}

::ng-deep .britechart-legend .legend-entry.is-faded .legend-entry-name {
  transition: unset !important;
}
