@import "variables";

::ng-deep .dark-theme {
  .legend-entry-name, .legend-entry-value {
    fill: $blue-250;
  }

  .donut-text {
    fill: $blue-250;

    tspan:nth-child(3) {
      stroke: $blue-800;
      stroke-width: 0.5px;
      font-weight: 500;
      pointer-events: none;
    }
  }
}

.donut-legend {
  display: flex;
  flex: 2;
  height: fit-content;
  max-height: 100%;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  overflow: auto;

  .slice {
    color: $blue-300;
    position: relative;
    margin-left: 22px;

    &.highlight {
      font-weight: bold;
      color: $blue-200;

      .circle {
        width: 14px;
        height: 14px;
        top: 4px;
        left: -21px;
      }
    }
  }

  .circle {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: -20px;
    border-radius: 50%;
    background-color: var(--sliceColor);

    &:hover {
      cursor: url(../../../../assets/icons/pallete-cursor.png) 6 0, pointer;
    }
  }

  .quantity {
    color: $blue-200;
    margin-left: 6px;
  }
}

.donut-container {
  flex: 3;
  height: 100%;
}
