@import "../../../../shared/ui-components/styles/variables";

::ng-deep .dark-theme {
  .legend-entry-name, .legend-entry-value {
    fill: $blue-250;
  }

  .donut-text {
    fill: $blue-250;

    tspan:nth-child(3) {
      stroke: $blue-800;
      stroke-width: 0.3px;
    }
  }
}

::ng-deep .legend-circle {
  &:hover {
    cursor: url(../../../../assets/icons/pallete-cursor.png) 6 0, pointer;
  }
}

.donut-legend {
  height: 673px;
  overflow: auto;
}

::ng-deep .britechart-legend .legend-entry.is-faded .legend-entry-name {
  transition: unset !important;
}
