@import "../../styles/variables";
@import "../../../../layout/layout";


.footer-container {
  border-top:solid 2px $neon-yellow-betterinchrome;
  position: fixed;
  // bottom: -$project-footer-height;
  left: 0;
  height: $project-footer-height;
  width: 100%;
  padding-left: 76px;
  background-color:#3a425c;
  color: $blue-100;
  font-size: 13px;
  font-weight: 500;
  z-index: 10;
  transition:bottom 0.3s ease-out;

  &.show-container {
    bottom: 0;
  }
}

