<h1>Ensuring control, consistency, and compliance across your organization</h1>
<div class="sub-title">
  Increase productivity by allowing administrators to centrally configure operational parameters and implement compliant policies.
</div>

<div class="section">
  <div class="details">
    <h2>Configuration Vaults</h2>
    Admin set values can extend or override user configurations making it easy to propagate required configuration as well as controlling security sensitive keys.
  </div>
  <img
    [ngSrc]="'app/webapp-common/assets/marketing/admin-vaults-fhd-' + theme() + '.png'"
    #image1
    (click)="imageClicked(image1)"
    width="640"
    height="360"
    alt="vaults"
  >
</div>

<div class="section">
  <img
    [ngSrc]="'app/webapp-common/assets/marketing/service-accounts-fhd-' + theme() + '.png'"
    #image2
    (click)="imageClicked(image2)"
    width="640"
    height="360"
    alt="Service accounts"
  >
  <div class="details">
    <h2>Service accounts</h2>
    Streamline automation by providing automated processes and applications with secure and manageable ClearML API access without requiring individual user credentials.
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>Access controls</h2>
    Set granular access permission to any ClearML resource, ensuring collaborative data security by defining who can access projects your organization, datasets, models and execution queues.
  </div>
  <img
    [ngSrc]="'app/webapp-common/assets/marketing/rbac-fhd-' + theme() + '.png'"
    #image3
    (click)="imageClicked(image3)"
    width="640"
    height="360"
    alt="RBAC"
  >
</div>

<div class="section">
  <img
    [ngSrc]="'app/webapp-common/assets/marketing/idp-fhd-' + theme() + '.png'"
    #image4
    (click)="imageClicked(image4)"
    width="640"
    height="360"
    alt="Idp sso"
  >
  <div class="details">
    <h2>Identity providers</h2>
    Integrate with your organization’s SAML/OIDC identity provider for streamlined user authentication and access control.
  </div>
</div>
<div class="cta">
  <a href="https://clear.ml/contact-us" target="_blank" class="cta-button">
    <mat-icon fontSet="al" fontIcon="al-ico-bullhorn"></mat-icon>CONTACT CLEARML</a>
</div>
