<div class="title">{{titleText}}</div>
<sm-search
  class="sm-search"
        [value]="searchText"
        [minimumChars]="0"
        [debounceTime]="0"
        placeholder="Search parameters"
        (valueChanged)="searchQ($event)"
></sm-search>
<div class="actions">
    <div class="pointer" (click)="onClearSelection()">Clear Selection</div>
    <ng-content></ng-content>
</div>
<div class="list">
    <div *ngFor="let item of itemsObjectList | filter:searchText:'value'; trackBy: trackByFn"
         class="item pointer"
         [class.disabled]="cb.disabled"
         [smTooltip]="!item.checked && (selectedItemsList.length >= limitSelection)? 'You can only select up to ' + limitSelection + ' parameters' : ''"
         customClass="parameter-tooltip"
         (click)="!cb.disabled && toggleParamToDisplay(item.value, item.checked)">
        <mat-checkbox #cb
                      smClickStopPropagation
                      [ngModel]="item.checked"
                      [disabled]="selectedItemsList.length >= limitSelection && !item.checked"
                      (ngModelChange)="toggleParamToDisplay(item.value, item.checked)"
        >
        </mat-checkbox>
        <label class="ellipsis">{{item.value}}</label>
    </div>
</div>
