  <div class="search-container" [ngClass]="{'open': isSearching$ | async}">
    <sm-search
      #search
      class="search-header"
      [value]="searchQuery$ | async"
      [placeholder]="searchPlaceholder$ | async"
      [hideIcons]="true"
      (valueChanged)="onSearchValueChanged($event)"
      (focusout)="onSearchFocusOut()"
    >
    </sm-search>
  </div>
  <div class="search-icon-container" *ngIf="searchActive">
    <i *ngIf="!(isSearching$ | async)" class="fa fa-search pointer" (click)="openSearch()"></i>
    <i *ngIf="(isSearching$ | async)" class="fa fa-times pointer" (click)="clearSearch()" smClickStopPropagation></i>
  </div>
