@import "variables";

:host {
  position: absolute;
  height: 32px;
  display: flex;
  align-items: center;
  right: 110px;
  // background-color: var(--color-surface-container-low);
  z-index: 1;
  padding-left: 20px;

  .search-container {
    width: 0;
    overflow: hidden;
    transition: width 0.35s ease-in-out;
    display: inline-block;

    &.open {
      width: 284px;
      margin-right: 20px;
    }
  }

  .regexp {
    position: absolute;
    right: 8px;

    &.active {
      color: var(--color-on-secondary);
      background-color: var(--color-secondary);
    }

    &.error {
      width: 20px;
    }
  }

  .al-ico-error-circle {
    right: 48px;
  }

  .al-ico-dialog-x {
    transform: scale(0.9);
  }
}
