@import "variables";
@import "variables_v2";

:host {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;

  .search-container {
    width: 0;
    overflow: hidden;
    transition: width 0.35s ease-in-out;
    display: inline-block;

    &.open {
      width: 284px;
    }
  }

  .regexp {
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 4px;
    position: relative;
    right: 24px;

    &:hover {
      background-color: $background-color-hover;
    }

    &.active {
      color: $primary-color;
      background-color: $background-color-hover;
    }

    &.al-ico-error-circle {
      width: 0;
      right: 48px;
    }
  }

  .al-icon {
    color: $text-gray;
    margin-left: auto;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    flex: 0 0 32px;
    display: flex;
    border-radius: 4px;

    &:hover {
      color: $text;
      background-color: $background-color-hover;
    }
  }

  .al-ico-dialog-x {
    transform: scale(0.9);
  }

  ::ng-deep sm-search.regex-error input {
    padding-right: 56px !important;
    border-color: $failed-red !important;
  }
}
