@import "variables";

.admin-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.actions {
  width: 102px;
  gap: 20px;

}

.action-button {
  color: var(--color-on-surface-variant);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &:hover {
    color: var(--color-on-surface);
    transition: color 0.2s;
  }
}

thead {
  th {
    border-bottom: solid 1px var(--color-outline-variant);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 8px;
    text-align: left;

    &:nth-child(1) {
      width: 300px;
    }

    &:nth-child(2) {
      width: 200px;
    }

    &:nth-child(3) {
      width: 120px;
    }

    &:last-of-type {
      width: 64px;
    }

  }
}

tbody {
  tr {
    height: 48px;
    border-bottom: solid 1px var(--color-surface-container-high);

    .action-button {
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: var(--color-surface-container-low);

      .action-button {
        visibility: visible;
        opacity: 1;
      }
    }

    td {
      color: var(--color-on-surface-variant);
      padding: 0 8px;
      white-space: nowrap;

      &:last-of-type {
        text-align: center;
      }

      .label {
        max-width: 400px;
      }
    }
  }
}
