@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .worker-info-container,
  .queues-table-container {
    flex: 1;
    overflow: auto;
  }

  ::ng-deep .table-row {
    height: 40px;
    background-color: $blue-800 !important;
    border-bottom: 1px solid $dark-border;
    padding: 0 !important;
    display: flex;
    &:last-of-type {border-bottom-color: $dark-border !important;}
  }

  ::ng-deep {
    .row {
      width: 100%;
      line-height: normal !important;
    }
    [class^='col'] {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .row.headers {
      height: 39px;
      align-items: center;
      line-height: normal !important;
      border-bottom: 1px solid $dark-border !important;
      color: $blue-400;
    }
  }

  .tabs-container {
    position: relative;
    height: 48px;
    padding-top: 12px;
    border-bottom: 1px solid $dark-border;

    ::ng-deep .navbar-item {
      height: 100%;
      padding: 0 15px;
      margin: 0 1px;
    }
  }

  .close {
    position: absolute;
    right: 24px;
    top: 12px;
    color: $blue-300;
    &:hover {
      color: $blue-200;
    }
  }

  .id-cell {
    .value {
      flex: 1;
    }

    .copy-btn {
      min-width: 30px;
      margin-left: 5px;
      visibility: hidden;

      ::ng-deep .btn {
        padding: 0;
      }
    }

    &:hover {
      .copy-btn {
        visibility: visible;
      }
    }
  }

  .empty-state {
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
