:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep sm-labeled-row .label-container {
    width: 175px !important;
  }

  .editable-design {
    flex: 1;
    min-height: 300px;
  }
}
