<sm-edit-pipeline-header
(settingsPipelineAction)="settings()"
(createPipelineStep)="createPipelineStep()"
(savePipeline)="savePipeline()"
(compilePipeline)="compilePipeline()"
(runPipeline)="runPipeline()"
[pipelineData]="selectedPipeline"
>
</sm-edit-pipeline-header>
<div class="edit-pipeline-body">
  <!-- <div class="details"><i class="icon no-output-icon i-no-code-dark"></i>&nbsp;DETAILS</div> -->
  <sm-flow-editor *ngIf="selectedPipeline?.flow_display?.nodes?.length" [pipelineData]="selectedPipeline" (nodesChangedInReactFlow)="nodesChangedInReactFlow($event)" (edgesChangedInReactFlow)="edgesChangedInReactFlow($event)" />
  <div class="pipeline-empty">
    <i class="icon i-fingers-white mx-auto xxl"></i>
    <br/>
    <div class="sub-title">
      Please add atleast one step to get started
    </div>
    
  </div>
</div>