.edit-pipeline-main {
    display: flexbox;
}

.edit-pipeline-body {
    position: relative;
    width: 100%;
    height: calc(100% - 66px);
    transition: height 0.3s;
    background-color: #0D0E15;

    sm-flow-editor {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
    }

    .console-button {
        display: block;
        position: absolute;
        left: 24px;
        top: 24px;
        z-index: 2;
    }

    sm-pipeline-step-info {
        display: block;
        position: absolute;
        z-index: 2;
        top: 24px;
        right: 24px;
    }

    .pipeline-empty {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100svh;
        justify-content: center;
    }
}