@import "variables";

:host {
  display: grid;
  grid-template-rows: 70px minmax(0, 1fr);
  max-height: 100%;

  .title {
    color: var(--color-on-surface);
    font-size: 16px;
    text-transform: uppercase;
    margin: 32px 0 12px 0;
    .al-icon {
      color: var(--color-outline);
      &:hover {
        color: var(--color-on-surface-variant);
      }
    }
  }
  sm-s3-access {
    max-height: 100%;
  }

  .section {
    margin: 6px 0 0 0;
    padding-bottom: 48px;
  }
}
