@import "../../../styles/variables";

:host {
  .filter-sort-container {
    ::ng-deep .menu-button {
      color: $blue-400;
      font-weight: bold;

      &.active {
        color: $blue-250;
      }
    }
    .cell{
      display: flex;
    }


    .sort-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }
}

button {
  font-size: 14px;
  font-weight: 500;
}

.filter-point {
  margin-right: 4px;
  display: inline-block;
  &.hidden {
    visibility: hidden;
  }
}

.filter{
  font-size: 14px;
  font-weight: 500;

  &::placeholder {
    font-size: 14px;
  }
}

.filter-type {
  padding: 4px 14px;
  text-align: right;

  .link {
    font-size: 12px;
    font-weight: 500;
    color: $blue-200;
    cursor: pointer;

    &.selected {
      color: $blue-400;
      pointer-events: none;
      cursor: initial;
    }
  }
}

.results.scroll {
  height: 60vh;
  max-height: 400px;
  overflow: auto;
}
