@import "variables";

:host {
  display: flex;
  &.hidden {
    display: none;
  }
  justify-content: center;
  padding: 2px 8px;
  color: $blue-500;
  position: relative;
}

.load-more__dot {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $blue-500;
  color: $blue-500;
  animation: dot 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.load-more__dot::before,
.load-more__dot::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.load-more__dot::before {
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $blue-500;
  color: $blue-500;
  animation: dot 1s infinite alternate;
  animation-delay: 0s;
}

.load-more__dot::after {
  left: 12px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $blue-500;
  color: $blue-500;
  animation: dot 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot {
  0% {
    background-color: $blue-500;
  }
  50%, 100% {
    background-color: rgba($blue-500, 0.2);
  }
}
