:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 394px;
    margin-bottom: 24px;
    padding: 12px 0;
    border: 1px solid var(--color-outline-variant);
    border-radius: 4px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    margin: 24px 0;
  }

  sm-select-metric-for-custom-col {
    display: block;
    width: 350px;
    height: 370px;
    border-right: 1px solid var(--color-outline-variant);
    padding-right: 16px;
  }

  .selected {
    height: 370px;
    overflow: auto;
    padding: 0 12px 0 0;
    &-head {
      padding: 6px 0;
      text-align: right;
      border-bottom: 1px solid var(--color-outline-variant);
      a {
        color: var(--color-primary);
      }
    }
  }

  .metric {
    display: flex;
    height: 42px;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    border-bottom: solid 1px var(--color-outline-variant);

    .name {
      font-size: 12px;
      font-weight: 500;
      margin-right: 6px;
      max-width: 276px;
    }

    .remove {
      margin-left: auto;
      visibility: hidden;
      opacity: 0;
    }

    &:first-child {
      border-top: 1px solid var(--color-outline-variant);
    }
    &:hover .remove {
      visibility: visible;
      opacity: 1;
    }
  }
}
