@import "variables";

:host {
  position: relative;
  .ace {
    height: 100%;
    width: 100%;
    line-height: 1.6;

    &.ace-monokai {
      background-color: $blue-900;
    }
  }

   .copy-button {
     position: absolute;
     right: 12px;
     top: 12px;
     z-index: 10;
     opacity: 0;
   }

  &:hover {
    .copy-button {
      opacity: 1;
    }
  }
}
