<!--<div-->
<!--  #diagramContainer-->
<!--  class="pipeline-container"-->
<!--  tabindex="1"-->
<!--  [class.extend]="showLog()"-->
<!--  (click)="selectStep()"-->
<!--  (keyup)="selectStep()"-->
<!--  data-id="pipelineContainer"-->
<!--&gt;-->
<!--  @if (dagModel$ | ngrxPush; as dagModel) {-->
<!--    @for (row of dagModel; track $index) {-->
<!--      <div class="level" [style.width.px]="chartWidth">-->
<!--        @for (step of row; track step.id) {-->
<!--          <sm-pipeline-controller-step-->
<!--            #taskEl-->
<!--            [step]="step"-->
<!--            [selected]="selectedEntity()?.id === step?.id"-->
<!--            (click)="$event.stopPropagation(); !taskEl.selected() && selectStep(step)"-->
<!--            (openConsole)="openLog()"-->
<!--          ></sm-pipeline-controller-step>-->
<!--        }-->
<!--      </div>-->
<!--    }-->
<!--    @if (chartWidth) {-->
<!--      <svg class="arrows"-->
<!--           [class.selected]="selectedEntity()?.id"-->
<!--           [attr.viewBox]="'0 0 ' + chartWidth + ' ' + (50 + 132 * dagModel?.length)"-->
<!--           [style.width.px]="chartWidth"-->
<!--           [style.height.px]="50 + 132 * dagModel?.length"-->
<!--      >-->
<!--        @for (arrow of highlightedArrows$ | ngrxPush; track arrow.path) {-->
<!--          <g-->
<!--            [class.selected]="arrow.selected"-->
<!--            [class.outgoing]="arrow.outgoing"-->
<!--          >-->
<!--            <path [attr.d]="arrow.path" fill="none" stroke-width="2"></path>-->
<!--            <polygon-->
<!--              points="0,-6 12,0, 0,6"-->
<!--              [attr.transform]="arrow.headTransform"-->
<!--            />-->
<!--          </g>-->
<!--        }-->
<!--      </svg>-->
<!--    }-->
<!--  }-->
<!--</div>-->
