.labeled-row {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 0;
  border-bottom: 1px solid var(--color-surface-container-high);

  .label-container {
    width: 155px;
    flex: 0 0 155px;
    font-weight: 500;
    color: color-mix(in srgb, var(--color-on-surface-variant), transparent 20%);
    font-size: 11px;
    padding-right: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .content {
    flex: 1;
    word-break: break-word;
  }
}
