<sm-editable-section #metadataSection
                     [class.in-edit]="inEdit()"
                     [editable]="(selectedModel$ | ngrxPush)?.company?.id && ((isSharedAndNotOwner$ |ngrxPush)===false)"
                     [saving]="saving$ | ngrxPush"
                     [disableSave]="metadataForm()?.invalid"
                     (cancelClicked)="cancelModelMetaDataChange()"
                     (saveClicked)="saveFormData()"
                     (activateEditClicked)="activateEditChanged('metadata')">
  <sm-section-header label="Metadata"></sm-section-header>
  @if (inEdit()) {
      <ng-form #metadataForm="ngForm" smUniqueInListSyncValidator2 prefix2="metadataItemKey-"
      >
        @for (metadataItem of metadata; track metadataItem.id) {
          <div class="d-flex align-items-start me-3 mb-2">
            <mat-form-field [hintLabel]="metadataItemKey.invalid && metadataItemKey?.errors?.required? '*Required': ''" appearance="outline" class="w-100">
              <input #metadataItemKey="ngModel"
                     placeholder="key"
                     required
                     [(ngModel)]="metadataItem.key"
                     [name]="'metadataItemKey-'| uuid"
                     matInput>
              @if (metadataItemKey.touched && metadataItemKey.invalid && metadataItemKey?.errors?.required) {
                <mat-error>
                  Required
                </mat-error>
              }
              @if (metadataForm?.errors?.uniqueName2 && metadataForm?.errors?.uniqueName2[$index]) {
                <span class="outside-error">Key must be unique.
              </span>
              }
            </mat-form-field>
            <mat-form-field [hintLabel]="metadataItemType.invalid && metadataItemType?.errors?.required? '*Required': ''"
                            appearance="outline" class="strength w-100">
              <input #metadataItemType="ngModel"
                     [(ngModel)]="metadataItem.type"
                     placeholder="type"
                     required
                     [name]="'metadataItemType-' | uuid"
                     matInput>
              @if (metadataItemType.touched && metadataItemType.invalid && metadataItemType?.errors?.required) {
                <mat-error>
                  Required
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <input #metadataItemKey="ngModel"
                     [(ngModel)]="metadataItem.value"
                     placeholder="value"
                     [name]="'metadataItemValue-'| uuid"
                     matInput>
            </mat-form-field>
            <button mat-icon-button (click)="removeRow($index)" data-id="deleteIcon">
              <mat-icon fontSet="al" fontIcon="al-ico-trash"></mat-icon>
            </button>
          </div>
        }
        <button mat-stroked-button class="icon-only plus mt-2" (click)="addRow()" data-id="addMetaDataButton">
          <mat-icon fontSet="al" fontIcon="al-ico-plus"></mat-icon>
        </button>
      </ng-form>
  } @else {
    <sm-table
      class="h-100"
      [columns]="cols"
      [tableData]="metadata"
      [resizableColumns]="false"
      [scrollable]="true"
      [selectionMode]="null"
    >
      <ng-template let-col let-row="rowData" pTemplate="body">
        {{ row?.[col.id] }}
      </ng-template>
    </sm-table>
  }
</sm-editable-section>

