.content {
  height: calc(100% - 20px);
  overflow: auto;
}

.mat-mdc-form-field{ margin-right: 12px}
.outside-error {
  position: absolute;
  top: 46px;
  left: -10px;
  font-size: 11px;
  color: red;
}
