@import "variables";

// TODO: move to theme definition?
$table-row-height: 32px;
$table-row-padding: 10px;

:host {
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .draggable {
    cursor: move;
  }

  .headers {
    line-height: 40px;
    border-bottom: 1px solid var(--color-outline-variant);
    font-weight: 500;
    font-size: 12px;
  }

  .table-row {
    line-height: $table-row-height;
    padding-top: 10px;
    padding-bottom: 10px;

    ::ng-deep .flashing-icon {
      opacity: 0;
    }

    &:hover ::ng-deep .flashing-icon {
      opacity: 0.5;
    }

    &:not(:hover) ::ng-deep .flashing-icon {
      opacity: 0 !important;
    }

    &:nth-child(even) {
      background-color: var(--color-surface);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--color-outline-variant);
    }

    &.toggleable {
      cursor: pointer;
      max-height: $table-row-height + ($table-row-padding * 2);
      transition: 0.6s ease-out;
      overflow: hidden;

      &:hover {
        background-color: var(--row-default-hover-color);
      }

      &.open {
        transition: 0.6s max-height ease-in;
        max-height: 600px;
        overflow-y: auto;
      }
    }

  }

  .empty-state {
    text-align: center;
    padding-top: 12px;
  }
}
