@if (!hideHeaders()) {
  <div class="headers">
    @for (col of cols(); track col.header + $index) {
      <div [class]="col.class">{{col.header}}</div>
    }
  </div>
}
<div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!enableDragAndDrop()">
  @for (row of rowsData(); track trackByFn(i, row); let i = $index) {
    <div
      cdkDrag
      cdkDragPreviewContainer="parent"
      class="table-row"
      [class.toggleable]="isRowToggleable(i)"
      [class.open]="open[i]"
      [class.draggable]="enableDragAndDrop()"
      (click)="toggleRow(i)"
      >
      <ng-template
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{$implicit: cols()[i], row: row, rowIndex: i}">
      </ng-template>
    </div>
  }
  @if (!rowsData()?.length) {
    <div class="empty-state">
      {{ noDataMessage() || 'No data to show'}}
    </div>
  }
</div>
