@import "variables";

:host {
  .search-experiment-for-compare {
    margin-bottom: 12px;
  }

  .select-experiments-container {
    height: calc(100% - 50px);
    width: 100%;
  }

  .hide-table {
    height: 0;
    overflow: hidden;
    transition: $transition-fast;

    &.show-table {
      height: calc(100% - 30px);
      overflow-y: auto;
    }
  }

  ::ng-deep sm-table p-table {
    .p-datatable-hoverable-rows .p-selectable-row .cursor-default{
      cursor: pointer;
    }
  }
}

