@import "../../ui-components/styles/variables";

:host {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  h4 {
    margin: 0;
    display: block;
    position: relative;
    color: $blue-400;
    span.error.ng-star-inserted {
      border: solid red 4px;
      background-color: red;
      border-radius: 6px;
      position: absolute;
      right: -14px;
      top: 1px;
    }
  }
}
