@import "../../styles/variables";
@import "../../styles/mixins/icon";

:host {
  /deep/ .mat-slide-toggle-thumb {
    background-color: $blue-400;
  }
  /deep/ .mat-slide-toggle-bar {
    background: rgba($blue-300, 0.5);
  }

  /deep/.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-thumb {
      @include icon('#{$assets-icons-path}/white-v.svg');
      background-size: 55%;
      background-color: $purple;
    }

    .mat-slide-toggle-bar {
      background: rgba($blue-300, 0.5);
    }
  }
}
