// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../../../../../../node_modules/@angular/material/index' as mat;
// Plus imports for other components in your app.
$neon-yellow: #d3ff00;
$white-primary-text: rgba(white, 0.87);
$sm-neon: (
  50: lighten($neon-yellow, 30%),
  100: lighten($neon-yellow, 25%),
  200: lighten($neon-yellow, 20%),
  300: lighten($neon-yellow, 15%),
  400: lighten($neon-yellow, 10%),
  500: $neon-yellow,
  600: darken($neon-yellow, 10%),
  700: darken($neon-yellow, 15%),
  800: darken($neon-yellow, 20%),
  900: darken($neon-yellow, 25%),
  A100: $neon-yellow,
  A200: darken($neon-yellow, 5%),
  A400: darken($neon-yellow, 10%),
  A700: darken($neon-yellow, 15%),
  contrast: (
    50: $white-primary-text,
    100: $white-primary-text,
    200: $white-primary-text,
    300: $white-primary-text,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$sm-neon-palette-primary: mat.define-palette($sm-neon);
$sm-neon-palette-accent: mat.define-palette($sm-neon, A200, A100, A400);
// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);
$font-family-base: 'Heebo', sans-serif; // Assumes the browser default, typically `16px`
$custom-typography: mat.define-typography-config(
  $font-family: $font-family-base
);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: $custom-typography,
  density: -2
));

$sm-neon-theme: mat.define-dark-theme((
  color: (
    primary: $sm-neon-palette-primary,
    accent: $sm-neon-palette-accent,
  ),
  typography: $custom-typography,
  density: -2
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.dialog-theme($theme);
@include mat.slider-theme($sm-neon-theme);
@include mat.form-field-theme($theme);

@import "src/app/webapp-common/shared/ui-components/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  border: 1px solid $dark-border;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &.gap {
    gap: 12px !important;
  }
}

.mat-mdc-dialog-container {
  padding: 0 !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}
.dark-theme .plot-container .hoverlayer {
  line[stroke-width="1"] {
    stroke: $blue-300;
  }

  line[stroke-width="3"] {
    stroke: $blue-900;
  }

  .hovertext {
    rect {
      fill: #000 !important;
    }
    path {
      stroke: #000  !important;
    }
  }
}

.al-icon, .icon {
  width: 24px;
  height: 24px;
  font-size: 24px;

  &.xs {
    width: 10px;
    height: 10px;
    font-size: 10px;
  }

  &.msm {
    width: 13px;
    height: 13px;
    font-size: 13px;
  }

  &.sm {
    width: 16px;
    min-width: 16px;
    height: 16px;
    font-size: 16px;
  }

  &.sm-md {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  &.md {
    width: 28px;
    height: 28px;
    font-size: 28px;
  }

  &.lg {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }

  &.l-40 {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }

  &.xl {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }

  &.xxl {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }
}

.al-icon {
  text-align: center;
  display: inline-block;
}


.modebar {
  top: 20px !important;
}

.modebar-btn[data-attr="plotly-disabled-maximize"] {
  cursor: default !important;

  path {
    fill: $blue-600 !important;
  }
}

.legendlines path,
.legendpoints path {
  cursor: default !important;
}

sm-debug-image-snippet {
  .image-var {
    top: 8px;
    bottom: unset;
  }
}


.dark-theme .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(255, 255, 255, 0.87);
}
  .dark-theme {
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
      .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
        border-color: $blue-500;
        border-width: 1px;
      }

      &:not(.mdc-text-field--focused):hover .mdc-notched-outline {
        .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
          border-color: $blue-450;
        }
      }

      &.mdc-text-field--focused {
        .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
          border-color: $blue-400;
        }
      }
    }
  }

.dark-theme, .light-theme {
  .mat-mdc-form-field {
    --mdc-typography-body1-font-size: 14px;
    --mdc-typography-body1-line-height: 16px;

    &.mat-form-field-appearance-outline {
      &.black {
        background-color: #000;

        .mat-mdc-select-value, .mat-mdc-select-arrow {
          color: $blue-200;
        }
      }

      .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
          height: 100%;

          .mat-mdc-form-field-infix {
            min-height: 100%;
            padding: 5px 0;

            .mat-mdc-input-element {
              height: 26px;
            }
          }

          .mat-mdc-form-field-icon-suffix {
            line-height: 24px;
          }
        }
      }
    }
    &.mat-form-field-appearance-fill {
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;

        .mat-mdc-input-element {
          background-color: transparent;
        }
      }

      &.mat-focused {
        .mat-mdc-form-field-focus-overlay {
          opacity: 5%;
        }
      }
    }
  }
}

.mat-mdc-form-field.smooth-input {
  height: 36px;
}

.label-text.smoothing-text {
  color: $blue-200;
}
// hide arrows for number inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

// hide arrows for number inputs (FireFox)
input[type=number] {
  -moz-appearance: textfield !important;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  min-height: 32px;
  min-width: 32px;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  border-radius: 14px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($blue-600, 10%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($blue-600, 20%);
}

::-webkit-scrollbar-corner {
  background-color: transparent
}
