@import "variables";

.table-card {
  display: grid;
  grid-template-columns: 20px 32px 1fr;
  align-items: center;
  gap: 8px 12px;
  padding: 30px 16px;
  grid-template-areas:
    "cbx type-icon card-name"
    ". . tags"
    ". . data";
  &.two-columns {
    grid-template-columns: 24px 1fr;
    grid-template-areas:
    "cbx card-name"
    ". tags"
    ". data";
  }
}

.cbx { grid-area: cbx; margin-right: auto; }
.type-icon { grid-area: type-icon; display: flex; justify-content: center; }
.card-name { grid-area: card-name; display: flex; overflow: hidden;}
.tags { grid-area: tags; overflow: hidden; }
.data { grid-area: data; overflow: hidden; text-overflow: ellipsis; }


.name-container {
  min-width: 0;
  display: flex;
  margin-right: 12px;
}
.name {
  flex: 1;
  font-weight: 500;
  color: $blue-50;
  min-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-row {
  padding: 2px;
  color: $cloudy-blue-two;
}



::ng-deep sm-model-tags .tag {
  margin-left: 0px !important;
  margin-right: 5px;
}
