@import '../../../../webapp-common/layout/layout.scss';

:host {
  display: block;
  width: 100%;

  .header-container {
    padding-left: 24px;
    height: $project-header-height;
    transition: background-color 0.5s;

    .hide-item {
      visibility: hidden;
    }

    &.archive-mode {
      transition: background-color 0.5s;
      background-color: var(--color-surface-variant);
    }
  }

  .right-buttons {
    margin-right: 24px;
  }
}

sm-select-metric-for-custom-col {
  display: block;
  height: 640px;
  max-height: calc(100vh - 120px);
}
