:host {
  display: block;
  max-width: 640px;

  p {
    font-size: 14px;
    color: var(--color-on-surface-variant);
    overflow-wrap: break-word;
  }

  .buttons {
    margin-top: 41px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    button {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .enqueue-warning {
    height: auto;
    transition: opacity 1s;
    opacity: 1;
  }
}

.new {
  font-weight: normal;
  color: var(--color-primary);
  margin-left: 6px;
}
