@import "../../styles/variables";

:host {
  min-height: 23px;
}

.tag {
  line-height: 21px;
  margin: 1px 1px 1px 10px;
  min-width: 30px;
  color: $blue-100;
  font-size: 10px;
  font-weight: 500;
  padding: 1px 4px;
  background-color: $blue-400;
  border: solid 1px $blue-300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.tag.example {
  background: $neon-yellow;
  color: #68777C;
  min-width: unset;
  border: solid 1px rgba(148, 163, 255, 0.5);
}
