<form class="filter-form p-4" smClickStopPropagation smKeyDownStopPropagation [formGroup]="iterationsForm">
  <mat-form-field appearance="outline" class="no-bottom">
    <mat-label>Equals or greater than</mat-label>
    <input
      type="text"
      matInput
      formControlName="greaterThan"
      data-id="Equals Or GreaterThan"
      [errorStateMatcher]="immediate"
      >
    <button matSuffix mat-icon-button (click)="iterationsForm.get('greaterThan').setValue(null)" data-id="cross button">
      <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon>
    </button>
  </mat-form-field>
  <sm-divider [label]="'and'"></sm-divider>
  <mat-form-field appearance="outline" class="no-bottom">
    <mat-label>Equals or less than</mat-label>
    <input
      type="text"
      matInput
      formControlName="lessThan"
      data-id="Equals Or LessThan"
      name="greaterThan"
      [errorStateMatcher]="immediate"
      >
    <button matSuffix mat-icon-button (click)="iterationsForm.get('lessThan').setValue(null)" data-id="cross button">
      <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon>
    </button>
  </mat-form-field>
</form>
@if (hasTimeError) {
  <sm-table-filter-duration-error  [fullWidth]="true"></sm-table-filter-duration-error>
}
