<sm-dialog-template [header]="mainTitle()"
                    [headerClass]="'fw-normal al-color blue-500 no-uppercase'"
                    iconClass="al-icon al-ico-bullhorn"
                    (xClicked)="matDialogRef.close(false)"
>
  <div class="tip-container" smClickStopPropagation>
    @if (changes()[changeIndex()].image) {
      <div
        class="tip-image"
        [class.full-width]="!changes()[changeIndex()].content"
        [style.background-image]="'url(' + changes()[changeIndex()].image + ')'"></div>
    }
    @if (changes()[changeIndex()].content) {
      <div class="tip-content" [class.full-width]="!changes()[changeIndex()].image">
        <div class="content-title">{{changes()[changeIndex()].title}}</div>
      <div
        class="tip-content"
        [innerHTML]="changes()[changeIndex()].content | purify"></div>
      </div>
    }
  </div>

  <div class="footer">
    <button class="btn btn-neon" (click)="matDialogRef.close(true)">DISMISS</button>
  </div>
</sm-dialog-template>
