:host {
  .status-line {
    height:32px;
    position: relative;

    .label {
      display: flex;
      justify-content: center;
      padding: 2px 12px 0 12px;
      letter-spacing: 0.03em;
      background-color: var(--status-color);
      color: color-mix(in srgb, var(--status-color), var(--color-surface) 90%)
    }

    &::before {
      content: "";
      border-top: 6px solid var(--status-color);
      display: block;
      position: relative;
      z-index: 2;
    }

    > .notch {
      display: inline-flex;
      align-items: center;
      position: absolute; z-index: 1; top: 0; left: 50%;
      transform: translateX(-50%);
      height: inherit;
      font-size: 12px; font-weight: 500;
      letter-spacing: 0.05em;
      background-color: var(--status-color);

      &::before, &::after {
        content:"";
        display: block;
        position: relative;
        width: 0;
        height: 0;
        border-bottom: 34px solid var(--color-surface-container-lowest);
      }
      &::before {
        left: -1px;
        border-right: 16px solid transparent;
      }
      &::after {
        right: -1px;
        border-left: 16px solid transparent;
      }
    }
  }
}


