@import "variables";
.dummy {
  opacity: 0;
  position: absolute;
  left: -9999px;
}
.dialog-content {
  max-height: 400px;
  overflow-y: auto;
  padding-left: 14px;
  padding-right: 14px;
}
.param {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .key {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  .value {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  // input {
  //   width: 100%;
  //   border: 1px solid $grey-purple; /* Adding border around input field */
  //   padding: 8px; /* Adding padding to input field */
  // }
}
