@import "../../../../webapp-common/shared/ui-components/styles/variables";


:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  sm-table {
    display: block;
    height: 100%;
  }

  .table-container {
    height: 100%;
  }

  .experiment-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .parent-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .italic {
    font-style: italic;
    padding-right: 2px;
  }

  .checkbox-align-top {
    margin-top: -10px;
  }

  .checkbox-col {
    display: block;
    float: left;
    padding-left: 10px;

    &.header {
      padding-left: 17px;
    }
  }

  .drop-down {
    padding-left: 4px;
    pointer-events: initial;
    cursor: pointer;
  }

  .compact-columns-data {
    gap: 12px;
    color: $blue-250;
  }
}

sm-table-card-filter-template {
  margin-left: 1em;
}

.btn-outline-light {
  font-weight: 500;
  &:hover {
    color: $purple;
  }
}

.menu-title {
  background-color: white;
  color: $blue-400;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px 0;
  height: 32px;
  line-height: 32px;
}

.dot {
  color: $blue-500;
  padding: 0 6px;
}
