@import "variables";

.al-card {
    .card-container {
      //background-color: var(--color-surface-container-low);
      //border: 1px solid rgba(var(--color-primary-container), 0);
      border: 1px solid transparent;
      //transition: border 0.3s;
      &.bordered {
        border: 1px solid var(--color-outline-variant);
      }

      .line {
        border: solid var(--color-surface)  0.5px;
      }
    }

    footer {
      background-color: var(--color-on-primary);
    }
  //margin-top: 15px;
  //margin-bottom: 15px;
  border: solid 0;

  .extra-header {
    background: var(--color-surface-bright);
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
  }

  .card-container {
    //transition: border 0.3s;
    border-radius: 6px;

  }

  header {
    padding: 0 15px;
    position: relative;
  }

  .line {
    margin: 15px 15px;
    width: auto;
  }

  .card-body {
    padding: 15px;
    min-height: 1px;
  }

  footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
