@import "variables";

:host {
  display: block;
  padding: 0 10px 0 24px;
  margin: 0;
  overflow: scroll;

  mat-expansion-panel-header {
    padding: 0;

    &.mat-expansion-toggle-indicator-before {
      .mat-expansion-indicator {
        margin: 0 12px 0 2px;
        height: 20px;
        line-height: 1;
      }
    }

    &.has-children {
      .mat-content {
        padding-right: 12px;
      }
    }

    .mat-content {
      height: 100%;

      .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
      }
    }
  }

  mat-panel-description {
    justify-content: flex-end;
    color: $blue-400;
  }

  .no-children {
    margin-left: -3px;
    ::ng-deep .mat-expansion-panel-body {
      display: none;
    }

    mat-panel-description {
      margin-right: 16px;
    }
  }

  .list {
    padding: 0;
    margin: 0 -12px 0 0;

    li {
      &.list-item {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        padding: 0 4px;
        line-height: 32px;
        list-style: none;

        &:hover {
          background-color: $blue-50;
          transition: background-color 0.2s;
        }

      }

    }
  }

  .mat-expansion-panel {
    box-shadow: none;
    //border-bottom: 1px solid rgba(2, 2, 2, 0.07);
    color: $blue-400;

    &.mat-expanded {
      .item-key {
        color: $purple;
      }
    }
    .al-ico-show {
      visibility: hidden;
    }
    &:hover {
      color: $blue-500;
      .al-ico-show {
        visibility: visible;
      }
    }
  }
}

.gray {
  color: gray;
}

.item-key {
  font-size: 14px;
}

.list-item-key {
  font-size: 12px;
}

.unchecked {
  opacity: 0.4;
}
