@import "../../styles/variables";

:host {

  display: block;
  padding: 0 10px 0 24px;
  margin: 0 12px 0 0;
  overflow: scroll;

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 1px 0 0;

    &.has-children {
      .mat-content {
        padding-right: 15px;
      }
    }

    .mat-content {
      height: 100%;

      .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }

    .mat-expansion-indicator {
      height: 25px;
    }

    &.mat-expanded, mat-expanded:focus {

      .mat-expansion-indicator {
        height: 22px;
      }
    }


  }

  ::ng-deep mat-expansion-panel.no-children {
    .mat-expansion-panel-body {
      display: none;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0;

    .list {
      padding-left: 0;

      li {
        &.list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 4px;
          cursor: pointer;
          padding: 0 24px 0 16px;
          line-height: 32px;
          list-style: none;


          &:hover {
            background-color: $blue-50;
            transition: background-color 0.2s;
          }

        }

      }
    }

  }

  ::ng-deep .mat-expansion-panel-header-description {
    flex-grow: 0;
    color: $blue-400;
  }

  .mat-expansion-panel {
    box-shadow: none;
    //border-bottom: 1px solid rgba(2, 2, 2, 0.07);
    color: $blue-400;

    &.mat-expanded {
      .item-key {
        color: $purple;
      }
    }
  }

  ::ng-deep .mat-content {
    padding-right: 2px;

    .mat-expansion-panel-header-title {
      margin: unset;
      color: $blue-400;
    }

  }

}

.gray {
  color: gray;
}

i.icon {
  display: block;
  font-size: 15px;
  width: 15px;
  height: 15px;
}

.item-key {
  width: 80%;
  font-size: 13px;
}

.list-item-key {
  font-size: 13px;
}

.unchecked {
  opacity: 0.4;
}
