:host {
  display: block;
  height: 100%;

  sm-experiment-log-info {
    height: calc(100% - 50px);
    &.no-header {
      height: calc(100%);
    }
  }

  .no-output {
    h4 {
      font-weight: 500;
    }
    .al-icon {
      color: var(--color-tint-14);
    }
  }
}
