@import "../shared/ui-components/styles/variables";

:host {
  display: block;
  height: 100%;
  overflow-y: auto;

  header {
    margin-bottom: 24px;

    .experiment-name {
      font-size: 18px;
      height: 22px;
      max-width: 93%;
      display: inline-block;
      white-space: nowrap;

      a {
        text-decoration: unset;
        display: block;
        width: 100%;
        color: inherit;
      }
    }

    .id-icon {
      width: 16px;
      height: 13px;
      margin-left: 6px;
    }
  }
}

sm-debug-images-view {
  display: block;
}

.debug-images {

}

.images-container {
  display: flex;
  min-height: 100%;
}

.no-images {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  color: $cloudy-blue-two;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;

  &.dark {
    color: $blue-250;
    font-size: 12px;

    path {
      opacity: 1;
      fill: $dark-grey-blue;
    }
  }
}

.metric-bar {
  margin: 0 auto 24px;
  grid-gap: 12px;
  display: inline-grid;
  grid-template-columns: auto 200px auto auto auto auto auto auto auto;
  align-items: center;

  &.minimized {
    margin: 0 0 24px;
  }

  .al-ico-next-batch, .al-ico-prev-batch, .al-ico-back-to-top {
    cursor: pointer;
  }

  label {
    color: $blue-400;
    margin: 0;
  }

  .disabled {
    cursor: auto;
    opacity: 0.5;
  }

  b {
    min-width: 45px
  }
}

.single-debug-images-container {
  display: block;
  overflow: hidden;
  position: relative;
  flex: 1;
  min-width: 640px;
  min-height: 100%;
  color: $blue-500;
  margin: 0 12px;
}

.bordered-experiments {
  .single-debug-images-container {
    border: 1px solid $blue-250;
    border-radius: 6px;
    padding: 24px;
  }
}

.i-no-debug-samples {
  width: 300px;
  height: 250px;
}

