@import "variables";

:host {
  .reload {
    color: $neon-yellow;
    &:hover {
      color: $neon-yellow;
    }
  }

  .al-icon {
    color: $blue-300;
    &:hover {
      color: $blue-200;
    }
  }

  .toggles {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0;
    mat-slide-toggle {
      margin-bottom: 12px;
    }
  }
}
