@import "variables";

:host {
  .reload {
    color: transparent;
    text-decoration: underline;
    position: absolute;
    right: 50px;
    transition: color 0.5s ease-in-out, right 0.5s ease-in-out;

    &.highlight {
      color: $neon-yellow;
      right: -100px;
    }
  }

  .al-icon {
    color: $blue-300;
    &:hover {
      color: $blue-200;
    }
  }

  .toggles {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    margin-top: 0;

    mat-slide-toggle,
    sm-usage-stats {
      margin-bottom: 12px;
    }
  }
}
