<div class="toggles">
  <sm-usage-stats #usage [class.hidden]="!usage.shown"></sm-usage-stats>
  <mat-slide-toggle
    *ngIf="admin || usage.shown"
    (change)="statsChange($event)"
    [checked]="show$ | async"
  >Show Hidden Projects
  </mat-slide-toggle>
  <mat-slide-toggle
    (change)="toggleExamples($event)"
    [checked]="hideExamples$ | async"
  >Don’t show ClearML examples
  </mat-slide-toggle>
  <mat-slide-toggle
    *ngIf="supportReScaling"
    (change)="hidpiChange($event)"
    [checked]="disableHidpi">
    Disable HiDPI browser scale override
    <i class="al-icon al-ico-info-circle sm info align-middle ml-3 mr-3"
       smTooltip="ClearML dynamically sets the browser scaling factor for an optimal page layout. Disable for default desktop scale."
    ></i>
    <span class="reload" [class.highlight]="disableHidpiChanged" (click)="reload($event)">Reload to apply</span>
  </mat-slide-toggle>
  <mat-slide-toggle
    (change)="setNeverShowTipsAgain($event)"
    [checked]="(neverShowTipsAgain$ | async)?.includes(popupId)">
    Don’t show pro tips periodically
  </mat-slide-toggle>
  <div class="d-flex">
    <mat-slide-toggle
      (change)="hideSpecificContainerArguments($event)"
      [checked]="!!(hideRedactedArguments$ | async)">
      Hide specific container arguments
      <i class="al-icon al-ico-info-circle sm info align-middle ml-3 mr-3"
         smTooltip="Redact the values for the specified container environment variables in the experiment execution page"
      ></i>
    </mat-slide-toggle>
    <span class="reload highlight pointer" (click)="editHideSpecificContainerArguments()">Edit</span>
  </div>

</div>
