<sm-dialog-template [header]="title">
  <div class="data-text">
    <sm-code-editor
      [code]="textData"
      [mode]="mode"
      [readonly]="readOnly"
      [placeholder]="placeHolder"
      [startPosition]="position()"
    ></sm-code-editor>
  </div>
  <div>
    @if (this.showErrors) {
      <small
        class="text-danger">*Not a valid json.
      </small>
    }
  </div>
  <div class="buttons">
    @if (!readOnly) {
      <button mat-stroked-button (click)="closeDialog(false)" class="yes-button" data-id="cancelButton"
      >CANCEL</button>
    }
    <button mat-flat-button (click)="closeDialog(!readOnly)" data-id="okButton">OK</button>
  </div>
</sm-dialog-template>
