@import '../../../../shared/ui-components/styles/variables';

:host {
  .data-text {
    width: 70vw;
    height: calc(90vh - 200px);
    overflow: auto;
    background-color: $blue-600;
    color: #ffffff;
    font-family: monospace;
    padding: 12px;
    border-radius: 4px;
    resize: none;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      margin: 0 3px;
    }
  }
}



