hr {
  margin: 0 !important;
}

button {
  font-size: 14px;
  font-weight: 500;

  i {
    margin-right: 12px;

    &.fa-eye-slash {
      margin-right: 8px;
    }

    &.rotate-135 {
      transform: rotate(135deg);
      margin-right: 10px;
    }
  }
}

.al-ico-bars-menu {
  line-height: 20px;
}
