@import "../../../shared/ui-components/styles/variables";

.select-experiments-container {
  background-color: rgba(242, 243, 246, 0.9);
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

//.search-input {
//  width: 550px;
//}

.hide-table {
  height: 0px;
  overflow: hidden;
  transition: $transition-fast;

  &.show-table {
    height: calc(100% - 36px);
    overflow-y: auto;
  }
}

.table-container {
  width: 1160px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: auto;
  padding: 0;
}

