@import "../../../shared/ui-components/styles/variables";

:host {

  .select-experiments-container {
    padding: 16px 32px;
    height: calc(100% - 100px);
    width: 100%;
  }

  .hide-table {
    height: 0px;
    overflow: hidden;
    transition: $transition-fast;

    &.show-table {
      height: calc(100% - 60px);
      overflow-y: auto;
    }
  }

  .table-container {
    width: 1160px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
    padding: 0;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    button {
      width: 130px;
      text-transform: uppercase;
    }

    .yes-button {
      margin-left: 16px;
    }
  }
  ::ng-deep sm-table p-table {

    .p-datatable-hoverable-rows .p-selectable-row {
      cursor: default;
    }
  }
}

