@import "../../styles/variables";

:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.toggle-all-text {
  display: block;
  margin-top: 13px;
  font-size: 11px;
  line-height: 1.55;
  text-align: right;
  color: $blue-480;
  cursor: pointer;
  padding: 0 24px;
}

i.toggle-icon {
  font-size: 15px;
  height: 18px;
  padding-left: 5px;

  &.unchecked {
    opacity: 0.4;
  }
}

sm-search {
  padding: 12px 24px 0 24px;
}
