@import "../../styles/mixins";

.gradiented-background {
  height: 100%;
  background-image: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0));
  position: relative;
}
.choose-container {
  @include choose-leaf;
}

.code-select{
  position: absolute;
  bottom: 5px;
}

:host {
  height: 100%;
}
