@import "../../layout/layout";
@import "variables";

:host {
  display: block;
  position: relative;
  height: $top-bar-height;
  border-bottom: 1px solid var(--color-surface-container-high);

  .share-view {
    visibility: hidden;
  }

  .header-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    background-color: color-mix(in srgb, var(--color-surface-container-high), transparent 80%);
    color: var(--color-primary);
    height: 100%;
    width: 100%;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;

    .header-title {
      font-size: 15px;
      font-weight: 500;
    }

    .spacer {
      min-width: 50px;
    }

    .left-menu {
      display: flex;
      align-items: center;

    };

    sm-breadcrumbs {
      display: flex;

      :not(.login) {
        width: 95%;
      }
    }

    sm-common-search,
    .resources-trigger {
      margin-right: 14px;
    }

    .menu-trigger {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 2px;

      &:hover {
        background-color: var(--color-surface-bright);
      }

      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      .user-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        background-color: var(--color-surface-container-high);
        color: var(--on-surface);
        border-radius: 50%;

        .al-icon {
          margin-top: -2px;
        }
      }
    }

    .logout {
      color: var(--color-surface-container-lowest);
    }
  }


  .logo-full {
    display: flex;
    justify-content: space-around;
    align-items: center;


    &.make-room-for-slogan {
      justify-content: start;

      .slogan {
        padding: 12px;
      }
    }

    img {
      height: 42px;
    }
  }

  .right-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .user-notification {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: solid 2px var(--color-outline);
    border-radius: 50%;
    background-color: var(--color-neon-surface);
  }


}
