@import "../../layout/layout";
@import "variables";

:host {
  display: block;
  position: relative;
  height: $top-bar-height;


  .share-view {
    visibility: hidden;
  }

  .header-container {
    display: flex;
    background-color: $header-backgroud;
    height: 100%;
    width: 100%;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;

    .header-title {
      font-size: 15px;
      font-weight: 500;
    }

    .spacer {
      min-width: 50px;
    }

    .left-menu {
      display: flex;
      align-items: center;

    }
  ;

    sm-breadcrumbs :not(.login) {
      width: 95%;
    }

  .resources-trigger {
    display: flex;
    color: $blue-300;
    &:hover {
      text-decoration: none;
      color: $blue-200;
    }
  }

    sm-common-search,
    .resources-trigger {
      margin-right: 24px;
    }

    .menu-trigger {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 2px;

      &:hover {
        background-color: rgba(232, 234, 237, 0.2);
      }

      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      .user-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        background-color: $blue-300;
        color: $header-backgroud;
        border-radius: 50%;

        .al-icon {
          margin-top: -2px;
        }
      }
    }

    .logout {
      color: $header-backgroud;
    }
  }


  .logo-full {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.middle {
      position: absolute;
      left: calc(50% - 50px);
    }

    &.make-room-for-slogan {
      justify-content: start;

      .slogan {
        padding: 12px;
      }
    }

    img {
      height: 42px;
    }
  }

  .right-buttons {
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $header-backgroud;
  }

  .user-notification {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: solid 2px $blue-800;
    border-radius: 50%;
    background-color: $neon-yellow;
  }
}
