@import "../../layout/layout";

:host {
  display: block;
  height: $top-bar-height;

  .header-container {
    display: flex;
    background-color: #141822;
    height: 100%;
    padding: 0 12px 0 24px;
    align-items: center;
    justify-content: space-between;
    .spacer{
      min-width: 50px;
    }

    sm-breadcrumbs :not(.login){
      width: 95%;
    }


    sm-common-search {
      margin-right: 24px;
    }

    .item {
      display: block;
      width: 24px;
      height: 24px;
      background-color: $light-grey-blue;
      color: #141822;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      &.neon {
        background-color: $neon-yellow-betterinchrome;
      }
    }

    .logout {
      color: #141822;
    }
  }


  .logo-full {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    &.make-room-for-slogan {
      justify-content: start;
      .slogan{
        padding: 12px;
      }

    }
  }

}
