<div class="d-flex justify-content-end align-items-center header-container">
  <div class="pipeline-name">
   Editing {{pipelineData?.name}}
  </div>
  <!-- <sm-clear-filters-button
      *ngIf="!minimizedView"
      [tableFilters]="tableFilters"
      (clearTableFilters)="clearTableFilters.emit(tableFilters)"
    ></sm-clear-filters-button> -->
  <!-- <sm-menu *ngIf="tableMode !== 'compare'"
      class="download-btn" buttonClass="al-icon al-ico-download pointer lm" panelClasses="light-theme"
             [showCart]="false" smTooltip="Download table as CSV" [disabled]="noData" data-id="downloadCSV">
      <sm-menu-item (itemClicked)="downloadTableAsCSV.emit()" itemLabel="Download on screen items"></sm-menu-item>
      <sm-menu-item (itemClicked)="downloadFullTableAsCSV.emit()"
                    [itemLabel]="'Download first '+ (maxDownloadItems$ | async) +' items'"></sm-menu-item>
    </sm-menu>
    <sm-experiment-custom-cols-menu
      *ngIf="!minimizedView || tableMode === 'compare'"
      [metricVariants]="metricVariants"
      [hyperParams]="hyperParams"
      [tableCols]="tableCols"
      [isLoading]="isMetricsLoading"
      [skipValueType]="tableMode === 'compare'"
      [disabled]="tableMode === 'compare' && metricVariants?.length === 0"
      (selectedMetricToShow)="selectedMetricToShow.emit($event)"
      (selectedHyperParamToShow)="selectedHyperParamToShow.emit($event)"
      (selectedTableColsChanged)="selectedTableColsChanged.emit($event)"
      (getMetricsToDisplay)="getMetricsToDisplay.emit($event)"
      (removeColFromList)="removeColFromList.emit($event)"
      (clearSelection)="clearSelection.emit()"
    ></sm-experiment-custom-cols-menu>
    <sm-refresh-button
      [allowAutoRefresh]="true"
      (setAutoRefresh)="setAutoRefresh.emit($event)"
    >
    </sm-refresh-button> -->
  <button class="btn btn-icon g-btn" smTooltip="Save pipeline" (click)="savePipelineClicked()">
    <i class="icon i-pipeline-save lm"></i>
  </button>
  <button class="btn btn-icon g-btn" smTooltip="Compile pipeline">
    <i class="icon i-pipeline-compile lm"></i>
  </button>
  <button class="btn btn-icon g-btn" smTooltip="Add new step to pipeline" (click)="addNewStep()">
    <i class="icon i-pipeline-add-new-step lm"></i>
  </button>
  <button class="btn btn-icon g-btn" smTooltip="Run pipeline">
    <i class="icon i-play lm"></i>
  </button>
  <button class="btn btn-icon g-btn" smTooltip="Pipeline settings" (click)="settings()">
    <i class="al-icon al-ico-settings lm"></i>
  </button>


<!--   <sm-menu class="download-btn" buttonClass="icon i-pipeline-save lm" [showCart]="false" [disabled]="noData"
    smTooltip=""></sm-menu>
  <sm-menu class="download-btn" buttonClass="icon i-pipeline-compile lm" [showCart]="false"
    smTooltip=""></sm-menu>
  <sm-menu class="download-btn" buttonClass="icon i-pipeline-add-new-step lm" [showCart]="false"
    smTooltip=""></sm-menu>
  <sm-menu class="download-btn" buttonClass="icon i-play lm" [showCart]="false" smTooltip=""></sm-menu>
  <sm-menu class="download-btn" buttonClass="al-icon al-ico-settings pointer lm" [showCart]="false"
    smTooltip=""></sm-menu>
 -->

</div>
