@import "variables";
@import "variables_v2";

sm-reports-header {
  height: 64px;
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $background-color;
  margin-bottom: -12px;
  border-bottom: 1px solid $border-color;
}
