
:host {
  display: flex;
  flex-direction: column;
  --mat-text-button-state-layer-color: none;

  .like-select {
    border: solid 1px var(--color-outline-variant);
    border-radius: 5px;
    padding: 6px 12px;
    &:hover{
     border-color: var(--color-outline);
    }
  }
  .selected-parameter {
    color: var(--color-on-surface-variant);
  }

  sm-menu {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  .multi-selected-parameter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    &:hover {
      background-color: var(--color-surface-container-low);
    }

    .multi-selected-parameter-name{
      max-width: 280px;
      color: var(--color-on-surface-variant);

    }
    .al-ico-dialog-x {
      visibility: hidden
    }

    &:hover {
      .al-ico-dialog-x {
        visibility: visible;

      }
  }

  .selected-parameter {
    align-items: center;
    justify-content: space-between;
    max-width: 260px;
    }
  }

  .title-container {
    margin-bottom: 12px;
    border-bottom: 1px solid var(--color-surface-container-high);
    padding: 6px 12px 6px 0;
    &:hover {
      border-color: var(--color-outline-variant);
      cursor: pointer;
    }

    .param-selector-title {
      color: var(--color-on-surface-variant);
      font-size: 14px;
    }

    sm-menu {
      margin-left: auto;
    }
  }
  .no-data{
    text-align: center;
    color: var(--color-outline);
  }
}
