@import "variables";
@import "primeng/resources/components/slider/slider";

$borderRadius: 12px;
$formElementTransition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
$transitionDuration: 0.2s;

$primaryColor: var(--color-primary);
$primaryTextColor: var(--color-on-primary);
$sliderBg: var(--color-surface-container-highest) !default;
$sliderBorder: 0 none !default;
$sliderHorizontalHeight: 4px !default;
$sliderVerticalWidth: 4px !default;
$sliderHandleWidth: 40px  !default;
$sliderHandleHeight: 12px !default;
$sliderHandleBg: var(--color-primary-container) !default;
$sliderHandleBorder: none !default;
$sliderHandleBorderRadius: 12px !default;
$sliderHandleHoverBorderColor: var(--color-primary) !default;
$sliderHandleHoverBg: var(--color-primary) !default;
$sliderRangeBg: var(--color-surface-container-highest) !default;

@import "primeng-sass-theme/themes/mytheme/variables/general";

$focusShadow: 0 0 0 0.1rem $focusOutlineColor;

@import "primeng-sass-theme/theme-base/mixins";
@import "primeng-sass-theme/theme-base/components/input/_slider.scss";

