@import "variables";
@import "../../../assets/fonts/variables";

.md-editor-preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.md-content {
  position: relative;
  background-color: var(--color-surface-container-lowest);
  border: 1px solid var(--color-surface-container-high);
  border-radius: 4px;
  min-height: 64px;

  .actions {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .actions-buttons {
    background-color: var(--color-surface-container-lowest);
    padding: 12px;
    display: flex;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    align-items: center;
  }

  .btn-expand-view {
    display: none;
  }

  .btn-expand-view {
    @media (min-width: 1400px) {
      display: inline-block;
    }
  }

  .preview-toggle {
    position: absolute;
    top: 6px;
    right: 12px;
    z-index: 1;
    line-height: 1;
    display: none;
  }

  &.edit-mode {
    padding: 0;
    height: calc(100% - 30px);
    //transition: box-shadow 0.8s;
    overflow: hidden;

    &.dirty {
      box-shadow: 0 0 0 1px var(--color-surface-container-lowest), 0 0 0 3px var(--color-outline-variant);
    }
  }

  &:hover {
    .actions-buttons {
      visibility: visible;
      opacity: 1;
    }
  }

  .btn:focus {
    box-shadow: none !important;
  }

  &:not(.edit-mode)::after {
    content: "";
    height: 100%;
    display: block;
  }
}

.md-footer {
  display: none;
  margin: 12px 0;
}

.md-editor-preview.editor .md-footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 24px;
}

.right-buttons {
  display: flex;
  gap: 12px;
}

.md-warning {
  font-size: 14px;
  color: var(--color-error);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s, visibility 0.8s, transform 0.8s;
  transform: translate(-50px, 0);

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.action {
  position: relative;
  display: flex;
  align-items: center;

  &[disabled="true"] {
    opacity: 0.5;
  }

  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .ellipsis {
    max-width: 400px;
    padding-right: 24px;
  }

  &:hover {
    i.al-ico-trash {
      visibility: visible;
    }
  }
}

.action.src-empty {
  justify-content: center;
  padding: 24px;
}

.action:has(.al-ico-trash:hover) {
  .al-ico-broken-file,
  .ellipsis {
    opacity: 0.4;
  }
}

:host {
  ::ng-deep md-editor.scripts-blocked .md-layout .preview-panel {
    height: 100% !important;
  }

  ::ng-deep md-editor .md-editor-container {
    margin-bottom: 0;
    border: none;

    .md-layout {
      @media (max-width: 990px) {
        .preview-container {
          display: none;
        }
      }

      .btn-group::before {
        background-color: transparent !important;
      }

      .tool-bar {
        background-color: var(--color-surface-container-high) !important;

        .btn:first-child:before {
          display: none;
        }

        .btn-group {
          display: inline-flex;
          vertical-align: middle;
          gap: 3px;

          button {
            &.btn-default {
              -webkit-user-select: none;
              user-select: none;
              display: inline-block;
              position: relative;
              box-sizing: border-box;
              border: none;
              outline: none;
              background-color: rgba(0, 0, 0, 0);
              fill: currentColor;
              text-decoration: none;
              cursor: pointer;
              z-index: 0;
              overflow: visible;
              border-radius: 50%;
              flex-shrink: 0;
              text-align: center;
              width: var(--mdc-icon-button-state-layer-size, 48px);
              height: var(--mdc-icon-button-state-layer-size, 48px);
              line-height: 23px;
              padding: calc(calc(var(--mdc-icon-button-state-layer-size, 48px) - var(--mdc-icon-button-icon-size, 24px)) / 2);
              font-size: var(--mdc-icon-button-icon-size);
              color: var(--mdc-icon-button-icon-color, var(--mat-app-on-surface-variant));
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

              &:hover {
                background-color: rgba(from var(--mat-icon-button-state-layer-color, var(--mat-app-on-surface-variant)) r g b / var(--mat-icon-button-hover-state-layer-opacity, var(--mat-app-hover-state-layer-opacity)));
              }
            }

            .fa-solid {
              font-size: 20px;
              width: 20px;
              height: 20px;
              font-family: "trains", sans-serif;
              font-weight: 400;
              font-style: normal;

              &:before {
                line-height: 20px;
              }

              &.fa-bold:before {
                content: $al-ico-bold;
              }

              &.fa-italic:before {
                content: $al-ico-italic;
              }

              &.fa-heading:before {
                content: $al-ico-heading;
              }

              &.fa-quote-left:before {
                content: $al-ico-quote;
              }

              &.fa-link:before {
                content: $al-ico-link;
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 24px;
              }

              &.fa-image:before {
                content: $al-ico-image;
              }

              &.fa-list-ul:before {
                content: $al-ico-list-bulleted;
              }

              &.fa-list-ol:before {
                content: $al-ico-list-numbered;
              }

              &.fa-file-code:before {
                content: $al-ico-code;
              }
            }
          }
        }
      }

      .editor-panel {
        border-right: 1px solid var(--color-surface-container-high);
      }

      @media (max-width: 990px) {
        .editor-panel {
          border-right: none;
        }
      }

      .preview-panel {
        padding: 24px !important;
        height: unset !important;
        background-color: transparent !important;
        border-left: none !important;

        code {
          padding: 2px 6px;
          font-size: 12px;
          font-family: $font-family-monospace;
          line-height: 18px;
          border-radius: 4px;
        }

        code.hljs {
          padding: 16px;
          background-color: var(--color-surface-container-low);
          color: var(--color-on-surface-variant);
        }

        iframe {
          &:nth-child(1) {
            margin-top: 40px;
          }
          border: none;
        }

        em code {
          color: var(--color-on-surface-variant);
          font-size: 12px;
          padding: 0 4px;
          font-style: normal;
        }

        details {
          margin-bottom: 2px;
          padding: 6px 28px;
          border-radius: 4px;
          transition: margin 0.35s;

          summary {
            margin-left: -24px;

            &::marker {
              content: "";
            }

            &::before {
              content: "\e9af";
              display: inline-block;
              vertical-align: middle;
              font-family: "trains";
              font-size: 18px;
              margin: -3px 6px 0 0;
              transform: rotate(0deg);
              transition: transform 0.35s;
            }

            &:hover {
              color: var(--color-on-surface);
            }
          }

          &[open] {
            overflow: auto;

            summary {
              margin-bottom: 12px;

              &::before {
                transform: rotate(90deg);
              }
            }
          }

          // code block
          code {
            white-space: pre;
            background-color: var(--color-surface-container);
            padding: 16px;
            display: block;
            margin-bottom: 12px;
            border: none;
          }

          img {
            margin-bottom: 12px;
          }
        }

        h1 {
          color: var(--color-primary);
          font-weight: 500;
        }

        h2 {
          color: var(--color-tertiary);
          font-weight: 500;
          margin-top: 32px;
        }

        h3, h4 {
          color: var(--color-on-surface-variant);
          font-weight: 500;
        }

        p {
          color: var(--color-on-surface-variant)
        }

        //strong, em {
        //  color: #c4cded;
        //}

        hr {
          margin: 24px 0;
          border: none;
          border-bottom: 1px solid var(--color-outline-variant);
        }

        //a {
        //  color: #FFFFFF;
        //}

        .table {
          background-color: transparent;
          border: 1px solid color-mix(in srgb, var(--color-outline-variant), transparent 50%);
          margin-bottom: 12px;

          td, th {
            border: 1px solid color-mix(in srgb, var(--color-outline-variant), transparent 50%);
            padding: 8px 16px;
          }

          th {
            background-color: var(--color-surface-container-lowest);
            color: var(--color-on-primary-container);
            font-weight: 500;
          }
        }

        blockquote {
          padding: 4px 16px;
          border-left: 3px solid var(--color-neon-surface);

          p {
            margin: 0;
          }
        }

        .grid {
          display: grid;
          gap: 12px;
          margin-bottom: 12px;
        }

        .g-2-col {
          grid-template-columns: repeat(2, 1fr);
        }

        .g-3-col {
          grid-template-columns: repeat(3, 1fr);
        }

        .g-4-col {
          grid-template-columns: repeat(4, 1fr);
        }

        .grid > div {
          overflow-x: auto;
        }

        @media (max-width: 960px) {
          .grid {
            display: block;
          }
          .grid > div {
            margin-bottom: 12px;
          }
        }
        @media print {
          .grid {
            display: block;
          }
        }
      }

      ::ng-deep .ace_scrollbar-v {
        cursor: default;
      }

      // Highlighting Editor
      .ace-editor.ace_editor.ace-tm {
        background-color: transparent;
        line-height: 20px;

        .ace_print-margin {
          display: none;
        }
      }
    }
  }
}

.preview-header {
  position: absolute;
  top: 16px;
  z-index: 1;
  right: 25%;
  transform: translateX(50%);
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 990px) {
  .preview-header {
    display: none;
  }

  ::ng-deep .editor-hidden {
    .tool-bar {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

@media (max-width: 990px) {
  .md-content .preview-toggle {
    display: block;
  }
}
