@import "variables";
@import "variables_v2";

:host {
  .settings-container {
    height: 100%;

    mat-drawer {
      border-right: 1px solid $border-color;
      width: 220px;
    }

    .mat-mdc-list-item {
      padding-left: 24px;

      --mdc-list-list-item-label-text-color: #{$text};
      --mdc-theme-text-primary-on-background: #{$blue-200};

      &:hover {
        background-color: $accent-color;
        cursor: pointer;
      }

      &.active {
        --mdc-list-list-item-container-color: #{$primary-color};
        --mdc-theme-text-primary-on-background: white;

        &:hover {
          background-color: $primary-color;
        }
      }
    }

    mat-drawer-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .section {
        background-color: $background-color-content;
        padding: 20px 24px;
        height: calc(100% - 64px);
        overflow: auto;
        .content {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
