@import "variables";

:host {

  .settings-container mat-nav-list {
    --mat-expansion-header-text-color: var(--color-on-surface-variant);
    --mdc-list-list-item-label-text-color: var(--color-on-surface-variant);

    .mat-expansion-panel {
      box-shadow: none;
      margin: 0 12px 2px;
      border-radius: 4px;
    }

    .mat-expansion-panel-header {
      height: 40px;
      font-weight: 400;
      padding: 0 16px 0 12px;
      &:hover {
        background-color: var(--color-surface-container);
      }
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0;

      .mat-mdc-list-item {
        padding-left: 24px;
        margin: 0 0 2px 0;
      }
    }

    .mat-divider {
      --mat-divider-color: var(--color-surface-container-high);
      --mat-divider-width: 1px;
      margin-top: 12px;
    }
  }

  .settings-container {
    height: 100%;

    mat-drawer {
      background: color-mix(in srgb, var(--color-surface-container-lowest) 40%, transparent);
      border-right: 1px solid var(--color-surface-container-high);
      width: 265px;
    }

    .mat-mdc-list-item {
      width: auto;
      margin: 0 12px 2px;
      padding: 0 10px;
      border-radius: 4px;
      --mdc-list-list-item-one-line-container-height: 40px;
      --mdc-list-list-item-label-text-color: var(--color-on-surface-variant);
      --mdc-theme-text-primary-on-background: var(--color-on-surface-variant);

      &:hover {
        background-color: var(--color-surface-container-high);
      }

      &.active {
        --mdc-list-list-item-label-text-color: var(--color-on-surface);
        --mdc-list-list-item-container-color: var(--color-surface-container-high);

        &:hover {
          background-color: var(--color-surface-container-highest);
        }
      }

      &::before,
      &:hover::before {
        background-color: unset;
        opacity: unset;
      }
    }

    mat-drawer-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: var(--color-surface-container-lowest);

      .section {
        padding: 0;
        height: calc(100% - 64px);
        overflow: auto;

        .content {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .mat-expanded,
  .mat-expanded .expanded {
    color: var(--color-on-surface);
    ::ng-deep .mat-expansion-indicator {
      --mat-expansion-header-indicator-color: var(--color-on-surface);
    }
  }
}

.title {
  font-size: 11px;
  font-weight: 500;
  color: var(--color-outline);
  margin: 12px 0 6px 24px;
  &:not(:first-child) {
    margin-top: 24px;
  }
}


.list-item {
  display: flex;
  align-items: center;
  gap: 6px;
  &__label {
    flex-grow: 1;
  }
  &__badge {
    color: var(--color-on-tertiary-fixed);
    background-color: var(--color-tertiary-fixed-dim);
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 11px;
    line-height: normal;
  }
}
