@import "../../styles/variables";

:host {
  .form-group {
    position: relative;
    height: 100%;
  }
  .input-title {
    display: block;
    margin-bottom: 16px;
  }

  textarea {
    width: 100%;
    border-radius: 4px;
    padding: 12px;

    &.danger {
      border-color: #ff001f !important;
    }
  }

  &.dark {
    textarea {
      background-color: $blue-600;
      color: #ffffff;
    }
  }
}
