@import "mixins/system-tag";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

  &:hover {
    .add-button {
      opacity: 1;
    }
  }
  .tag-item {
    @include shrinkable-tags();
  }

  .add-button {
    opacity: 0;
    min-width: 85px;
    max-width: 85px;
    transition: opacity 0.3s;

    &.no-tags {

      opacity: 1;
    }
  }

  .sys-tag {
    @include system-tag();

    .cog {
      position: absolute;
      left: 0;
      path {
        fill: var(--color-primary);
      }
    }
  }

  .empty-tag {
    .shape {
      fill: var(--color-primary);
    }

    .text {
      fill: var(--color-on-primary);
    }
  }
}
