<mat-button-toggle-group
  [formControl]="formControl"
  [hideSingleSelectionIndicator]="true"
  [vertical]="vertical()"
  name="fontStyle"
  aria-label="Font Style">
  @for (option of options(); track option.value) {
    <mat-button-toggle
      [value]="option.value"
      [disabled]="disabled()"
      appearance="legacy"
      [attr.data-id]="option.value"
      (click)="valueChanged.emit(option.value)"
      [smTooltip]="option.icon ? option.label : ''"
      matTooltipShowDelay="500"
      [appendComponentOnTopElement]="option.ripple && rippleEffect()"
      [componentToAppend]="rippleComponent"
      >
      @if (option.icon) {
        <mat-icon fontSet="al" [fontIcon]="option.icon"></mat-icon>
      } @else {
        <span class="label">{{option.label}}</span>
      }
    </mat-button-toggle>
  }
</mat-button-toggle-group>
