:host {
  --mat-standard-button-toggle-height: 34px;
  --mat-standard-button-toggle-label-text-line-height: 32px;

  .label {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
