<sm-dashboard-search [class.dashboard-search]="activeSearch$ | async"></sm-dashboard-search>
<div *ngIf="(activeSearch$ | async) !== true" class="dashboard-body">
  <div class="recent">
    <sm-dashboard-projects (width)="width = $event"></sm-dashboard-projects>
    <sm-dashboard-experiments
      [style.width]="width && width > 900 ? width + 'px' : '100%'"
      [recentTasks]="recentTasks$| async"
    >
      <div header-buttons>
        <button
          *smCheckPermission="true"
          class="btn btn-primary d-flex align-items-center"
          (click)="redirectToWorkers()"
        ><i class="al-icon al-ico-queues al-color light-grey-blue sm mr-2"></i>MANAGE WORKERS AND QUEUES</button>
      </div>
    </sm-dashboard-experiments>
  </div>
</div>
