@import "mixins/navbar-item";


.navbar-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 0 22px;

  .header {
    white-space: nowrap;
  }

  .sub-header {
    bottom: 7px;
  }

  sm-menu {
    position: absolute;
  }
}


@include generate-navbar-item();
