@import "../../styles/mixins/navbar-item";
@import '../../styles/variables';


.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 22px;

  sm-menu {
    position: absolute;
  }
}


@include generate-navbar-item();
