:host {
  .model-selected-number {
    padding-left: 12px;
    width: 218px;
    height: 100%;
  }
  span {
    line-height: 60px;
  }

  .compare {
    padding-right: 40px;
    cursor: pointer;
  }
  .test-models {
    cursor: pointer;
  }
  img {
    cursor: pointer;
  }
}

