<div class="d-flex justify-content-between header-container align-items-center">
  <div class="d-flex-center">
    @if (!hideNavigation()) {
      <sm-button-toggle
        [disabled]="!tableMode() || noData()"
        [options]="[{label: 'Table view', value: 'table', icon: 'al-ico-table-view'}, {label: 'Details view', value: 'info', icon: 'al-ico-experiment-view'}]"
        [value]="!noData() && tableMode()"
        [rippleEffect]="rippleEffect()"
        (valueChanged)="tableModeChanged.emit($any($event))"></sm-button-toggle>
    }
  </div>
  <div class="d-flex justify-content-end align-items-center gap-3">
    @if (!minimizedView()) {
      <sm-clear-filters-button
        [tableFilters]="tableFilters()"
        (clearTableFilters)="clearTableFilters.emit(tableFilters())"
      ></sm-clear-filters-button>
    }
    <button mat-icon-button class="download-btn" [disabled]="noData()" (click)="!noData() && downloadTableAsCSV.emit()" data-id="downloadCSVButton" smTooltip="Download table as CSV">
      <mat-icon fontSet="al" fontIcon="al-ico-download"></mat-icon>
    </button>
    <sm-refresh-button (setAutoRefresh)="setAutoRefresh.emit($event)"></sm-refresh-button>
  </div>
</div>
