.al-icon {
  margin-right: 12px;
}
.item-label {
  display: flex;
  align-items: center;
  min-width: 0;
}

.place-for-icon {
  width: 85%;
}

.mat-menu-item {
  font-family: "Heebo", sans-serif;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
}

.remove-button {
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
  transform: translateX(12px);
  display: flex;
}

sm-checkbox-control {
  margin-right: 12px;
}

:host {
  &:hover {

    .remove-button {
      opacity: 1;
    }
  }
}
