@import "../../../shared/ui-components/styles/variables";

:host {
  .experiment-name {
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .italic {
    font-style: italic;
  }
}

.grayed{
  color: #ced1db !important;
}

::ng-deep sm-experiments .load-more {
  margin-bottom: 80px;
}
