<sm-survey *ngIf="!demo && !guestUser && (showSurvey$ | async) && !update?.active" (dismiss)="dismissSurvey()"></sm-survey>
<sm-update-notifier #update
                    [availableUpdates]="(updatesAvailable$ | async)"
                    [currentUser]="currentUser"
                    [dismissedVersion]="serverUpdatesService.lastDismissedVersion"
                    (versionDismissed)="versionDismissed($event)"
                    (notifierActive)="notifierActive($event)">
</sm-update-notifier>
<sm-color-picker-wrapper id="color-picker-outlet"></sm-color-picker-wrapper>
<sm-server-notification-dialog-container></sm-server-notification-dialog-container>
<sm-spinner></sm-spinner>
<sm-side-nav></sm-side-nav>
<div class="app-container" [class.notifier-open]="update?.active || ((showSurvey$ | async) && !demo && !guestUser)">
  <sm-header [isDashboard]="isDashboardContext" [isLogin]="isLoginContext"></sm-header>
  <router-outlet class="main-router"></router-outlet>
</div>
<notifier-container></notifier-container>
