@import "variables";

:host {
  display: flex;
  height: 100%;
  &.dataset-version-preview{
    height: auto;
    display: block;
  }

  .list-container {
    display: block;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
  }


  .graphs-container {
    flex: 1;
    height: 100%;
    padding: 0 !important;
  }
}
