@import "variables";
@import "../../../layout/layout";

:host{
  display: block;
  height: $graph-height;
  background-color: $blue-900;

  .header {
    height: 0;

    .trigger {
      position: absolute;
      left: 15%;
    }

    .btn {
      position: relative;
      top: -40px;
      height: 32px;
      width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .line-chart-container {
    height: calc(100% - 36px);
  }

  .legend {
    margin-top: -4px;
    text-align: center;
    color: $blue-100;

    .entry {
      margin: 0 12px;

      &:before {
        content: ' ';
        display: inline-block;
        background-color: var(--color);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }
    }
  }

  .overview-placeholder {
    .no-data-title {
      font-size: 14px;
      color: $blue-100;
      font-weight: normal;
      margin: 24px 0;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .al-ico-no-scatter-graph {
      color: $blue-600;
    }

    .no-data-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.close-button {
  position: relative;
  top: 12px;
  left: 624px;
  width: 30px;
  cursor: pointer;
}

.metric-menu {
  width: 660px;
  height: 700px;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    color: $blue-400;
  }

  .title {
    font-size: 20px;
    color: $blue-800;
    font-weight: 500;
    margin: 24px 0;
  }

  sm-select-metric-for-custom-col {
    height: calc(100% - 227px);

  }
}
