@import "variables";
@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: block;
  position: relative;
  height: 100%;

  .no-data {
    text-align: center;
    color: #ced1dc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    .i-no-data-artifacts{
      width: 200px;
      height: 160px;
    }
    h3 {
      color: $cloudy-blue-two;
    }
  }

  .col-6 {
    padding: 0;
  }

  ::ng-deep sm-labeled-row {
    border-bottom: none !important;
  }

  ::ng-deep hr {
    margin: 0 26px;
  }

  sm-experiment-artifacts-navbar {
    border-right: 1px solid #dee1e9;
    flex: 0 0 300px;
    &.minimized {
      flex: 0 0 250px;
    }
  }
}
