:host {
  .form-group {
    position: relative;
  }
  .input-title {
    display: block;
    margin-bottom: 16px;
  }
  select {
    width: 100%;
    //position: relative;
    //transform: translateY(-50%);
    &.danger {
      border-color: #ff001f !important;
    }
  }
  .key {
    width: 150px;
    font-weight: bold;
  }
}
