@import "../experiment-compare-base.component";

:host {
  .section {
    pre {
      display: inline-block;
      position: relative;
      overflow: visible;

      &.with-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 370px;
      }

      &:hover {
        .extend-toggle {
          visibility: visible;
        }
      }

      &.no-ellipsis {

        .extend-toggle {
          visibility: hidden !important;
        }
      }
    }

    .title-key {
      width: 100%;

      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 339px;
      }
    }
  }
}
