<div [formGroup]="form" class="pb-4 position-relative">
  <div class="provider-icon">
    <i class="al-icon i-aws-cloud md"></i>
  </div>
  <div class="aws-table-global">
    <div class="sub-title">Default credentials</div>

    <mat-form-field appearance="outline" class="black" readonly="true">
      <mat-label class="header">
        <span>Access key</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="The default access key for any bucket that is not specified in the buckets list"></i>
      </mat-label>
      <input matInput formControlName="key" autocomplete="delete-key"/>
      @if (form.controls.key.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.key.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>Secret</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="The default secret access key for any bucket that is not specified in the buckets list"></i>
      </mat-label>
      <input matInput formControlName="secret" type="password" autocomplete="delete-secret"/>
      @if (form.controls.secret.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.secret.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>Access token</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="The session key for your AWS account. This is only needed when you are using temporary credentials"></i>
      </mat-label>
      <input matInput formControlName="token"/>
      @if (form.controls.token.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.token.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>Region</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="The default region name for any bucket that is not specified in the buckets list"></i>
      </mat-label>
      <input matInput formControlName="region"/>
    </mat-form-field>

    <mat-checkbox formControlName="use_credentials_chain">
      <mat-label class="header">
        <span>Credentials Chain</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="System looks for credentials in environment variables, a credential file, and metadata service with an IAM role configured"></i>
      </mat-label>
    </mat-checkbox>

  </div>

  <div class="pb-3 aws-table" formArrayName="buckets">
    <div class="sub-title">Bucket specific credentials</div>

    @for (bucket of awsBuckets.controls; track bucket; let i = $index) {
      <div class="bucket-row" [formGroupName]="i">
        <button mat-icon-button class="trash" (click)="removeAwsBucket(i)">
          <mat-icon fontSet="al" fontIcon="al-ico-trash sm-md"></mat-icon>
        </button>
        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>Bucket</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The bucket name for an individual bucket with specifying credentials"></i>
          </mat-label>
          <input matInput formControlName="bucket"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>Region</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The region name for current bucket"></i>
          </mat-label>
          <input matInput formControlName="region"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>Host</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The host URL and port number of the specific bucket. Note that for non-AWS endpoints, port specification is always needed"></i>
          </mat-label>
          <input matInput formControlName="host"/>
        </mat-form-field>

        <mat-checkbox formControlName="secure">
          <div class="header">
            <span>Secure host</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="Indicates whether the host is secure when specifying credentials for individual buckets by host"></i>
          </div>
        </mat-checkbox>

        <mat-checkbox formControlName="verify">
          <div class="header">
            <span>Verify SSL certificate</span>
          </div>
        </mat-checkbox>

        <br>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>Access key</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The access key for current bucket"></i>
          </mat-label>
          <input matInput formControlName="key" [autocomplete]="'delete-key' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value"/>
          @if (form.controls.buckets.controls[i].controls.key.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.key.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.key.errors?.required) {
            <mat-error>Key is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>Secret</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The secret access key for current bucket"></i>
          </mat-label>
          <input matInput formControlName="secret" [autocomplete]="'delete-secret' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value" type="password"/>
          @if (form.controls.buckets.controls[i].controls.secret.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.secret.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.secret.errors?.required) {
            <mat-error>Secret is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>Access token</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="The session key for your AWS bucket. This is only needed when you are using temporary credentials"></i>
          </mat-label>
          <input matInput formControlName="token"/>
          @if (form.controls.buckets.controls[i].controls.token.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.token.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
        </mat-form-field>


        <!--        <mat-form-field appearance="outline" class="black">-->
        <!--          <mat-label class="header">-->
        <!--            <span>Subdir</span>-->
        <!--            <i class="al-icon al-ico-info-circle ms-2 msm"-->
        <!--               smTooltip=""></i>-->
        <!--          </mat-label>-->
        <!--          <input matInput formControlName="subdir"/>-->
        <!--        </mat-form-field>-->

        <mat-checkbox formControlName="use_credentials_chain">
          <div class="header">
            <span>Use credentials chain</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="System looks for credentials in environment variables, a credential file, and metadata service with an IAM role configured"></i>
          </div>
        </mat-checkbox>

      </div>
    }
  </div>

  <button mat-button (click)="$event.preventDefault(); addAwsBucket()">
    <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
    Add Credentials
  </button>
</div>
