@import "variables";
@import "mixins/link";
@include link();

mat-checkbox {
  margin-bottom: 24px;
}

.disabled {
  opacity: .5;
  pointer-events: none;
  transition: opacity 0.2s;
}

@container form-container (max-width: 700px) {
  mat-form-field {min-width: 100% !important;}
  i.al-ico-trash {top: 6px;}
}
