@if (dataSource.data.length > 0) {
  <mat-tree class="ngx-json-viewer" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node
      *matTreeNodeDef="let segment"
      [matTreeNodePadding]="segment.level + 1"
      [matTreeNodePaddingIndent]="12"
      >
      <section [class]="['segment', 'segment-type-' + segment.type]">
        <section
          matTreeNodeToggle
          class="segment-main"
          [class.current]="searchIndex === segment.searchIndex"
          >
          @for (part of (search ? split(segment.key, search) : [[segment.key, search]]); track part; let last = $last) {
            <span class="segment-key"
              >{{part[0]}}@if (!last) {
              <span class="found"
              >{{part[1]}}</span>
            }</span>
          }
          @if (segment.key) {
            <span class="segment-separator">: </span>
          }
          <span class="segment-value">
            @if (segment.type === 'link') {
              <a href="" (click)="linkActionWrapper($event, segment.value)"><ng-container *ngTemplateOutlet="noLink"></ng-container></a>
            } @else {
              @for (part of (search ? split(segment.description, search) : [[segment.description, search]]); track part; let last = $last) {
                <span class="segment-description"
                  >{{part[0]}}@if (!last) {
                  <span class="found"
                  >{{part[1]}}</span>
                }</span>
              }
            }
            <ng-template #noLink>@for (part of (search ? split(segment.description, search) : [[segment.description, search]]); track part; let last = $last) {
              <span class="segment-description"
                >{{part[0]}}@if (!last) {
                <span class="found"
                >{{part[1]}}</span>
              }</span>
            }</ng-template>
          </span>
        </section>
      </section>
    </mat-tree-node>
    <mat-tree-node
      *matTreeNodeDef="let segment; let lineIndex=index; when: hasChild"
      [matTreeNodePadding]="segment.level + 1"
      [matTreeNodePaddingIndent]="12"
      [disabled]="!segment.expandable"
      >
      <section class="segment" [class]="'segment-type-' + segment.type">
        <section
          matTreeNodeToggle
          class="segment-main expandable"
          [class.current]="searchIndex === segment.searchIndex"
          [class.expanded]="treeControl.isExpanded(segment)"
          >
          <span class="toggler"></span>
          @for (part of (search ? split(segment.key, search) : [[segment.key, search]]); track part; let last = $last) {
            <span class="segment-key"
              >{{part[0]}}@if (!last) {
              <span class="found"
              >{{part[1]}}</span>
            }</span>
          }
          @if (segment.key) {
            <span class="segment-separator">: </span>
          }
          @if (treeControl.isExpanded(segment)) {
            <div class="braces">{{ segment.type === 'array' ? '[' : '{' }}</div>
          }
          @if (!treeControl.isExpanded(segment)) {
            <span class="segment-value">
              @for (part of (search ? split(segment.description, search) : [[segment.description, search]]); track part; let last = $last) {
                <span class="segment-description"
                  >{{part[0]}}@if (!last) {
                  <span class="found"
                  >{{part[1]}}</span>
                }</span>
              }
            </span>
          }
        </section>
        @if (lineIndex === 0 && treeControl.isExpanded(segment)) {
          <div class="braces">{{ segment.type === 'array' ? ']' : '}' }}</div>
        }
      </section>
    </mat-tree-node>
    <mat-tree-node
      *matTreeNodeDef="let segment; when: closing"
      [matTreeNodePadding]="segment.level + 1"
      [matTreeNodePaddingIndent]="12"
      >
      <section class="segment">
        @if (segment.closing) {
          <div class="braces last">{{ segment.closing }}</div>
        }
      </section>
    </mat-tree-node>
  </mat-tree>
}
