@import "variables";

:host {
  --width: 1px;
  --margin: 5px;

  display: flex;
  width: 100%;
  align-items: center;
  margin: var(--margin) 0;

  &:before,
  &:after {
    flex: 1;
    content: '';
    border-top: var(--width) solid var(--mat-divider-color);
  }
  span {
    color: var(--color-on-surface-variant);
    padding: 4px 12px;
    border-radius: 5px;
    &:empty {
      display: none;
    }
  }
}
