.table-diff-row {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  color: #384161;
  border-bottom: #ededed solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.header {
    font-size: 11px;
    font-weight: bold;
    color: #5a658e;
    border-top: #ededed solid 1px;
    background-color: #f4f7ff;
  }

  div {
    .show-only-on-hover {
      opacity: 0;
    }

    &:hover {
      .show-only-on-hover {
        opacity: 0.5;
      }
    }
  }
}

