:host {
  display: block;
  height: 100%;
  overflow: auto;
  padding: 12px;

  mat-sidenav-container {
    height: 100%;
    position: static;
    --mat-sidenav-container-background-color: transparent;
    --mat-sidenav-container-divider-color: var(--color-surface-container-high);
  }

  mat-sidenav-content {
    position: static;
  }

  mat-nav-list {
    min-width: 360px;
    padding: 12px;
  }

  .side-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 2px;
    --mdc-list-list-item-one-line-container-height: 40px;
    --mdc-list-list-item-label-text-size: 12px;

    &.selected {
      --mdc-list-list-item-label-text-color: var(--color-on-surface);
      --mdc-list-list-item-hover-label-text-color: var(--color-on-surface);
      background-color:  var(--color-surface-container-high);
    }
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;


    &.maximized {
      overflow: auto;

      sm-scroll-textarea {
        flex: 1;
      }

      sm-editable-section.limit-width {
        max-width: 1200px;
      }
    }

    sm-editable-section {
      &.grow {
        flex: 1;
      }

      &:hover {
        .copy-textarea {
          visibility: visible;
        }
      }
    }
  }

  ::ng-deep sm-experiment-requirements-code textarea, ::ng-deep sm-scroll-textarea textarea {
    padding: 5px 15px;
  }

  .copy-textarea {
    position: absolute;
    right: 32px;
    top: 72px;
    z-index: 2;
    visibility: hidden;
  }

  .edit-in-section {
    ::ng-deep #editSection {
      position: relative;
      top: 36px;
    }
  }

  .setup-shell-script {
    margin-top: -30px;

    &.maximised {
      max-width: 1600px;
    }

    ::ng-deep .editable-container {
      display: flex;
      position: relative;

      .edit-wrapper {
        position: absolute;
        right: 24px;
        top: 24px;
        bottom: 0;
      }

      ::ng-deep sm-section-header {
        width: 155px;

      }

      sm-scroll-textarea {
        position: relative;
        flex: 1;

        span.no-changes {
          font-size: 11px;
        }
      }
    }
  }

  .terminal.toggle {
    color: var(--color-primary);
  }

  .requirements-header {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .requirements-selector {
    height: 20px;
    margin-bottom: 24px;
  }
}
