<span class="queue-name"><b>{{queue.caption }}</b> - {{queue.id}}</span>
<sm-table
  [rowHeight]="20"
  [tableData]="tasks"
  [columns]="cols"
  [rowsNumber]="5"
  (rowClicked)="onRowClicked($event)"
  [reorderableColumns]="false"
  [resizableColumns]="false"
  >
  <ng-template let-col
    let-task="rowData"
    pTemplate="body">
    @switch (col.id) {
      @case (QUEUES_TABLE_COL_FIELDS.USER) {
        {{task.user.name}}
      }
      @case (QUEUES_TABLE_COL_FIELDS.QUEUED) {
        <span [smTooltip]="task[col.id] | date : TIME_FORMAT_STRING">{{task[col.id] | timeAgo}}</span>
      }
      @default {
        {{task[col.id]}}
      }
    }
  </ng-template>
</sm-table>
