<sm-experiment-info-header-status-icon-label
  [status]="getReadyStatus((selectedTableModel$ | async)?.ready || selectedModel?.ready)"
>
</sm-experiment-info-header-status-icon-label>
<div class="model-info-container light-theme">
  <sm-model-info-header
    #modelInfoHeader
    [model]="((selectedTableModel$ | async) || selectedModel)"
    [editable]="!isExample"
    [backdropActive]="backdropActive$ | async"
    (modelNameChanged)="updateModelName($event)"
    (closeInfoClicked)="closePanel()"
  >
  </sm-model-info-header>
  <div class="tab-nav">
    <span class="leave for grid"></span>
    <sm-router-tab-nav-bar
      [splitSize]="splitSize$ | async"
      [links]="links"
    ></sm-router-tab-nav-bar>
    <sm-experiment-settings
      class="setting-icon"
      [showSettings]="scalars$ | async"
      (toggleSettings)="toggleSettingsBar()">
    </sm-experiment-settings>
  </div>
  <div class="model-info-body">
    <router-outlet></router-outlet>
  </div>
</div>
