@import "../../../layout/layout.scss";

:host {

  sm-model-info-header {
    display: block;
  }

  sm-router-tab-nav-bar {
    overflow: hidden;
    flex-grow: 1;
  }

  .model-info-container {
    height: calc(100% - 32px);

    nav {
      border-bottom: 1px solid rgba(2, 2, 2, 0.07);
      position: relative;
      text-align: center;
      padding: 0 24px;
    }

  }

  .model-info-body {
    height: calc(100% - 108px);
  }

  .tab-nav {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    border-bottom: 1px solid #efefef;
    margin-right: 30px;

    &.minimized {
      display: flex;
      margin-right: 0;
    }

    @media(max-width: 1200px) {
      grid-template-columns: 0 1fr 200px;
    }
  }

  sm-router-tab-nav-bar {
    overflow: hidden;
    flex-grow: 1;
  }

  .setting-icon {
    margin-right: 30px;
    margin-left: auto;
  }

  sm-experiment-settings.maximized {
    display: block;
    padding-top: 6px;
  }

  .refresh-position {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .refreshIcon {
    margin-right: 10px;
  }

  sm-experiment-settings.maximized {
    display: block;
    padding-top: 6px;
  }
}

