@import "../../../layout/layout.scss";

:host {

  sm-model-info-header {
    display: block;
  }

  .model-info-container {
    height: calc(100% - 32px);

    nav {
      border-bottom: 1px solid rgba(2, 2, 2, 0.07);
      position: relative;
      text-align: center;
      padding: 0 24px;
    }

  }

  .model-info-body {
    height: calc(100% - 110px);
  }

  ::ng-deep nav {
    border-bottom: 1px solid rgba(2, 2, 2, 0.07);
  }
}

