@import "../../../layout/layout.scss";

:host {

  sm-model-info-header {
    display: block;
    height: 45px;
  }

  .model-info-container {
    height: calc(100% - 46px);
    padding-left: 10px;
    padding-top: 24px;

    nav {
      height: 65px;
      border-bottom: 1px solid rgba(2, 2, 2, 0.07);
    }
  }

  .model-info-body {
    height: calc(100% - #{$experiment-info-header-height + 46px});
    overflow: auto;
    padding-right: 24px;
  }

  ::ng-deep nav {
    border-bottom: 1px solid rgba(2, 2, 2, 0.07);
  }
}

