@import "../../../shared/ui-components/styles/variables";
@import "../../../layout/layout.scss";

::ng-deep sm-models footer.d-flex.justify-content-center {
  align-items: center;
  height: 100px;
}

::ng-deep .bigger-width {
  width: 236px;
}

:host {

  sm-table {
    display: block;
    height: 100%;
    &.compare {
      height: calc(100% - #{$project-footer-height});
    }
  }

  .table-container {
    height: 100%;
  }

  .model-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .checkbox-col {
    display: block;
    float: left;
    padding-left: 10px;

    &.header {
      padding-left: 17px;
    }
  }
  .compact-columns-data {
    color: $blue-250;
  }

  sm-table-card-filter-template {
    margin-left: 1em;
  }

}

