:host {
  .create-project-button {
    padding-top: 32px;
  }

  small.text-danger {
    //position: absolute !important;
    //top: -15px;
  }
  #project-description{
    max-height:250px;
    padding-top: 12px;
    height: 65px;
  }
  mat-form-field{
    width: 100%;
    .project-description{
      min-height: 68px;
    }
  }
}
