:host {
  .create-project-button {
    padding: 32px 12px 0;
  }
  mat-form-field {
    width: 100%;

    .project-description {
      min-height: 68px;
    }
  }
  .creat-new-suffix {
    display: inline-block;
    margin-right: 18px;
    font-size: 14px;
    transform: translateY(-4px);
  }
}
