<div class="dialog-template-container" [class]="containerClass">

  @if (displayX) {
    <div style="position: relative">
      <i (click)="onXPressed()" class="pointer stick-to-corner right al-icon al-ico-dialog-x al-color blue-400 sm-md" data-id="Cross">
      </i>
      @if (pageHeader) {
        <div class="stick-to-corner left">
          <div [innerText]="pageHeader"></div>
        </div>
      }
    </div>
  }

  <div #container class="generic-container {{theme || 'light-theme'}}" cdkScrollable data-id="comparedExperimentContainer">
    @if (iconClass) {
      <div class="d-flex flex-column">
        <div [class]="'al-icon icon xxl mx-auto '+ [iconClass]" data-id="pipelineIcon"></div>
      </div>
    }
    @if (iconData) {
      <div class="d-flex justify-content-center">
        <div class="app-icon-image" [style.background-image]="'url(' + iconData + ')'"></div>
      </div>
    }
    @if (header) {
      <div class="d-flex flex-column">
        <div class="create-title mx-auto ellipsis {{headerClass ?? ''}}">{{header}}</div>
      </div>
    }
    @if (subHeader) {
      <div class="d-flex flex-column">
        <p class="sub-header mx-auto" [innerHTML]="subHeader | purify"></p>
      </div>
    }
    <ng-content></ng-content>
  </div>
</div>
