@import '../../styles/variables';

$generic-font-size: 11px;
:host {
  .dialog-template-container {
    height: 100%;
    min-height: 150px;
    overflow-y: auto;
    background-color: transparent;
  }

  .create-title {
    margin: 10px 10px 18px;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    height: 35px;
    text-align: center;
    color: $blue-800;
    text-transform: uppercase;
  }

  .sub-header {
    font-size: 13px;
    text-align: center;
    color: $dusk-two;
  }

  .icon {
    margin: 10px;
  }

  .app-icon-image {
    width: 88px;
    height: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .generic-container {
    overflow: hidden;
    background-color: $white;
    z-index: $zindex-modal;
    border-radius: 4px;
    padding: 32px 32px;
    overflow-y: auto;
    min-width: 430px;
    height: 100%;
    max-height: 94vh;
  }

  ::ng-deep .background-transparent {
    .mat-dialog-container {
      max-height: none !important;
      height: 97vh !important;
      background-color: transparent;
      box-shadow: none !important;
      overflow: hidden;
    }
  }

  .rotate-right {
    transform: rotate(135deg);
  }
}
