<button mat-icon-button [matMenuTriggerFor]="pipelinesMenu" smClickStopPropagation #trigger="matMenuTrigger" [class.menu-opened]="trigger.menuOpen">
  <mat-icon fontSet="al" fontIcon="al-ico-bars-menu"></mat-icon>
</button>
<mat-menu #pipelinesMenu="matMenu">
  <button mat-menu-item (click)="rename.emit()">
    <mat-icon fontSet="al" [fontIcon]="icons.EDIT"></mat-icon>Rename
  </button>
  <button mat-menu-item [matMenuTriggerFor]="tagsMenu.matMenu">
    <mat-icon fontSet="al" [fontIcon]="icons.TAG"></mat-icon>Add Tag
  </button>
  <hr>
  <button mat-menu-item (click)="delete.emit()">
    <mat-icon fontSet="al" [fontIcon]="icons.REMOVE"></mat-icon>Delete
  </button>
</mat-menu>
<sm-tags-menu
  #tagsMenu
  [tags]="project()?.tags"
  [tagsFilterByProject]="true"
  [projectTags]="allTags()"
  [companyTags]="null"
  (tagSelected)="addTag.emit($event)">
</sm-tags-menu>
