@import "../../ui-components/styles/variables";

:host {
  & {
    display: inline-block;
  }
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  color: $blue-300;

}

.btn:last-child {

}
