@import "variables";

:host {
  header {
    padding: 20px 0;
  }

  .title {
    display: flex;
    align-items: baseline;
    color: var(--color-on-surface);
    font-size: 16px;
  }

  .info {
    margin-left: 12px;
    color: var(--color-on-surface-variant);
    &:hover {
      color: var(--color-on-surface);
    }
  }

  .add-button {
    margin: 24px 0;
  }
}
