<header>
  <div class="title">
    API credentials
    <mat-icon
      class="info sm"
      fontSet="al" fontIcon="al-ico-info-circle"
      smTooltip="Key/secret credential pairs for ClearML Clients making API calls to the ClearML server. This includes the ClearML SDK, Agent, and any other clients making API calls"
      matTooltipPosition="above"
    ></mat-icon>
  </div>
</header>
@for (cred of credentials$ | ngrxPush | keyvalue; track cred.key) {
  <div class="section mb-4">
    <sm-admin-credential-table
      [credentials]="cred?.value"
      (updateCredentialLabel)="updateLabel($event)"
      (credentialRevoked)="onCredentialRevoked($event)"
    ></sm-admin-credential-table>
    <button mat-button
            class="add-button"
            [class.disabled]="creatingCredentials"
            (click)="createCredential()"
    >
      <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
      Create new credentials
    </button>
  </div>
}
