@import "../../../../../webapp-common/shared/ui-components/styles/variables";

:host {
  .title {
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    margin: 55px 0 12px 0;

    &.first {
      margin-top: 0;
    }

  }

  .section {
    margin: 6px 0 0 24px;
  }

  .info {
    margin-left: 12px;
    color: $light-grey-blue;

    &:hover {
      color: $purple;
    }
  }

  .add-button {
    margin-top: 18px;
    color: $blue-280;

    &:hover {
      color: $white;
    }

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
