@import "variables";
@import "variables_v2";

:host {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    height: 64px;
    border-top: 1px solid $border-color;
    line-height: 26px;

    .version {
      color: $blue-400;
      font-weight: 300;
    }
  }
}
