@import "../../../shared/ui-components/styles/variables";

// TODO: split to ui component tag?

:host {
  .tag {
    min-width: 20%;
    color: $blue-100;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 4px;
    background-color: $blue-400;
    border: solid 1px $blue-300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}

::ng-deep .selectedModel .hideOnOpen {
  display: none;
}

::ng-deep .hideOnClose{
  display: none;
}

::ng-deep.selectedModel .hideOnClose{
  display: initial;
}
