<sm-dialog-template header="REDACTED ARGUMENTS" iconClass="al-ico-access-key">
  <form class="form-container" #redactedArgumentsForm ='ngForm'>
    @for (redactedArgument of redactedArguments; track redactedArgument.key; let i = $index) {
      <div class="d-flex align-items-center" >
        <mat-form-field appearance="outline" floatLabel="always" class="argument-input no-bottom">
          @if (redactedArg?.errors?.required) {
            <mat-error>Required</mat-error>
          }
          <input type="text"
            matInput
            required
            #redactedArg="ngModel"
            [autocomplete]="'off'"
            [name]="'ar' + i | uuid"
            [(ngModel)]="redactedArgument.key"
            placeholder="Argument">
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon fontSet="al" fontIcon="al-ico-trash"  (click)="redactedArguments.splice(i, 1)"></mat-icon>
        </button>
      </div>
    }
  </form>
  <button mat-button (click)="redactedArguments.push({key:''})"><mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>Add</button>
  <mat-dialog-actions>
    <button
      mat-stroked-button
      (click)="closeDialog()">
      CANCEL
    </button>
    <button type="submit"
      mat-flat-button
      (click)="applyChanges()"
      [disabled]="redactedArgumentsForm.invalid">
      SAVE
    </button>

  </mat-dialog-actions>

</sm-dialog-template>
