@import "../../../shared/ui-components/styles/variables";

span{
  display: flex;
  align-items: center;
  justify-content: center;
}

.created {
  color: $grey-purple;
}

.completed {
  color: greenyellow;
}

.running {
  color: $running-green;
}
.failed{
  color: #ff001f;
}

.queued {
  color: $neon-yellow;
  opacity: 0.5;
}

.in_progress{
  color: $neon-yellow;
}

.published {
  color: $blue-sky;
}

.stopped {
  color: $grey-purple;
}

.middle {
  height: 14px;
  margin-top: 2px
}
