@import '../../styles/variables';

:host {

  .labeled-row {
    padding: 8px 0;
    border-bottom: 1px solid $dark-border;
  }

  .label {
    font-size: 12px;
    color: $blue-480;
  }

  .value {
    font-weight: 500;
  }
}
