@import "../ui-components/styles/variables";

:host {

  &.dark-theme {
    .metric-group-container {
      &:not(:first-of-type) .metric-group-header {
        border-top: 1px solid $blue-600;
      }
    }
  }

  display: block;
  position: relative;
  height: 100%;

  .summary-container {
    border-bottom: 1px solid #efefef;
  }

  .single-value-summary-table {
    margin: 16px 0;
    max-width: 80%;
  }

  .single-graph {
    position: relative;
  }

  ::ng-deep .single-graph sm-single-graph {

    .whitebg {
      border: none;
    }
  }

  sm-single-graph {
    width: 100%;

    &.two-in-a-row {
      width: 50%;
    }
  }

  .metrics-section {
    height: 100%;
    overflow-y: scroll;

    .disable-graphs-interactive {
      pointer-events: none;
    }
  }

  .all-metrics {
    height: 100%;
    padding: 0;
  }

  .metric-group-container {
    padding-bottom: 20px;
    width: 100%;

    &.two-in-a-row {
      width: 50%;
    }

    .less-padding {
      padding: 0;
    }

    &.less-padding {
      padding: 0 !important;
    }

    .less-padding:last-child {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }

    &:not(:first-of-type) .metric-group-header {
      margin-top: 20px;
      border-top: 1px solid #efefef;
    }
  }

  .metric-group-header {
    flex-basis: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
    &.disable-resize{
      border-bottom: none;
    }
  }

  .hidden {
    display: none !important;
  }

  .resize-overlay {
    position: absolute;
    z-index: 13;
    top: 0;
    left: 0;

    &.active {
      bottom: 0;
      right: 0;
    }
  }

  .no-output-icon {
    height: 100px;
    width: 150px;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    margin-bottom: 10px;
    position: relative;
  }
}
