:host {
  $chart-bar-height: 48px;

  .overlay {
    display: none;
    position: absolute;
    top: $chart-bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-surface-container-high);
    .loading {
      display: flex;
      align-items: center;
    }
    .text {
      font-size: 14px;
      margin-left: 12px;
      &.no-data{
        margin: 0;
        opacity: 0.5;
      }
    }
  }
}

