@import "../../styles/variables";

.circle-container {
  position: fixed;
  bottom: 36px;
  left: 42px;
  z-index: 1000;
  opacity: 0;
  transition: opacity;
  transition-delay: 0s;

  &.show {
    transition-delay: 0.4s;
    opacity: 1;
  }
}

.absolute-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;

  &.show {
    height: 30px;
  }
}

.header-container {
  position: absolute;
  z-index: 999;
  top: calc(100% - 40px);
  background-color: $neon-yellow;
  width: 0;
  height: 15px;
  left: 40px;
  transition: all 0.4s ease-in-out;

  &.show {
    top: 0px;
    left: 0;
    height: 30px;
    border-radius: 0;
    transition: all 0.4s;
    width: 100%;
    margin: auto;
  }
}

.height-container {
  height: 0;
  transition: all 0.4s;

  &.show {
    height: 30px;
  }
}

.notifier-container {
  a.link {
    color: $blue-800;
    text-decoration: underline;

    &:hover {
      color: $blue-400;
    }
  }

  opacity: 0;
  align-items: center;
  justify-content: space-between;
  display: none;
  padding: 0 6px;

  &.show {
    opacity: 1;
    transition: all 0.4s 0.4s;
    display: flex;
  }

}


.update-container {
  color: $blue-800;
}

.notification-bell {
  color: $neon-yellow
}
