@import "mixins/common";

.card-name {
  height: 32px;
  margin-bottom: 8px;
}

.project-tag {
  @include card-header-tag();
  color: var(--color-tertiary);
}

.footer-title {
  @include counter-label();
  text-align: center;
  font-size: 10px;
  padding: 12px
}

.sub-projects-list {
  height: 100%;
  padding: 6px 0;

  a {
    color: var(--color-on-primary-container);
    display: flex;
    align-items: center;
    margin: 0 12px;
    padding: 0 12px;
    border-radius: 3px;
    line-height: 30px;
    text-decoration: none;

    ::ng-deep .sub-path {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 120px;
      &.double-width{
        max-width:260px;
      }
    }

    &:hover {
      background-color: var(--color-primary-container);
    }
  }
}

::ng-deep .project-card {
  cursor: pointer;
  height: 228px;
  overflow: hidden;
}

::ng-deep .project-card {
  .project-name {
    max-width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

