@import "../../webapp-common/shared/ui-components/styles/variables.scss";
@import "../../webapp-common/shared/ui-components/styles/mixins/lines.scss";

:host {
  margin: 0 auto;
  width: 97%;
  overflow: auto;
  padding-top: 20px;

  /deep/ .empty-card .line {
    display: none;
  }

  .new-credentials {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .separator {
    margin: $card-spacer-y / 2 $card-spacer-x;
    @include line($line-height-sm + px)
  }

  mat-slide-toggle {
    display: block;
  }

  .reload {
    color: transparent;
    text-decoration: underline;
    transition: color 0.5s;

    &.highlight {
      color: $neon-yellow;
      transition: color 0.5s;
    }
  }
}
