@import "variables";

:host {
  display: flex;
  align-items: center;
  width: 100%;
}

.hidden-labels {
  color: $blue-300;
  padding-left: 6px;

  &:hover {
    text-decoration: underline;
    color: $blue-200;
  }
}
