:host {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 24px 24px;

  .preserve-spaces {
    white-space: pre-wrap;
  }

  ::ng-deep .editable-div .form-control {
    height: 74px;
  }

  .info-value {
    height: 36px;
    display: flex;
    align-items: center;
    sm-copy-clipboard {
      visibility: hidden;
      margin-left: 6px;
    }
    &:hover sm-copy-clipboard {
      visibility: visible;
    }
  }

  .mid-title {
    padding: 32px 0 12px;
    color: var(--color-primary);
  }

  sm-table {
    display: block;
    height: 400px;
  }
}
