$palettes1: (
  primary: (
    0: #000000,
    10: #101a38,
    20: #262f4e,
    25: #313a5a,
    30: #3c4566,
    35: #485172,
    40: #545d7f,
    50: #6d7699,
    60: #868fb4,
    70: #a1aacf,
    80: #bcc5ec,
    90: #dce1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #000e5e,
    20: #001c95,
    25: #0023b1,
    30: #012bcf,
    35: #1e3cda,
    40: #2f4ae6,
    50: #4e66ff,
    60: #7487ff,
    70: #98a5ff,
    80: #bbc3ff,
    90: #dee0ff,
    95: #f0efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #171e00,
    20: #2a3500,
    25: #344000,
    30: #3e4c00,
    35: #485900,
    40: #536600,
    50: #698000,
    60: #809b00,
    70: #97b800,
    80: #b0d500,
    90: #c9f300,
    95: #dcff5f,
    98: #f4ffc7,
    99: #fbffe0,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1e,
    20: #303033,
    25: #3b3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #787679,
    60: #929093,
    70: #acaaad,
    80: #c8c6c9,
    90: #e4e2e5,
    95: #f3f0f3,
    98: #fbf8fc,
    99: #fefbfe,
    100: #ffffff,
    4: #0e0e10,
    6: #131315,
    12: #1f1f22,
    17: #2a2a2c,
    22: #353437,
    24: #39393b,
    87: #dcd9dc,
    92: #eae7ea,
    94: #ffffff,
    96: #f6f3f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1b22,
    20: #2f3037,
    25: #3a3b42,
    30: #45464e,
    35: #515259,
    40: #5d5e65,
    50: #76767e,
    60: #909098,
    70: #abaab3,
    80: #c6c6ce,
    90: #e2e1eb,
    95: #f1f0f9,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$palettes: (
  primary: (
    0: #000000,
    10: #001C37,
    20: #00325A,
    25: #003D6D,
    30: #004880,
    35: #005493,
    40: #0060A7,
    50: #007AD1,
    60: #0C94FB,
    70: #69AFFF,
    80: #A1C9FF,
    90: #D2E4FF,
    95: #EAF1FF,
    98: #F8F9FF,
    99: #FDFCFF,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #001947,
    20: #002C71,
    25: #003688,
    30: #00419F,
    35: #004BB7,
    40: #1B58C5,
    50: #3E72E0,
    60: #5C8CFC,
    70: #87A9FF,
    80: #B1C5FF,
    90: #DAE2FF,
    95: #EEF0FF,
    98: #FAF8FF,
    99: #FEFBFF,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #00201A,
    20: #00382E,
    25: #004438,
    30: #005143,
    35: #005E4F,
    40: #006B5A,
    50: #108672,
    60: #3AA18B,
    70: #58BCA5,
    80: #75D8C0,
    90: #95F4DC,
    95: #B7FFEB,
    98: #E6FFF6,
    99: #F3FFFA,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #1A1C1E,
    20: #2F3033,
    25: #3A3B3E,
    30: #46474A,
    35: #515255,
    40: #5D5E61,
    50: #76777A,
    60: #909094,
    70: #ABABAE,
    80: #C6C6CA,
    90: #E3E2E6,
    95: #F1F0F4,
    98: #FAF9FD,
    99: #FDFCFF,
    100: #FFFFFF,
    4: #0a0e14,
    6: #0f141a,
    12: #1c2026,
    17: #262a31,
    22: #31353c,
    24: #353940,
    87: #d7dae3,
    92: #e5e8f1,
    94: #ebeef7,
    96: #f0f3fc,
  ),
  neutral-variant: (
    0: #000000,
    10: #181C22,
    20: #2C3137,
    25: #373C43,
    30: #43474E,
    35: #4E535A,
    40: #5A5F66,
    50: #73777F,
    60: #8D9199,
    70: #A8ABB4,
    80: #C3C6CF,
    90: #DFE2EB,
    95: #EDF1FA,
    98: #F8F9FF,
    99: #FDFCFF,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
