@import "../../shared/ui-components/styles/variables";


  .login-form {
    height: 100%;
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    background-color: $blue-500;
    color: #b9bdd4;
    max-width: 560px;
    overflow: auto;

    @media(max-width: 655px) {
      max-width: unset;
      height: unset;
    }

    @media(max-width: 420px) {
      max-width: unset;
      height: 100vh;
      width: 100vw;
      padding-top: 30px;
    }

    .login-section {
      display: flex;
      flex: 1;
      padding: 24px 0;

      @media(max-width: 655px) {
        overflow: unset;
      }

      .logo {
        width: 150px;
        margin-bottom: 40px;
      }

      .login-title {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        max-width: 320px;
        min-height: 30px;
        white-space: pre-line;
      }

      .login-notice {
        color: #fff;
        margin-bottom: 5px;
      }

      section {
        width: 320px;
        margin: 0 auto;

        form {
          margin-top: 32px;
          //background-color: rgba($blue-800, 0.25);
        }
      }
    }

    .username-input {
      margin-bottom: 12px;

      input {
        background-color: $blue-800;
        color: #ffffff;
        width: 100%;
        padding-left: 12px;
      }

      input:-webkit-autofill,
      input:-internal-autofill-previewed,
      input:-internal-autofill-selected {
        -webkit-box-shadow: 0 0 0 30px $blue-800 inset !important;
        -webkit-text-fill-color: white !important;
      }
    }

    label {
      display: block;
      text-align: left;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 2px;
    }

    .btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 32px;
      margin-top: 16px;
      font-size: 14px;
      font-weight: 500;
      background-color: $blue-400;
      color: #ffffff;
      border: 0; /* this was 1px earlier */
      opacity: unset;

      &:hover {
        background-color: $blue-450;
        border: 0 solid transparent; /* this was 1px earlier */
      }

      &:disabled {
        background-color: #424b6b;
        color: $blue-600;
      }

      .spinner {
        position: absolute;
        left: 75px;
      }

      i {
        font-size: 20px;
        position: relative;
        top: -1px;
      }

      .btn-text {
        display: inline-flex;
        width: 130px;
        white-space: nowrap;
      }
    }

    .separator {
      display: flex;
      justify-content: center;
      color: $blue-250;
      font-size: 11px;

      .line {
        border-bottom: 1px solid $blue-250;
        width: 104px;
        margin-bottom: 10px;
      }
    }

    .terms-of-use {
      display: flex;
      text-align: left;
      padding: 0 24px 24px 24px;
      font-size: 14px;
      color: #b9bdd4;

      &.darkerTou {
        background-color: rgba($blue-800, 0.25);
      }
      a[href] {
        text-decoration: underline;
        cursor: pointer;
        color: #b9bdd4;

        &:hover {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }



.circle {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-top-color: #FFFFFF;
  animation: spin 1s infinite linear;
  margin-bottom: 40px;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

.errors {
  width: 250px;
  max-height: 100px;
  overflow: auto;
  margin-top: 16px;
  color: #ff6f81;
  text-align: left;
}

.other-email {
  margin-top: 16px;
  text-align: left;
}


.banner {
  color: $blue-400;
  padding: 24px;
  text-align: left;
  font-size: 12px;
}

.community-links {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 24px;
  border-top: $blue-400 solid 1px;
  background-color: #384161;

  .link {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 12px;
    text-decoration: none;
    color: $blue-grey;

    &.link-community {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #ffffff;
      text-decoration: unset;
    }

    i {
      margin-right: 4px;
      @media(max-width: 420px) {
        font-size: 24px;
      }
    }

    .text {
      @media(max-width: 420px) {
        display: none;
      }
    }
    .gazer {
      white-space: nowrap;
    }
  }
}

:host-context(.mobile) {
  .login-form {
    padding-top: 64px;
  }
}

