<div [ngClass]="['login-form', darkTheme ? 'dark-theme' : 'light-theme']">
  <div class="login-section">
    <section>
      <img [src]="darkTheme ? 'assets/logo-white.png' : 'assets/logo.png'" class="logo" alt="Shuyu Logo">
      <div *ngIf="isInvite || showSimpleLogin" class="login-title">{{loginTitle}}</div>
      <div *ngIf="notice" class="login-notice">{{notice}}</div>
      <div *ngIf="!loginMode" class="circle"></div>
      <form #loginForm="ngForm" [class.d-none]="!loginMode">
        <div class="username-input pt-4" *ngIf="showSimpleLogin || [loginModeEnum.password, loginModeEnum.simple].includes(loginMode)">
          <label for="name">{{loginMode === loginModeEnum.password ? 'Username' : 'Full Name'}}</label>
          <input type="text"
                 #nameInput
                 id="name"
                 name="name"
                 autofocus
                 [(ngModel)]="loginModel.name"
                 [matAutocomplete]="auto"
                 pattern=".*\S.*"
                 maxlength="70"
                 required>
        </div>
        <div class="username-input" *ngIf="loginMode === loginModeEnum.password">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 name="password"
                 [(ngModel)]="loginModel.password"
                 required>
        </div>
        <div *ngIf="loginFailed" class="errors">
          Invalid User/Password combination
        </div>
        <ng-container *ngIf="showSimpleLogin || [loginModeEnum.password, loginModeEnum.simple].includes(loginMode)">
          <button class="btn btn-neon" (click)="login()"
                  [disabled]="loginForm.touched && (!loginForm.valid || showSpinner)">
            <mat-spinner class="spinner" *ngIf="showSpinner" diameter="16"></mat-spinner>
            {{buttonCaption}}
          </button>
        </ng-container>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <ng-content></ng-content>
      </form>
    </section>
  </div>
</div>
