<ng-select #ngSelectRef
           [ngClass]="{'disabled':disabled}"
           notFoundMsg=""
           dropdownPosition="bottom"
           [placeholder]="placeholder"
           [multiple]="multiple"
           [addTag]=" !optionAddable ? false : boundAddTag"
           [clearable]=" multiple && clearable"
           [loading]="false"
           [items]="items"
           [isOpen]="disabled === true ? false : undefined"
           [(ngModel)]="ngModelValue"
           (change)="onChange($event)"
           [name]="name"
>

  <ng-template *ngIf="multiple || enableChips" ng-label-tmp let-item="item">
    <sm-chips
      *ngIf="items.length"
      [isDarkBackground]="false"
      [allowRemove]="(!disabled) && multiple"
      (remove)="removeTag(item)"
      [label]="item.label">
    </sm-chips>
  </ng-template>
</ng-select>
<ng-content></ng-content>
