@import "../../styles/variables";

:host {
  width: 100%;
  height: 100%;
  ng-form,
  mat-form-field {
    display: block;
  }

  .narrow {
    ::ng-deep .mat-form-field-flex {
     margin-top: -16px;
     height: 48px;
    }

    ::ng-deep .mat-form-field-infix {
      height: 42px;
      border-top: 0;
      line-height: 24px;
    }
  }

}
