@import "variables";

$list-width: 300px;

:host {
  display: flex;
  height: 100%;

  .toggle-all {
    font-size: 10px;
    padding-right: 2px;
    cursor: pointer;
  }

  .list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: $list-width;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .graphs-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  .drawer-settings-bar {
    height: unset;
    padding: 24px;
    border-bottom: 1px solid $blue-100;
  }


  .ribbon-setting-bar {
    overflow: hidden;
    height: auto;
    max-height: 0;
    padding: 0 25px 0 22px;
    background-color: #f2f3f6;
    transition: max-height 0.3s;

    &.showSettings {
      padding-top: 7px ;
      min-height: 64px;
      max-height: 128px;
    }
  }

  sm-experiment-graphs {
    &.with-settings {
      height: calc(100% - 64px);
    }
  }
}

::ng-deep sm-experiment-output-scalars .cursor-crosshair {
  cursor: default !important;
}
