
  mat-drawer {
    background-color: #ffffff;
  }

  mat-drawer-container {
    width: 100%;
  }

  .hover-button-container {
    position: relative;
    left: 30px;
    top: 20px;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 6px;
    z-index: 1;
  }

  .hover-button {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 14;
    button {
      padding: 6px;
      display: flex;
      align-items: center;
    }
  }
