@font-face {
  font-family: 'Heebo';
  src: url('./app/webapp-common/assets/fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./app/webapp-common/assets/fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./app/webapp-common/assets/fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./app/webapp-common/assets/fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
      src: url('./app/webapp-common/assets/fonts/Heebo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
