$icomoon-font-family: "trains" !default;
$icomoon-font-path: "fonts" !default;
$al-ico-t-logo-b: "\e908";
$al-ico-bars-menu: "\e933";
$al-ico-home: "\e909";
$al-ico-projects: "\e90a";
$al-ico-datasets1: "\e90b";
$al-ico-queues: "\e90c";
$al-ico-annotator: "\e90d";
$al-ico-account: "\e998";
$al-ico-compare: "\e93f";
$al-ico-archive: "\e92c";
$al-ico-logout: "\e9a6";
$al-ico-how-to: "\e997";
$al-ico-compare-c: "\e93a";
$al-ico-datasets: "\e944";
$al-ico-published-title: "\e9d2";
$al-ico-publish: "\e9cf";
$al-ico-unpublish: "\ea0f";
$al-ico-published: "\e9d1";
$al-ico-info: "\e99b";
$al-ico-warn: "\ea10";
$al-ico-settings: "\e9e2";
$al-ico-trash: "\ea0b";
$al-ico-arrow-from-right: "\e92e";
$al-ico-arrow-from-left: "\e92d";
$al-ico-arrow-to-bottom: "\e92f";
$al-ico-arrow-to-top: "\e930";
$al-ico-training: "\e90e";
$al-ico-test: "\ea09";
$al-ico-testing: "\ea0a";
$al-ico-type-training: "\ea33";
$al-ico-type-testing: "\ea32";
$al-ico-type-data-processing: "\ea2c";
$al-ico-type-qc: "\ea30";
$al-ico-type-service: "\ea31";
$al-ico-type-optimizer: "\ea2f";
$al-ico-type-monitor: "\ea2e";
$al-ico-type-inference: "\ea2d";
$al-ico-type-application: "\ea29";
$al-ico-type-controller: "\ea2a";
$al-ico-type-custom: "\ea2b";
$al-ico-how-to1: "\e90f";
$al-ico-model: "\e910";
$al-ico-temp-edit: "\e911";
$al-ico-dialog-x: "\e980";
$al-ico-temp-image: "\e912";
$al-ico-temp-list-alt: "\e913";
$al-ico-dog: "\e914";
$al-ico-alert-purple: "\e927";
$al-ico-back: "\e931";
$al-ico-cat: "\e936";
$al-ico-clone: "\e937";
$al-ico-completed: "\e940";
$al-ico-data-audit: "\e943";
$al-ico-download-frames: "\e982";
$al-ico-dropdown-arrow: "\e984";
$al-ico-ellipse-icon: "\e986";
$al-ico-filter: "\e992";
$al-ico-fit: "\e995";
$al-ico-id: "\e999";
$al-ico-info-max: "\e99c";
$al-ico-info-min: "\e99d";
$al-ico-keypoint: "\e99f";
$al-ico-list-view: "\e9a5";
$al-ico-minus: "\e9a7";
$al-ico-previous: "\e9bb";
$al-ico-next: "\e9af";
$al-ico-plus: "\e9b8";
$al-ico-polygon: "\e9b9";
$al-ico-pytorch-icon: "\e9d4";
$al-ico-question-mark: "\e9d5";
$al-ico-rectangle: "\e9db";
$al-ico-running: "\e9df";
$al-ico-tree-view: "\ea0d";
$al-ico-undo: "\ea0e";
$al-ico-zoom-1-to-1: "\ea25";
$al-ico-zoom-in: "\ea26";
$al-ico-zoom-out: "\ea27";
$al-ico-search: "\e9e1";
$al-ico-zoom-to-fit: "\ea28";
$al-ico-kibana-code: "\e9a4";
$al-ico-reset: "\e9dd";
$al-ico-import: "\e99e";
$al-ico-export: "\e9b6";
$al-ico-between: "\e934";
$al-ico-next-batch: "\e9b0";
$al-ico-prev-batch: "\e9ba";
$al-ico-back-to-top: "\e932";
$al-ico-redo: "\e9dc";
$al-ico-download: "\e981";
$al-ico-edit: "\e983";
$al-ico-pending: "\e9b7";
$al-ico-aborted: "\e925";
$al-ico-success: "\e9f5";
$al-ico-alert-outline: "\e926";
$al-ico-github: "\e915";
$al-ico-description: "\e916";
$al-ico-line-expand: "\e900";
$al-ico-user-logout: "\e901";
$al-ico-documentation: "\e919";
$al-ico-frame-rule: "\e91a";
$al-ico-source-rule: "\e91b";
$al-ico-get-link-dialog: "\e91d";
$al-ico-iteration: "\e91e";
$al-ico-mapping: "\e91f";
$al-ico-labels: "\e920";
$al-ico-augmentation: "\e921";
$al-ico-filter-outlined: "\e922";
$al-ico-input-data: "\e923";
$al-ico-help-outlined: "\e924";
$al-ico-email: "\e928";
$al-ico-tips: "\e929";
$al-ico-caret-right: "\e92a";
$al-ico-currently-active: "\e92b";
$al-ico-access-key: "\e935";
$al-ico-alert: "\e9b3";
$al-ico-users: "\e91c";
$al-ico-status-draft: "\e902";
$al-ico-status-pending: "\e903";
$al-ico-status-running: "\e904";
$al-ico-status-completed: "\e905";
$al-ico-status-published: "\e906";
$al-ico-status-failed: "\e907";
$al-ico-status-aborted: "\e917";
$al-ico-status-aborted-sec: "\e918";
