a[href]:hover {
  text-decoration: underline;
}

.no-data-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.al-icon {
  color: var(--color-tint-14);
}

.message {
  font-size: 20px;
  font-weight: 500;
}

.sub-message {
  color: var(--color-on-surface);
}

