@import "variables";

:host {
  width: 100%;

  &:has(.empty) {
    height: 100%;
  }

  .list-container {
    width: 100%;

    &.empty {
      height: 100%;
    }
  }

  mat-checkbox {
    width: 100%;
    height: 40px;
    align-items: center;
    border-radius: 4px;
  }

  ::ng-deep .mat-mdc-checkbox {
    .mdc-checkbox .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background {
      background-image: url(../../../../../../app/webapp-common/assets/icons/cbx-exlude.svg);
      background-size: 18px;
      border: 0;
      transition: none;
    }

    .mdc-checkbox__mixedmark {
      display: none;
    }

    .mdc-form-field {
      width: 100%;
    }

    label {
      max-width: 100%;
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
