@import "variables";

:host {
  width: 100%;
  mat-checkbox {
    width: 100%;
    padding-left: 16px;
    padding-right: 32px;
    height: 40px;
    align-items: center;
    border-radius: 4px;
    &:hover {
      background: $blue-50;
    }
    ::ng-deep .mat-checkbox-layout {
      width: 100%;
    }
    ::ng-deep .mat-checkbox-label {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: normal;
      color: rgba(0, 0, 0, 0.87)
    }
     &.mat-checkbox-indeterminate  {
       ::ng-deep  .mat-checkbox-background {
        color: red;
        background-image: url('../../../../assets/icons/cbx-exlude.svg');
      }
    }
  }
}
