@import 'variables';

:host {
  header {
    padding: 20px 24px;
  }
  .main {
    padding: 0 24px;
  }
  .section {
    margin: 6px 0 24px;
    padding-bottom: 12px;
  }
  .title {
    color: $white;
    font-size: 16px;
  }
}
