@import "variables";

$sm-purple: (
  50: lighten($purple, 20%),
  100: lighten($purple, 15%),
  200: lighten($purple, 10%),
  300: lighten($purple, 5%),
  400: $purple,
  500: darken($purple, 5%),
  600: darken($purple, 10%),
  700: darken($purple, 15%),
  800: darken($purple, 20%),
  900: darken($purple, 55%),
  A100: $purple,
  A200: darken($purple, 5%),
  A400: darken($purple, 10%),
  A700: darken($purple, 15%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$sm-neon: (
  50: lighten($neon-yellow, 30%),
  100: lighten($neon-yellow, 25%),
  200: lighten($neon-yellow, 20%),
  300: lighten($neon-yellow, 15%),
  400: lighten($neon-yellow, 10%),
  500: $neon-yellow,
  600: darken($neon-yellow, 10%),
  700: darken($neon-yellow, 15%),
  800: darken($neon-yellow, 20%),
  900: darken($neon-yellow, 25%),
  A100: $neon-yellow,
  A200: darken($neon-yellow, 5%),
  A400: darken($neon-yellow, 10%),
  A700: darken($neon-yellow, 15%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
