@use '@angular/material' as mat;
@import "variables";

.dark-theme, .light-theme {

  .entity-context-menu .cdk-program-focused {
    background-color: transparent !important;
  }
  .mat-mdc-form-field {
    --mdc-typography-body1-font-size: 14px;
    --mdc-typography-body1-line-height: 16px;

    &.mat-form-field-appearance-outline {
      &.black {
        background-color: #000;

        .mat-mdc-select-value, .mat-mdc-select-arrow {
          color: $blue-200;
        }
      }

      .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
          height: 100%;

          .mat-mdc-form-field-infix {
            min-height: 100%;
            padding: 5px 0;

            .mat-mdc-input-element {
              height: 26px;
            }
          }

          .mat-mdc-form-field-icon-suffix {
            line-height: 24px;
          }
        }
      }

      &.mat-mdc-form-field-type-mat-select {
        .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
          padding: 6px 0;
        }
      }
    }

    &.mat-form-field-appearance-fill {
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;

        .mat-mdc-input-element {
          background-color: transparent;
        }
      }

      &.mat-focused {
        .mat-mdc-form-field-focus-overlay {
          opacity: 5%;
        }
      }
    }

    &.no-bottom {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
      padding: 0;
      --mdc-typography-caption-letter-spacing: 0;
    }

  }
}

.mat-mdc-form-field.notched {
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
    margin-top: 20px;

    .mdc-notched-outline--upgraded {
      .mdc-floating-label--float-above {
        // --mat-mdc-form-field-label-transform: translate(-4px, -42.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
        --mat-mdc-form-field-label-transform: translate(-4px, -44px) scale(1);
        font-size: 12px;
      }
    }

    .mdc-notched-outline__notch {
      margin-left: -12px;
      border-top: 1px solid;
      border-radius: 4px 0 0 4px;
    }
  }
}

.mat-mdc-autocomplete-panel {
  padding: 0;

  &.light-theme {
    --mdc-theme-surface: white;
    --mdc-theme-text-primary-on-background: #{$blue-500};
  }

  &.dark, &.black {
    --mdc-theme-surface: #000;

    .mat-mdc-option {
      --mdc-theme-text-primary-on-background: #{$blue-200};
    }
  }

  .mat-mdc-option {
    --mdc-typography-body1-line-height: 36px;
    --mdc-typography-body1-font-size: 14px;
    min-height: 36px;
  }
}

.dark-theme.mat-mdc-select-panel {
  --mdc-theme-primary: #{$blue-200};
  --mdc-list-list-item-label-text-color: #{$blue-200};
  --mdc-theme-text-primary-on-background: #{$blue-200};
  --mdc-typography-body1-font-size: 14px;
}

.dark-theme {
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
      border-color: $blue-500;
      border-width: 1px;
    }

    &:not(.mdc-text-field--focused):hover .mdc-notched-outline {
      .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
        border-color: $blue-450;
      }
    }

    &.mdc-text-field--focused {
      .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
        border-color: $blue-400;
      }
    }
  }
}

.light-theme {
  .mat-mdc-form-field, .mat-mdc-form-field.notched {
    .mdc-notched-outline__notch {
      border-radius: 4px 0 0 4px;
    }

    .mdc-text-field--outlined.mdc-text-field--disabled .mdc-notched-outline__notch {
      border-color: rgba(0, 0, 0, 0.06);
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
      .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
        border-color: $cloudy-blue;
        border-width: 1px;
      }

      &:not(.mdc-text-field--focused):hover .mdc-notched-outline {
        .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
          border-color: $blue-250;
        }
      }

      &.mdc-text-field--focused {
        .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
          border-color: $blue-400;
        }
      }
    }
  }

  .mat-mdc-select, &.mat-mdc-select-panel {
    --mdc-typography-body1-font-size: 14px;

    .mat-mdc-option {
      border-radius: 4px;
      height: 40px;
      min-height: 40px;
      line-height: 40px;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }

      .mdc-list-item__primary-text {
        display: inline-block;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.wider-options {
     min-width: 250px;
    }
  }
}

body.dark-theme .mat-mdc-select-panel.dark-outline,
body.dark-theme .mat-mdc-autocomplete-panel.dark-outline {
  --mdc-theme-primary: #{$blue-200};
  --mdc-typography-body1-font-size: 14px;
  background-color: #000;
  border: 1px solid $blue-500;
  padding: 4px;
  max-height: 280px;

  .mat-mdc-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: $blue-700;
  }

  .mat-mdc-option {
    --mdc-theme-text-primary-on-background: #{$blue-200};
    border-radius: 4px;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }

    &.mat-mdc-selected:not(.mat-mdc-option-multiple), &.mat-active {
      background: $blue-800;
    }
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled),
  .mat-mdc-option:focus:not(.mdc-list-item--disabled),
  .mat-mdc-option.mat-mdc-option-active,
  .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
    background: $dark-grey-blue;
  }

  .mdc-menu-surface.mat-mdc-autocomplete-panel {
    border: 1px solid $blue-500;
    padding: 4px;
  }

  .mat-pseudo-checkbox::after {
    color: $blue-200;
  }

  &.mat-primary .mat-mdc-option.mat-selected:not(.mat-option-disabled) .mdc-list-item__primary-text {
    color: $blue-200;
  }
  &.unset-option-height .mat-mdc-option {
    // show all options text inside
    height: unset;
    line-height: normal;
  }
}

.mat-mdc-slider.mdc-slider {
  $size: 36px;
  height: $size;

  .mdc-slider__thumb {
    height: $size;
    width: $size;
    left: -$size * 0.5;
  }

  .mat-ripple-element.mat-mdc-slider-active-ripple,
  .mat-ripple-element.mat-mdc-slider-focus-ripple,
  .mat-ripple-element.mat-mdc-slider-hover-ripple {
    height: $size !important;
    width: $size !important;
    left: 0 !important;
    top: 0 !important;
  }
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-icon-size: 8px;
  --mdc-switch-unselected-icon-size: 8px;
  --mdc-switch-handle-width: 14px;
  --mdc-switch-handle-height: 14px;
  --mdc-switch-track-width: 30px;
  --mdc-switch-state-layer-size: 32px;

  .mdc-switch {
    margin-right: 8px;
  }
}

.light-theme .mat-mdc-slider.mat-primary {
  --mdc-slider-inactive-track-height: 2px;
  --mdc-slider-inactive-track-color: #{$cloudy-blue-two};
  --mdc-slider-active-track-height: 2px;
  --mdc-slider-active-track-color: #{$blue-280};
  --mdc-slider-handle-width: 14px;
  --mdc-slider-handle-height: 14px;
  --mdc-slider-handle-color: #{$blue-300};
  --mdc-slider-label-container-color: #{$purple};
  --mat-mdc-slider-value-indicator-opacity: 1;

}

.indicator-position-bottom.mdc-slider {
  .mdc-slider__value-indicator-container {
    bottom: auto;
    top: 40px;
  }

  .mdc-slider__value-indicator {
    transform-origin: top;

    &:before {
      transform: rotate(180deg);
      top: -6px;
      margin-left: -6px;
    }
  }
}

.mat-mdc-menu-panel.dark {
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px $blue-500;
  background-color: $black;

  --mdc-theme-text-primary-on-background: $blue-200;

  .mat-mdc-menu-item {
    color: $blue-200;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: $dark-grey-blue;
    }
  }
}

.dark-theme .mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #000;
}

.mat-calendar-hidden-label {
  display: none !important;
}

.mat-calendar-body-selected {
  background-color: $blue-200;
}

.mat-mdc-input-element {
  font-size: var(--input-font-size, 14px) !important;
}

.mat-mdc-tab-header {
  //border-bottom: 1px solid #efefef;

  .mat-mdc-tab-header-pagination {
    color: $blue-400;
  }
}

.mat-mdc-tab-link.mdc-tab {
  height: 38px !important;
  padding: 0 16px;
  color: $blue-300;
  min-width: 40px;

  &.mdc-tab-indicator--active {
    color: $purple;
  }
}

.dark-theme .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: $blue-200;
}
