@use '~@angular/material' as mat;
@import "./themes/dark";
@import "./themes/light";
@import "material-palette";


.dark-theme {
  // Define the palettes for your theme using the Material Design palettes available in palette.scss
  // (imported above). For each palette, you can optionally specify a default, lighter, and darker
  // hue. Available color palettes: https://material.io/design/color/
  $custom-dark-primary: mat.define-palette(mat.$light-green-palette);
  $custom-dark-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);

  // The warn palette is optional (defaults to red).
  $custom-dark-warn: mat.define-palette(mat.$red-palette);

  // Create the theme object (a Sass map containing all of the palettes).
  $custom-dark-theme: mat.define-dark-theme($custom-dark-primary, $custom-dark-accent, $custom-dark-warn);
  @include mat.all-component-themes($custom-dark-theme);
}
.light-theme{
  $custom-light-primary: mat.define-palette($sm-purple);
  $custom-light-accent: mat.define-palette($sm-purple, A200, A100, A400);

  // The warn palette is optional (defaults to red).
  $custom-light-warn: mat.define-palette(mat.$red-palette);

  // Create the theme object (a Sass map containing all of the palettes).
  $custom-light-theme: mat.define-light-theme($custom-light-primary, $custom-light-accent, $custom-light-warn);
  @include mat.all-component-themes($custom-light-theme);

}

