// drak theme
$text: #fafafa;
$text-gray: rgb(125, 133, 144);

$background-color: rgb(1, 4, 9);
$background-color-content: rgb(13, 17, 23);
$background-color-hover: rgba(231, 233, 234, 0.1);

$border-color: rgb(33, 38, 45);

$primary-color: rgb(45, 66, 225);
$secondary-color: #2d2806;
$accent-color: rgba(45, 66, 225, 0.3);
$danger-color: #FF4D4F;
