@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  .queues-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
  }

  sm-queue-stats {
    margin: 0 24px;
  }
}

@media (max-height: 750px) {
  :host {
    height: unset;
  }
}
