@import "../../../../webapp-common/layout/layout.scss";

:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$wnq-tabs-height});

  as-split {
    height: calc(100% - #{$graph-height});
    min-height: 180px;
  }
}
