<sm-queue-stats [queue]="selectedQueue$ | async"></sm-queue-stats>
<as-split class="flex-grow-1">
  <as-split-area [size]="50">
    <sm-queues-table class="mt-2"
                     [queues]="queues$ | async"
                     [selectedQueue]="selectedQueue$ | async"
                     (sortedChanged)="sortedChanged($event)"
                     [tableSortFields]="tableSortFields$ | async"
                     [tableSortOrder]="tableSortOrder$ | async"
                     (deleteQueue)="deleteQueue($event)"
                     (renameQueue)="renameQueue($event)"
                     (queueSelected)="selectQueue($event)">
    </sm-queues-table>
  </as-split-area>
  <as-split-area [size]="50" [visible]="!!(selectedQueue$| async)">
    <sm-queue-info [selectedQueue]="selectedQueue$ | async"
                   [queues]="queues$ | async"
                   (moveExperimentToTopOfQueue)="moveExperimentToTopOfQueue($event)"
                   (moveExperimentToBottomOfQueue)="moveExperimentToBottomOfQueue($event)"
                   (removeExperimentFromQueue)="removeExperimentFromQueue($event)"
                   (moveExperimentToOtherQueue)="moveExperimentToOtherQueue($event)"
                   (moveExperimentInQueue)="moveExperimentInQueue($event)"
                   (deselectQueue)="selectQueue(null)">
    </sm-queue-info>
  </as-split-area>
</as-split>
