<div class="queues-header">
  @if (queuesManager) {
    <button mat-flat-button (click)="addQueue()">
      <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
      NEW QUEUE
    </button>
  }
<!--  <sm-refresh-button (setAutoRefresh)="setAutoRefresh($event)"></sm-refresh-button>-->
</div>
<sm-queue-stats [queue]="selectedQueue()"></sm-queue-stats>
<as-split
  class="flex-grow-1"
  [gutterSize]=1 [useTransition]="true"
  (transitionEnd)="table.table.resize(); table.afterTableInit()"
>
  <as-split-area [size]="50">
    <sm-queues-table
      #table
      [queues]="queues()"
      [selectedQueue]="selectedQueue()"
      [tableSortFields]="tableSortFields()"
      [short]="!(shortScreen$ | ngrxPush)"
      (sortedChanged)="sortedChanged($event)"
      (deleteQueue)="deleteQueue($event)"
      (renameQueue)="renameQueue($event)"
      (clearQueue)="clearQueue($event)"
      (queueSelected)="selectQueue($event)"
    ></sm-queues-table>
  </as-split-area>
  <as-split-area [size]="50" [visible]="!!selectedQueue()">
    <sm-queue-info
      [selectedQueue]="selectedQueue()"
      [queues]="queues()"
      (moveExperimentToTopOfQueue)="moveExperimentToTopOfQueue($event)"
      (moveExperimentToBottomOfQueue)="moveExperimentToBottomOfQueue($event)"
      (removeExperimentFromQueue)="removeExperimentFromQueue($event)"
      (moveExperimentToOtherQueue)="moveExperimentToOtherQueue($event)"
      (moveExperimentInQueue)="moveExperimentInQueue($event)"
      (deselectQueue)="selectQueue(null)"
    ></sm-queue-info>
  </as-split-area>
</as-split>
