:host {
  flex: 0 0 220px;
  .console-button{
    visibility: hidden;
  }

  .title {
    max-width: 162px; // use for ellipsis
  }
  &:hover{
    .console-button{
      visibility: visible;
    }
  }
}
.step-footer {
  font-size: 12px;
}

