@import "../variables";

$light-theme: (
  bg-color: white,
  color: $blue-400,
  al-header: $blue-500,
  card: (
    body-bg-color: #fff,
    footer-bg-color: #fff,
    border-color: $blue-250,
    seperator-line-color: #d4d6e0,
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1)
  ),
  scrollbar: (
    tumb-background: $blue-100
  ),
  bootstrap: (
    primary: $blue-50,
    primary-font-color: $blue-300
  ),
  linkColor: (
    color: $purple
  ),
  primeng: (
    fontFamily: $font-family-base,
    fontSize: $font-size-base,
    borderRadius: $border-radius,
    disabledOpacity: 0.35,
    //Header
    headerBorderWidth: $border-width,
    headerBorderColor: transparent,
    headerBgColor: $blue-500,
    headerTextColor: $blue-200,
    headerFontWeight: 500,
    headerIconTextColor: $blue-300,
    //Content
    contentBorderWidth: $border-width,
    contentBorderColor: transparent,
    contentBgColor: $blue-700,
    contentTextColor: $font-default-color,
    //Default State
    stateDefaultBorderWidth: $border-width,
    stateDefaultBorderColor: transparent,
    stateDefaultBgColor: $blue-100,
    stateDefaultTextColor: $blue-400,
    //Active State
    stateActiveBorderColor: transparent,
    stateActiveBgColor: $blue-200,
    stateActiveTextColor: $blue-400,
    //Highlight State
    stateHighlightBorderColor: transparent,
    stateHighlightBgColor: $blue-300,
    stateHighlightTextColor: $blue-400,
    //Focus State
    stateFocusBorderColor: transparent,
    stateFocusBgColor: $blue-200,
    stateFocusTextColor: $blue-400,
    //Error State
    stateErrorBorderColor: #ec4e4e,
    stateErrorBgColor: #ec4e4e,
    stateErrorTextColor: #ffffff,
    //Hover State
    stateHoverBorderColor: transparent,
    stateHoverBgColor: $blue-200,
    stateHoverTextColor: $blue-400,
    //Forms
    inputBgColor: inherit,
    inputTextColor: $white,
    invalidInputBorderColor: #ec4e4e,
    inputGroupTextColor: $white,
  ),
  navbar-item: (
    color: #8e95ab,
    active-color: #5871ff,
  ),
  search-input: (
    color: $blue-400,
    icon-color: $blue-480,
    border-color: $blue-200,
    border-color-focus: $blue-480,
    ph-color: $blue-250
  ),
  input: (
    color: $blue-500,
    place-holder-color: $blue-250,
    background-color: $white,
    //background-color-disabled: $blue-600,
    border-radius: 4px,
    border-color: $cloudy-blue-two,
    border-width: 1px,
    focus-color: $blue-400,
    hover-border-color: rgba(206, 209, 220, 0.5),
    focus-border-color: $blue-400,
    focus-box-shadow: none,
    focus-bg: $white,
    height: 32px,
  ),
  input-select: (
    option-color: $blue-400,
  ),
  input-highlight: (
    height: 48px,
    background-color: $blue-50,
    border-radius: 4px,
    border: solid 1px transparent,
  ),
  table: (
    cell-padding: .75rem,
    cell-padding-sm: .3rem,
    bg: $white,
    even-bg: #f9fafb, //TODO: declare var.
    hover-bg: $blue-50,
    hover-color: $blue-400, //TODO: ask brio
    active-bg: $blue-200, //TODO: ask brio
    header-bg: white,
    header-hover-bg: unset,
    header-color: $blue-400,
    border-radius: 2px, // TODO,
    border-color: transparent, // TODO,
    row-color: $blue-400,
    row-bg-color: $white,
    box-shadow: inset 0 -1px 0 0 $blue-300
  ),
  button-toggle-group: (
    background-color-active: #e0e0e0,
    background-color:#fff,
    color-active: #000,
    color: #222
  )
);
