@import "../../shared/ui-components/styles/variables";

:host {
  display: block;


  .images-section {
    margin-top: 0;

    h5 {
      margin-bottom: 20px;
    }

    .images-section:not(:first-child) {
      margin-top: 20px;
    }
  }

  .no-output-icon {
    margin-top: 80px;
  }

  .no-output-inner {
    background: #e4e4e4;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 20px;

    .no-output-icon {
      width: 100%;
      height: 210px;
    }
  }

  .experiment-name {
    padding-left: 3px;
    width: 450px;
    word-break: break-word;
    font-size: 1.50rem;
    height: 80px;
    overflow: auto;
  }

  .mat-expansion-panel {
    width: 100%;
    margin-top: 4px;
    box-shadow: unset;
    &:hover{
      background:transparent;
    }


    ::ng-deep .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0 12px 48px 12px;
      }
    }

    .mat-expansion-panel-header {
      margin-bottom: 0;
    }

    .mat-expansion-panel-header-title {
      margin: 10px 0;
      font-family: $font-family-base, sans-serif;
      color: rgba(56, 65, 97, 0.8)


    }

    &-header {
      padding: 0 4px;
      height: 32px !important;
      max-height: 32px;
      font-size: 14px;
      font-weight: bold;

      &:hover {

        .mat-expansion-panel-header-title {
          color: rgba(56, 65, 97, 1);
        }
      }

      &-title, ::ng-deep .mat-expansion-indicator::after {
        flex: unset;
      }
    }

    .details-body {
      height: 200px;
      overflow-y: scroll;
      background-color: white;
    }
  }

  .mat-expansion-panel {
    &.dark-theme {
      background: transparent;
    }
  }
}
