:host {
  /deep/ .mat-expansion-panel-body {
    padding: 0px;
  }

  /deep/ .mat-expansion-panel-header {
    padding-left: 0;
    padding-right: 24px;
    position: relative;
  }

  /deep/ .mat-expansion-panel-header-title {
    align-items: center;
  }

  /deep/ .mat-expansion-panel {
    border-radius: 0;

    &.hide {
      visibility: hidden !important;
      height: 0;
    }
  }
}
