@import 'variables';

nav {
  --mat-tab-header-label-text-size: 12px;
  --mat-tab-header-label-text-letter-spacing: 0.03em;
  --mat-tab-header-inactive-hover-label-text-color: #{$purple};

  &.mat-mdc-tab-header-pagination-controls-enabled {
    padding: 0 8px;
  }

  &.mat-mdc-tab-nav-bar {
    --mat-tab-header-pagination-icon-color: $blue-500;
  }

  a {
    text-decoration: none;
  }
}
