:host {
  ::ng-deep .p-datatable-table {
    border-collapse: collapse;
  }

  ::ng-deep th.resize-enabled span.p-column-resizer {
    width: 8px;
    z-index: 20;

    &:hover {
      background: color-mix(in srgb, var(--color-primary), transparent 80%);
      background-clip: content-box;
    }
  }


  th.resize-disabled {
    ::ng-deep span.p-column-resizer {
      cursor: auto;
    }
  }

  ::ng-deep .p-column-resizer-helper {
    background-color: var(--color-primary);
    z-index: 1000;
  }

  ::ng-deep .p-icon path {
    fill: var(--color-primary);
  }

  .has-header {
    ::ng-deep .p-datatable-scrollable, ::ng-deep .p-datatable {
      & > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead {
        z-index: 20;

        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          top: 0;
          height: var(--table-row-height);
          background-color: var(--row-header-color);
        }
      }
    }
  }

  ::ng-deep .p-datatable-wrapper {
    .p-datatable-tbody {
      height: calc(100% - var(--table-row-height, 48px));
    }
  }

  .card-view {
    ::ng-deep .p-datatable-wrapper {
      overflow-x: hidden;
    }
  }

  .card-header {
    box-shadow: var(--mat-app-elevation-shadow-level-2);
  }

  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table-header-title {
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 8px;
    margin-right: 12px;
  }

  .collapse-button {
    cursor: pointer;
    margin-right: auto;
    margin-top: -2px;

    &.active {
      color: var(--color-tertiary);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }
  }

  .table-actions {
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }

  .selected-col-header {
    pointer-events: none;
  }


  .table-load-more {
    background-color: transparent !important;
    border-bottom: none !important;
    height: 100px;
    position: relative;

    &.hidden {
      height: 0;
    }
  }

  .load-more-wrapper {
    position: absolute;
    width: 100%;
    bottom: 32px;

    button, sm-dots-load-more {
      padding: 8px 40px;
      width: 175px;
      position: sticky;
      left: 50%;
      transform: translateX(-50%);
    }

    .load-spinner {
      display: inline-block;
      vertical-align: middle;
      background-image: url("../../../../assets/icons/Spinner.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      width: 16px;
      height: 16px;
      margin-right: 6px;

    }
  }

  .no-data-wrapper {
    display: flex;
    position: absolute;
    width: 100%;

    span {
      position: sticky;
      left: 50%;
      transform: translateX(-50%);
      color: var(--color-on-surface);
    }
  }

  tr:not(.cards-table) {
    &:not(.no-data-row):not(.load-more-wrapper) {
      border-bottom: 1px solid var(--row-border-color);
    }

    &:not(.header):not(.selected):not(.checked):not(.no-data-row):not(.simple):not(.load-more-wrapper) {
      background-color: var(--row-default-color);
      &:hover, &.contexted {
        background-color: var(--row-default-hover-color);
        border-bottom: 1px solid var(--row-border-color);

        .p-frozen-column {
          background-color: var(--row-default-hover-color) !important;;
          z-index: 1;
        }
      }
    }

    &.checked:not(.header):not(.selected):not(.no-data-row):not(.simple) {
      background-color: var(--row-selection-color);
      color: var(--row-selection-text-color);

      .card-wrapper {
        border-bottom: none;
      }

      &:hover, &.contexted {
        &:not(.cards-table) {
          background-color: var(--row-selection-hover-color);
        }

        .card-wrapper {
          background-color: var(--row-selection-hover-color);
        }
      }
    }

    &.selected {
      .card-wrapper {
        border-bottom-color: var(--row-border-color);
      }

      background-color: var(--row-selected-color);
      color: var(--row-selected-text-color);

      --mdc-checkbox-unselected-icon-color: var(--color-on-surface);

      ::ng-deep mat-checkbox:not(.mat-mdc-checkbox-checked) {
        .mdc-checkbox:hover .mdc-checkbox__background {
          background-color: var(--color-surface);
        }
      }

      &:hover {
        background-color: var(--row-selected-hover-color);
      }
    }
  }

  tr {
    position: relative;
    transition: height 0.35s ease-in-out;
    color: var(--row-default-text-color);

    &.header {
      height: var(--table-row-height, 48px);
      background-color: var(--row-header-color);
    }

    &:not(.card-header) th:hover {
      background-color: var(--row-header-hover-color);
    }

    th {
      border-bottom: none;
      padding: 0 8px;

      &:first-child {
        padding-left: 24px;
      }

      &.disable-drag {
        cursor: initial !important;
      }

      .col-header {
        text-align: left;
        font-size: 12px !important;
        font-weight: 500;
        white-space: nowrap;
      }

    }

    td {
      align-items: center;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 8px;

      &:first-child {
        padding-left: 24px;
      }

      &.p-frozen-column {
        background-color: var(--row-default-color);
        z-index: 1;
      }
    }

    &:hover {
      .context-button {
        opacity: 1;
      }
    }

    .context-button-wrapper {
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
    }

    .context-button {
      position: sticky;
      z-index: 2;
      left: calc(100% - 56px);
      opacity: 0;
      transition: opacity 0.35s ease-in-out;
      margin-top: calc(var(--table-row-height) * 0.166);
      width: calc(var(--table-row-height) * 0.666);
      min-width: calc(var(--table-row-height) * 0.666);
      height: calc(var(--table-row-height) * 0.666);
    }

    &.cards-table {

      .card-wrapper {
        margin: 6px 2px 6px 12px;
        border: 1px solid var(--row-border-color);
        background-color: var(--row-default-color);
        border-radius: 4px;
        overflow: hidden;
        animation-name: expand;
        animation-duration: 0.35s;
        animation-timing-function: ease-in-out;

        .collapse-animation {
          transition: max-height 0.35s ease;
        }
      }

      &:first-child {
        .card-wrapper {
          margin-top: 12px;
        }
      }

      &:hover:not(.selected):not(.simple) .card-wrapper {
        background-color: var(--row-default-hover-color);
      }

      &.selected {
        .card-wrapper {
          background-color: var(--row-selected-color);
          color: var(--row-selected-text-color);
        }

        &:hover .card-wrapper {
          background-color: var(--row-selected-hover-color);
        }
      }

      &.checked:not(.selected):not(.simple) {
        .card-wrapper {
          background-color: var(--row-selection-color);
          color: var(--row-selection-text-color);
        }

        &:hover, &.contexted {
          .card-wrapper {
            background-color: var(--row-selection-hover-color);
          }
        }
      }
    }
  }


  @supports (-moz-appearance:none) {
    tr.cards-table .card-wrapper {
      margin: 6px 12px;
    }
  }
}

.no-data-row {
  height: 60px!important;
}


:host-context(.snippets-sources-container) {
  tr td.p-frozen-column {
    background-color: transparent;
  }
}

@keyframes expand {
  from {
    height: var(--table-row-height);
  }

  to {
    height: var(--card-height, 90px);
  }
}

