@import "../../webapp-common/shared/ui-components/styles/variables";

.header-container {
  position: relative;
  z-index: 999;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: $neon-yellow;
  color: $blue-800;

  p {
    padding-top: 6px;
  }

  a {
    color: $blue-800;
    text-decoration: underline;
  }

  .close {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 16px;
  }
}
