:host {
  cursor: pointer;

  .card-name {
    height: 32px;
  }

  .al-ico-project-path {
    color: var(--color-primary);
  }

  .report-name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .sub-title {
    color: color-mix(in srgb, var(--color-on-primary-container), transparent 40%);
    font-size: 12px;
    font-weight: 400;
  }

  .last-run {
    margin-bottom: 6px;
    font-size: 12px;
    color: color-mix(in srgb, var(--color-on-primary-container), transparent 40%);
  }
  .title {
    font-weight: 500;
  }

  .footer-tags {
    display: flex;
    min-height: 38px;
    padding: 0 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  .rename-state .last-run {
    visibility: hidden;
    height: 18px;
  }
  .dot {
    color: color-mix(in srgb, var(--color-on-primary-container), transparent 80%);
    padding: 0 6px;
  }

  .comment {
    overflow: hidden;
    height: 80px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: pre-line;
  }
}
