@import "variables";

$tab-width: 15vw;

:host {
  display: flex !important;
  flex-direction: column;
  //width: 100%;
  overflow: auto;
  // padding-top: 20px;
 // background-color: var(--color-surface-container-low);


  header {
    padding: 20px 0;
  }

  .main {
    padding: 0;
  }


  .vault {
    height: calc(100% - 36px);
    min-height: 110px;
    display: block;
    font-size: 12px;
  }
  .empty-vault{
    width: 100%;
    height: 111px;
    margin: 6px 0 0;
    padding: 16px;
    border-radius: 4px;
    border: solid 1px var(--color-surface-container-high);
    display: flex;
    justify-content: space-between;
    .edit-button{
      height: 32px
    }

  }

  .toggle-title {
    --mdc-theme-text-primary-on-background: var(--color-on-surface-variant);
    margin-bottom: 8px;
  }

  .body {
    flex: 1;
    padding: 0 24px;
  }

  .read-only-section {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: solid 1px var(--color-surface-container-high);
    background-color: var(--color-surface-container);
    margin-bottom: 24px;
    padding: 16px;

    .read-only-title {
      color: var(--color-on-surface-variant);
      font-weight: 500;
    }

    ul {
      padding: 0 12px;
    }
    li {
      margin-bottom: 6px;
      list-style-type: none;
      a {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    color: var(--color-on-surface);
    font-size: 16px;
    i {
      color: var(--color-outline);
      &:hover {
        color: var(--color-on-surface-variant);
      }
    }
  }

  .section {
    margin: 6px 0 0 24px;
    padding-bottom: 48px;
  }



  .info {
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: var(--color-outline);

    &:hover {
      color: var(--color-primary);
    }
  }


}
