@import "variables";
@import "../../shared/ui-components/styles/mixins/lines";

$tab-width: 15vw;

:host {
  display: flex !important;
  flex-direction: column;
  //width: 100%;
  overflow: auto;
  // padding-top: 20px;
 // background-color: $blue-700;


  header {
    padding: 20px 0;
  }

  .main {
    padding: 0;
  }


  .vault {
    height: calc(100% - 36px);
    min-height: 110px;
    display: block;
    font-size: 12px;
  }
  .empty-vault{
    width: 100%;
    height: 111px;
    margin: 6px 0 0;
    padding: 16px;
    border-radius: 4px;
    border: solid 1px $blue-500;
    display: flex;
    justify-content: space-between;
    .edit-button{
      height: 32px
    }

  }

  .toggle-title {
    --mdc-theme-text-primary-on-background: #{$blue-200};
    margin-bottom: 8px;
  }

  .body {
    flex: 1;
    padding: 0 24px;
  }

  .read-only-section {
    border-radius: 4px;
    border: solid 1px $blue-500;
    background-color: $blue-650;
    margin-bottom: 24px;
    padding: 16px;

    .read-only-title {
      color: $blue-200;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }

  .vault-group {
    display: block;
    color: $blue-280;
    margin-bottom: 6px;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .title {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 16px;
    i {
      color: $blue-300;
      &:hover {
        color: $blue-200;
      }
    }
  }

  .section {
    margin: 6px 0 0 24px;
    padding-bottom: 48px;
  }



  .info {
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: $blue-300;

    &:hover {
      color: $purple;
    }
  }


}
