<div class="counter-container">
  <div class="circle-counter" [class]="type" [class.multi]="valType === 'array'" data-id="cardStats">
    @switch (valType) {
      @case ('array') {
        <div class="d-flex-center flex-row wrapper">
          <ng-content select="[tagsList]"></ng-content>
          @for (subCounter of counter; track trackByLabel($index, subCounter)) {
            <div>
              <div class="sub-counter"
              [class.no-value]="subCounter.value === NA">{{subCounter.value | filesize : fileSizeConfigCount}}</div>
              <div class="sub-label">{{subCounter.label}}</div>
            </div>
          }
        </div>
      }
      @case ('number') {
        <div class="counter">
        {{counter | filesize: counter < 100000 ? fileSizeConfigCount : fileSizeConfigShortCount}}</div>
      }
      @case ('tags') {
        <div class="counter-tags">
        </div>
      }
      @default {
        <div class="counter">{{counter}}</div>
      }
    }
  </div>
  <div class="counter-label">{{label}}</div>
  @if (underLabel) {
    <div class="counter-label leave-space">{{underLabel}}</div>
  }
</div>
