@import "mixins/common";
@import "variables";

$reqWidth: 56px;
$font-size: 18px;
.model-labels {
  background-color: $orangada;
}

.dataview-versions {
  background-color: #00e3b9;
}

.dataview-enumeration {
  background-color: $orangada;
}

.counter-container {
  text-align: center;
  padding: 8px;
  .circle-counter {
    display: inline-block;
    width: $reqWidth;
    height: $reqWidth;
    border-radius: 50%;
    margin-bottom: 8px;
    background-color: $blue-600;

    .wrapper {
      gap: 24px;
    }

    &.multi {
      display: flex;
      padding: 0 28px;
      border-radius: 30px;
      width: unset;

      .sub-counter {
        font-size: 16px;
        font-weight: bold;
        color: $white;

        &.no-value {
          color: $blue-400;
        }
      }

      .sub-label {
        font-size: 10px;
        color: $blue-300;
      }
    }

    &.completed {
      background-color: $completed-blue;
    }

    &.pending {
      background-color: $pending-gray;
    }

    &.empty {
      background-color: $empty-grey;
    }

    &.running {
      background-color: $running-green;
    }

    &.failed {
      background-color: $failed-red;
    }

    .counter {
      @include vertical-align();
      @include counter-title();
    }
  }
  .counter-label {
    @include counter-label();
  }
}

.leave-space {
  min-height: 17px;
}
