@import "../../../webapp-common/shared/ui-components/styles/variables";
:host {
  .user-management-invites-table {
    width: 100%;
    tr {
      height: 48px;
      th {
        background-color: $blue-700;
        vertical-align: middle;
        color: $blue-300;
        border-bottom: 1px solid $blue-600;
        font-size: 12px;
        font-weight: 500;

       /* &.list-index {
          width: 32px;
        }*/
        &.action {
          width: 64px;
        }
      }
    }

    tbody {
      tr {
        height: 52px;
        td {
          vertical-align: middle;
          color: $blue-100;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-bottom: 1px solid #303443;
          .al-icons {
            margin-top: -1px;
            margin-right: 6px;
            font-size: 20px;
            width: 20px;
            height: 20px;
          }
          .name-container {
            display: flex;
            sm-tag-list {
              margin-left: 24px;
            }
          }
          .status {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            &-pending {
              color: $grey-purple;
            }
            &-aborted {
              color: red;
            }
            &-accepted {
              color: $completed-blue;
            }
          }

          .delete-button {
            i {
              color: $light-grey-blue;
              &:hover {
                color: $white;
              }
            }
          }
        }
        &:hover {
          background-color: $blue-650;
        }
      }
    }

    th, td {
      padding: 0 12px;
      border-top: 1px solid transparent;
      &:first-child {
        padding-left: 24px;
      }
    }
  }
}
