@import "../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

sm-selectable-list {
  flex: 1;
  overflow: hidden;
  margin: 0 -16px 0 0;
}

.toggle-all-text {
  margin-top: 13px;
  font-size: 11px;
  line-height: 1.55;
  text-align: right;
  color: $blue-480;
  cursor: pointer;
}

i.toggle-icon {
  font-size: 15px;
  height: 18px;
  padding-left: 5px;

  &.unchecked {
    opacity: 0.4;
  }
}
