<div class="form-group" *ngIf="!isReadonly">
  <span class="input-title" *ngIf="header">{{header}}</span>
  <input [class]="inputClassName"
         [autofocus]="autofocus"
         [ngClass]="{'danger': hasErrors() && showErrors}"
         [readonly]="isReadonly"
         [disabled]="disabled"
         [placeholder]="placeHolder"
         [smTooltip]="getCurrentError()"
         tooltipType='validation'
         [showTooltip]="showErrors"
         [showDelay]="0"
         [value]="(formData || formData === 0) ? formData : ''"
         (input)="fieldValueChanged($event.target.value)"
  >
</div>

<sm-readonly-label [readonlyClassName]="readonlyClassName" [label]="readonlyLabel" [readonly]="isReadonly"
                   [value]="formData"></sm-readonly-label>
