@if (focusOnStageId()) {
  <div class="stage-title">
    <button (click)="goBackToStagesMode()" mat-icon-button>
      <mat-icon fontSet="al" fontIcon="al-ico-arrow-left"></mat-icon>
    </button>
    Stage details: {{ focusOnStageId() }}
  </div>
}
<sm-pipeline-info [entity]="selected$ | ngrxPush" [project]="projectId$ | ngrxPush" [step]="selectedEntity()" data-id="pipelineInfo"></sm-pipeline-info>

<div class="console-button">
  <button mat-flat-button (click)="selectStep(); openLog()" data-id="consoleDetailsButton">
    <mat-icon fontSet="al" fontIcon="al-ico-console"></mat-icon>
    DETAILS
  </button>
  @if (!focusOnStageId() && hasStages()) {
    <button
      mat-stroked-button
      [class.staged]="enableStaging()"
      (click)="toggleEnableStaging()"
    >
      <mat-icon fontSet="al" fontIcon="al-ico-grid-view"></mat-icon>
      {{ enableStaging() ? 'EXPAND STAGES' : 'COLLAPSE STAGES' }}
    </button>
  }
</div>
<div
  #diagramContainer
  class="pipeline-container"
  [@shrinkRegular]="shrink? 'shrink': 'regular'"
  (@shrinkRegular.done)="shrinkDone($event)"
  tabindex="1"
  [class.extend]="showLog()"
  (click)="selectStep()"
  (keyup)="selectStep()"
  data-id="pipelineContainer"
>
  @if (dagModel$ | ngrxPush; as dagModel) {
    @for (row of dagModel; track $index) {
      <div class="level" [style.width.px]="chartWidth">
        @for (step of row; track step.id) {
          <sm-pipeline-controller-step
            #taskEl
            [step]="step"
            [selected]="selectedEntity()?.id === step?.id"
            (click)="$event.stopPropagation(); !taskEl.selected() && selectStep(step)"
            (openConsole)="openLog()"
            (expandStage)="expandStage(step)"
            (expandStageAnimationStarted)="expandStageAnimationStarted()"

          ></sm-pipeline-controller-step>
        }
      </div>
    }
    @if (chartWidth) {
      <svg class="arrows"
           [class.selected]="selectedEntity()?.id"
           [attr.viewBox]="'0 0 ' + chartWidth + ' ' + (50 + 132 * dagModel?.length)"
           [style.width.px]="chartWidth"
           [style.height.px]="50 + 132 * dagModel?.length"
      >
        @for (arrow of highlightedArrows$ | ngrxPush; track arrow.path) {
          <g
            [class.selected]="arrow.selected"
            [class.outgoing]="arrow.outgoing"
          >
            <path [attr.d]="arrow.path" fill="none" stroke-width="2"></path>
            <polygon
              points="0,-6 12,0, 0,6"
              [attr.transform]="arrow.headTransform"
            />
          </g>
        }
      </svg>
    }
  }
</div>
<div class="results-panel" [class.extend]="showLog()" [class.maximized]="maximizeResults" data-id="resultsPanel">
  @if (showLog()) {
    <div class="header toggle">
      <div class="log-name">
        <mat-icon fontSet="al" fontIcon="al-ico-console" class="me-2"></mat-icon>
        <span>{{ (selected$ | ngrxPush)?.name }}</span>
      </div>
      <sm-button-toggle
        [value]="detailsPanelMode()"
        [options]="[
        {label: 'PREVIEW', value: statusOption.preview},
        {label: 'CONSOLE', value: statusOption.log},
        {label: 'CODE', value: statusOption.code}
        ]"
        (valueChanged)="detailsPanelMode.set($event)"
      ></sm-button-toggle>
      <div class="close gap-3">
        <button mat-icon-button (click)="toggleResultSize()" data-id="maxResultPanel">
          <mat-icon fontSet="al" [fontIcon]="maximizeResults ? 'al-ico-min-panel' : 'al-ico-max-panel'"></mat-icon>
        </button>
        <button mat-icon-button (click)="openLog(false)" data-id="closeResultPanel">
          <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon>
        </button>
      </div>
    </div>
    <div class="content">
      @switch (detailsPanelMode()) {
        @case (statusOption.preview) {
          <sm-open-dataset-version-preview
            [selected]="(selected$ | ngrxPush)"
          ></sm-open-dataset-version-preview>
        }
        @case (statusOption.log) {
          <sm-experiment-output-log
            [experiment]="selected$ | ngrxPush"
            [showHeader]="false"
          ></sm-experiment-output-log>
        }
        @case (statusOption.code) {
          @if (stepDiff()) {
            <sm-code-editor [code]="stepDiff()" [readonly]="true"></sm-code-editor>
          } @else {
            <div class="no-code" data-id="noCode">
              <i class="icon no-output-icon i-no-code-dark"></i>
              <h4>NO CODE</h4>
            </div>
          }
        }
      }
    </div>
  }
</div>
