$log-height: 300px;
$log-header-height: 48px;

:host {
  .stage-title {
    position: absolute;
    z-index: 10;
    padding: 6px 24px 6px 0;
    gap: 12px;
    background: var(--color-primary-container);
    border-radius: 36px;
    transform: translateX(-50%);
    left: 50%;
    color: var(--color-on-primary-container);
    max-width: 500px;
    top: 24px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  display: block;
  position: relative;
  height: 100%;
  border-top: 1px solid var(--color-surface-container-high);
  background-color: var(--color-surface-container-lowest);

  .results-panel {
    &.maximized {
      height: 100%;

      .content {
        flex: 1;
      }
    }
  }

  sm-pipeline-info {
    display: block;
    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;
  }

  .console-button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 2;
    gap: 12px;

    .staged {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }
  }

  .results-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: $log-height + $log-header-height;
    background-color: var(--mat-app-background-color);

    position: absolute;
    bottom: -($log-height + $log-header-height);
    left: 0;
    z-index: 3;

    visibility: hidden;
    transition: bottom 0.35s, visibility 0.35s, height ease-in-out 0.5s;

    &.extend {
      visibility: visible;
      bottom: 0;
    }

    .header {
      height: $log-header-height;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      padding: 0 24px;
      background-color: var(--color-surface-container-high);
      border-bottom: 1px solid var(--color-outline-variant);
      box-shadow: 0 -2px 4px rgb(0 0 0 / 20%);

      &.toggle {
        grid-template-columns: 1fr auto 1fr;
      }
    }

    .content {
      height: $log-height;
    }

    ::ng-deep sm-experiment-output-log {
      .no-output {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: block;
        text-align: center;

        .no-output-icon {
          height: 100px;
          width: 100px;
        }
      }
    }

    .ace {
      height: 100%;
    }
  }
}

.level {
  min-width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;

  &:first-child {
    margin-top: 74px;
  }
}

.pipeline-container {
  height: calc(100% + 14px);
  width: calc(100% + 14px);
  position: relative;
  overflow: scroll;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }

  &.extend {
    padding-bottom: $log-height;
  }

  .arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    stroke: var(--color-outline);
    fill: var(--color-outline);

    &.selected {
      stroke: var(--color-outline-variant);
      fill: var(--color-outline-variant);
    }

    .selected {
      stroke: var(--color-tertiary);
      fill: var(--color-tertiary);
    }

    .outgoing {
      stroke: var(--color-primary);
      fill: var(--color-primary);
    }
  }
}

sm-pipeline-controller-step {
  margin: 0 50px;
  position: relative;
  z-index: 1;
}

.log-name {
  font-weight: 500;
  display: flex;
  align-items: center;
  overflow: hidden;

  > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.close {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.no-code {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: 14px;
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}
