$user-row-height: 36px;

:host {
  .creat-new-suffix {
    display: inline-block;
    margin-right: 18px;
    font-size: 14px;
    transform: translateY(-4px);
  }

  mat-form-field {
    width: 100%;
    z-index: 1;

  }
  .selected-items {
    max-height: $user-row-height * 4;
    overflow: auto;

    border-radius: 0 0 4px 4px;
    border: solid 1px #e0e0e0;;
    border-top: none;
  }
}
