@import "variables";

:host {

  display: block;

  &.collapsed {
    width: 24px !important;

    .drawer-toggle {
      border-radius: 6px;
    }

    ::ng-deep .card-container.bordered {
      border-color: transparent !important;
    }
  }

  .content-container, .fixed-width {
    overflow-anchor: none;
  }

  .content-container {
    display: block;
    width: calc(100% - 24px);
  }

  .drawer-container {
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
    overflow: hidden;

    &.drawer-closed {
      .content-container {
        display: none;
      }

      button {
        align-items: start;
      }
    }
  }

  .c-drawer-toggle {
    position: relative;
    z-index: 1;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
    overflow: hidden;
    height: 100%;
    width: 24px;
    padding: 0 1px 0 0;
    border: 1px solid;
    background-color: var(--color-surface-container-high);
    border-color: var(--color-outline-variant);
    color: var(--color-outline);
    //transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--color-surface-container-highest);
      color: var(--color-outline);
    }

    .label {
      font-size: 13px;
      font-weight: 500;
      padding-top: 12px;
      writing-mode: tb;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-primary);
    }
  }

  .hidden {
    display: none;
  }

  .display-on-hover {
    //transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover {
    .display-on-hover {
      opacity: 1;
    }
  }
  &.cdk-drag-preview {
    .display-on-hover {
      opacity: 1;
      button {
        border: 1px solid var(--color-outline-variant);
        border-left: none;
        background: transparent;
        mat-icon {visibility: hidden;}
      }

    }
  }
}
