.tab-nav {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  border-bottom: 1px solid #efefef;

  &.minimized {
    grid-template-columns: 0 1fr 60px;
  }

  @media(max-width: 1200px) {
    grid-template-columns: 0 1fr 200px;
  }
}

sm-router-tab-nav-bar {
  overflow: hidden;
}