@import "variables";
@import "mixins/link";

:host {
  display: block;
  position: relative;

  .general-info {
    padding: 24px 24px 64px 24px;
  }




  textarea {
    border-radius: 4px;
    border: solid 1px $blue-100;
    padding: 12px;
    color: $blue-500;
  }

  .general-description {
    white-space: pre-wrap;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
    &.na{
      text-decoration: none;
      color: unset;
      pointer-events: none;
    }
  }

}
