@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "./app/webapp-common/assets/fonts/heebo.scss";
