@import '../../styles/variables';

:host {
  ::ng-deep color-picker .color-picker {
    z-index: $zindex-colorpicker;

    .arrow {
      display: none;

    }
  }

  .color-picker-wrapper {
    position: absolute;
  }
}


