:host {
  .space-line {
    height: 14px;
  }

  sm-models-table {
    display: block;
    height: 100%;
  }

  .model-table-container {
    display: flex;
    flex-direction: column;
    height: 53vh;
    width: 85vw;
  }

  .buttons {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 41px;

    button {
      text-transform: uppercase;
    }
  }
}
