@import "../../../layout/layout";

:host {
  position: fixed;
  left: 0;
  height: 48px;
  width: 100%;
  display: block;

  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;

    border-top:solid 2px var(--color-primary);
    position: fixed;
    left: 0;
    height: $project-footer-height;
    width: 100%;
    padding-left: 76px;
    background-color: var(--color-surface-container-low);
    font-size: 13px;
    font-weight: 500;
    z-index: 10;
    transition:bottom 0.3s ease-out;

    &.show-container {
      bottom: 0;
    }
  }

  sm-tags-menu {
    margin-left: -18px;
  }

  .show-all {
    text-decoration: underline;
  }

  .divider {
    height: 20px;
    opacity: 0.3;
    border-right: solid 1px var(--color-primary);
  }

  .has-example-item {
    margin: 0 24px 0 auto;
    .mat-icon {
      color: var(--color-tertiary);
    }

    @media screen and (max-width: 1200px) {
      .title {
        display: none;
      }
    }
  }
}

