@import "../../shared/ui-components/styles/variables";

$lg-breakpoint: map-get($grid-breakpoints, lg);
:host {
  .navbar-header-container {
    min-height: $nav-bar-height;
    margin-left: $side-bar-close-width;
    .nav-bar-items-container {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .back-arrow {
      width: 64px;
      height: 64px;
      box-shadow: inset -1px 0 0 0 #2a2f42;
      text-align: center;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        cursor: pointer;
      }
    }
    .project-name {
      max-width: 400px;
      padding-left: 23px;
      font-size: 16px;
      font-weight: 700;
    }
    @media screen and (max-width: $lg-breakpoint) {
      .nav-bar-items-container {
        left: 60%;
      }
    }
  }

}
