@import "variables";

:host {
  padding: 0 24px;
  .model-icon {
    margin-right: 9px;
  }

  .middle-col {
    flex-grow: 1;
    overflow: hidden;
  }

  .model-name {
    display: flex;
    align-items: center;
    font-size: 15px;
    min-height: 32px;
    width: 100%;
    font-weight: 500;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .experiment-type {
    font-size: 11px;
    color: $blue-300;
  }
  .line-item{
    margin-right: 21px;
    height: 24px;
    &:last-child{
      margin-right: 6px;
      margin-left: 10px;
    }
  }




  .tags-list {
    height: 28px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    grid-area: tags;
    overflow: hidden;
  }
  .model-name-cont{
    max-width: calc(100% - 140px);
    .edit-name {
      overflow: hidden;
    }
  }



}
