<sm-overlay [backdropActive]="backdropActive"></sm-overlay>
<div class="d-flex">
  <div class="middle-col">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center model-name-cont">
        <div class="p-2 icon i-model model-icon l-40"></div>
        <sm-inline-edit
          class="edit-name"
          [minLength]="2"
          [required]="true"
          [originalText]="model?.name"
          [editable]="editable"
          (textChanged)="onNameChanged($event)"
          (inlineActiveStateChanged)="editExperimentName($event)"
        >
          <div class="model-name">
            <span>{{model?.name}}</span>
          </div>
        </sm-inline-edit>
      </div>
      <div class="d-flex align-items-center">
        <sm-id-badge class="me-3" [id]="model?.id" (copied)="copyToClipboard()" *ngIf="!viewId"></sm-id-badge>
        <div *ngIf="minimized" (click)="maximizedClicked.emit()"
             smTooltip="View Full Screen" class="d-flex fullscreen line-item">
          <i class="al-icon al-ico-info-max pointer" data-id="fullscreenIcon"></i>
        </div>

        <div class="line-item" (click)="minimizeClicked.emit()"
             *ngIf="model && (!minimized) && !isSharedAndNotOwner"
             smTooltip="View in models table">
          <i class="al-icon al-ico-info-min al-color pointer" data-id="experimentDetailsView"></i>
        </div>
        <sm-model-menu-extended
          class="line-item"
          [model]="model"
          [selectedModel]="model"
          [tagsFilterByProject]="tagsFilterByProject$ | async"
          [selectedDisableAvailableIsMultiple]="false"
          [selectedDisableAvailable]="selectedDisableAvailable"
          [projectTags]="projectTags$ | async"
          [companyTags]="companyTags$ | async"
          [numSelected]="1"
          (tagSelected)="addTag($event)">
        </sm-model-menu-extended>
        <div (click)="closeInfoClicked.emit()" class="d-flex align-items-center line-item">
          <i class="al-icon al-ico-dialog-x pointer"></i>
        </div>
      </div>
    </div>
    <div class="tags-list">
      <sm-tag-list
        *ngIf="editable; else readOnlyTags"
        [class.menu-open]="tagMenuTrigger?.menuOpen"
        [sysTags]="sysTags"
        [tags]="model?.tags"
        (add)="openTagMenu()"
        (remove)="removeTag($event)"></sm-tag-list>
      <ng-template #readOnlyTags>
        <sm-tag-list
          [sysTags]="sysTags"
          [tags]="model?.tags"></sm-tag-list>
      </ng-template>
      <span
        #tagsMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="tagsMenu.matMenu"
        (menuClosed)="tagsMenuClosed()"
      ></span>
      <sm-tags-menu
        class="light-theme"
        #tagsMenu
        [tags]="model?.tags"
        [tagsFilterByProject]="allProjects || (tagsFilterByProject$ | async)"
        [projectTags]="(allProjects ? companyTags$ : projectTags$) | async"
        [companyTags]="allProjects ? null : companyTags$ | async"
        (tagSelected)="addTag($event)"
      ></sm-tags-menu>
    </div>
  </div>
</div>
