<sm-overlay [backdropActive]="backdropActive()"></sm-overlay>
<div class="d-flex">
  <div class="middle-col">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center model-name-cont">
        <mat-icon fontSet="al" fontIcon="al-ico-model" class="lg me-3"></mat-icon>
        <sm-inline-edit
          class="edit-name"
          [minLength]="2"
          [required]="true"
          [originalText]="model()?.name"
          [editable]="editable()"
          (textChanged)="onNameChanged($event)"
          (inlineActiveStateChanged)="editExperimentName($event)"
          >
          <div class="model-name">
            <span [smTooltip]="model()?.name" smShowTooltipIfEllipsis>{{model()?.name}}</span>
          </div>
        </sm-inline-edit>
      </div>
      <div class="d-flex align-items-center gap-3">
        @if (model()?.id) {
          <sm-id-badge [id]="model()?.id" (copied)="copyToClipboard()"></sm-id-badge>
        }
        @if (minimized()) {
          <button class="line-item" mat-icon-button (click)="maximizedClicked.emit()" smTooltip="View Full Screen" data-id="fullscreenIcon">
            <mat-icon fontSet="al" fontIcon="al-ico-info-max"></mat-icon>
          </button>
        }

        @if (model() && (!minimized()) && !isSharedAndNotOwner()) {
          <button class="line-item" mat-icon-button (click)="minimizeClicked.emit()" smTooltip="View in models table" data-id="experimentDetailsView">
            <mat-icon fontSet="al" fontIcon="al-ico-info-min"></mat-icon>
          </button>
        }
        <sm-model-menu-extended
          class="line-item"
          [model]="model()"
          [selectedModel]="model()"
          [tagsFilterByProject]="tagsFilterByProject$ | ngrxPush"
          [selectedDisableAvailableIsMultiple]="false"
          [selectedDisableAvailable]="selectedDisableAvailable()"
          [projectTags]="projectTags$ | ngrxPush"
          [companyTags]="companyTags$ | ngrxPush"
          [numSelected]="1"
          (tagSelected)="addTag($event)">
        </sm-model-menu-extended>
        <button class="line-item" mat-icon-button (click)="closeInfoClicked.emit()" data-id="closeButton">
          <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon>
        </button>
      </div>
    </div>
    <div class="tags-list">
      @if (editable()) {
        <sm-tag-list
          [class.menu-open]="tagMenuTrigger()?.menuOpen"
          [sysTags]="sysTags()"
          [tags]="model()?.tags"
          (add)="openTagMenu()"
        (remove)="removeTag($event)"></sm-tag-list>
      } @else {
        <sm-tag-list
          [sysTags]="sysTags()"
        [tags]="model()?.tags"></sm-tag-list>
      }
      <span
        #tagsMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="tagsMenu.matMenu"
        (menuClosed)="tagsMenuClosed()"
      ></span>
      <sm-tags-menu
        class="light-theme"
        #tagsMenu
        [tags]="model()?.tags"
        [tagsFilterByProject]="allProjects() || (tagsFilterByProject$ | ngrxPush)"
        [projectTags]="(allProjects() ? companyTags$ : projectTags$) | ngrxPush"
        [companyTags]="allProjects() ? null : companyTags$ | ngrxPush"
        (tagSelected)="addTag($event)"
      ></sm-tags-menu>
    </div>
  </div>
</div>
