@import "../../../shared/ui-components/styles/variables";

:host {
  .model-icon {
    margin-right: 9px;
  }

  .middle-col {
    flex-grow: 1;
    overflow: hidden;
  }

  .model-name {
    display: flex;
    align-items: center;
    font-size: 15px;
    min-height: 32px;
    width: 100%;
    font-weight: 500;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .experiment-type {
    font-size: 11px;
    color: $blue-300;
  }

  .model-id {
    top: 4px;
    position: relative;
  }

  .menu-button, .menu-button &:hover, .menu-button &:focus {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }

  .tags-list {
    display: flex;
    align-items: center;
    padding-top: 2px;
  }

  .edit-name {
    max-width: 80%;
    padding-right: 24px;
  }

  .right-buttons {
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: auto;
    align-self: start;
    margin-top: 4px;

    sm-model-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
  }
}
