<span *ngIf="isCommunity && activeWorkspace" class="breadcrumbLink">
  <span class="workspace">{{activeWorkspace.name}}</span>
  <i class="al-icon  al-ico-caret-right"></i>
</span>
<span *ngFor="let crumb of breadcrumbs; let i=index; let last=last" class="breadcrumbLink" [class.ellipsis]="last">
  <a [routerLink]="crumb.url">{{crumb.name}}</a>
  <i *ngIf="!last" class="al-icon  al-ico-caret-right"></i>
</span>
<div *ngIf="checkIfBreadcrumbsInitiated()">

  <div
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="shareModal"
    (menuOpened)="openShareModal()"
  >
    <i *ngIf="showShareButton && !isCommunity" class="fa fa-share-alt share pointer" smTooltip="Share"></i>
  </div>
  <mat-menu #shareModal="matMenu">
    <div class="share-menu-container" smClickStopPropagation>
      <div class="d-flex align-items-center justify-content-between top">
        <div class="share-title">SHARE VIEW</div>
        <i class="pointer al-icon al-ico-dialog-x al-color blue-400 sm-md close-dialog"
           (click)="menuTrigger.closeMenu()" smClickStopPropagation></i>
      </div>
      <div class="copy-title">Copy the following URL to share this view with others</div>

      <div class="share-link-container" [class.hidden]="!(currentUrl)">
        <div class="ellipsis share-link">
          {{currentUrl}}</div>
        <div ngxClipboard
             smClickStopPropagation
             [cbContent]="currentUrl"
             class="copy pointer"
             (cbOnSuccess)="copyToClipboardSuccess(); menuTrigger.closeMenu()">
          <i class="fas fa-copy "></i>
        </div>
      </div>
    </div>
  </mat-menu>
</div>
