:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .empty-state {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;

    i {
      margin-bottom: 24px;
    }

    h4 {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }

  .sm-card-list-layout {
    &.in-empty-state {
      height: 100%;
      grid-template-rows: 64px 1fr;
    }
  }
}
