<sm-overlay [backdropActive]="backdropActive$|ngrxPush"></sm-overlay>
<sm-experiment-header
  [tableCols]="(tableMode$ | ngrxPush) === 'compare' ? (tableCompareView$() === 'plots' ? (compareSelectedMetricsPlots$ | ngrxPush) : (compareSelectedMetricsScalars$ | ngrxPush)) : (filteredTableCols$| ngrxPush)"
  [isArchived]="isArchived$ | ngrxPush"
  [metricVariants]="metricsVariants$()"
  [hyperParams]="hyperParams$ | ngrxPush"
  [minimizedView]="minimizedView"
  [isMetricsLoading]="metricLoading$ | ngrxPush"
  [tableFilters]="tableFilters$ | ngrxPush"
  [tableMode]="firstExperiment ? (tableMode$ | ngrxPush) : 'table'"
  [showCompareScalarSettings]="showCompareScalarSettings$ | ngrxPush"
  [compareView]="tableCompareView$()"
  [rippleEffect]="tableModeAwareness$ | ngrxPush"
  [addButtonTemplate]="addButton"
  [noData]="!((experiments$ | ngrxPush)?.length > 0)"
  [entityType]="entityType"
  (isArchivedChanged)="archivedChanged($event)"
  (selectedTableColsChanged)="getTableModeFromURL() === 'compare' ?  toggleSelectedMetricHidden($event) : selectedTableColsChanged($event)"
  (getMetricsToDisplay)="getMetricsToDisplay()"
  (selectedMetricToShow)="getTableModeFromURL() === 'compare' ? compareSelectedMetricToShow($event) : selectedMetricToShow($event)"
  (selectedHyperParamToShow)="selectedHyperParamToShow($event)"
  (removeColFromList)="getTableModeFromURL() === 'compare' ?  compareRemoveColFromList($event): removeColFromList($event)"
  (setAutoRefresh)="setAutoRefresh($event)"
  (clearSelection)="clearSelection()"
  (clearTableFilters)="clearTableFiltersHandler($event)"
  (tableModeChanged)="modeChanged($event); tableModeUserAware()"
  (downloadTableAsCSV)="downloadTableAsCSV()"
  (downloadFullTableAsCSV)="downloadFullTableAsCSV()"
  (toggleShowCompareSettings)="showCompareSettingsChanged()"
  (compareViewChanged)="compareViewChanged($event)"
>
</sm-experiment-header>
<ng-template #addButton let-isSmallScreen="smallScreen">
  <button class="btn d-flex-center btn-highlighted"
          [disabled]="isArchived$ | ngrxPush"
          (click)="newRun()">
    <i class="al-icon al-ico-add sm" data-id="newRunButton"></i> NEW RUN
  </button>
</ng-template>
<div class="experiment-body"
     [class.footer-visible]="((selectedExperiments$ | ngrxPush) && (selectedExperiments$ | ngrxPush)?.length > 1) || (showAllSelectedIsActive$ |ngrxPush)">
  <as-split #split
            [gutterSize]=1
            [useTransition]="true"
            [gutterDblClickDuration]="400"
            (gutterClick)="clickOnSplit()"
            (gutterDblClick)="closePanel()"
            (dragEnd)="splitSizeChange($event)"
            (dragStart)="disableInfoPanel()"
            (transitionEnd)="experimentsTable.table?.resize(); experimentsTable.afterTableInit()"
            [class.opened]="minimizedView && (selectSplitSize$ | ngrxPush) <= 1"
            [class.closed]="minimizedView && (selectSplitSize$ | ngrxPush) >= 99"
  >
    <as-split-area
      [size]="100 - (splitInitialSize)"
      [minSize]="1"
      [maxSize]="99"
      [order]="1"
    >
      <sm-experiments-table
        #experimentsTable
        class="align-self-stretch"
        selectionMode="single"
        [initialColumns]="tableCols"
        [colsOrder]="(tableColsOrder$ | ngrxPush)"
        [tableCols]="tableCols$| ngrxPush"
        [experiments]="experiments$ | ngrxPush"
        [users]="users$ | ngrxPush"
        [hyperParamsOptions]="hyperParamsOptions$ | ngrxPush"
        [activeParentsFilter]="activeParentsFilter$ | ngrxPush"
        [parents]="parents$ | ngrxPush"
        [experimentTypes]="types$ | ngrxPush"
        [tags]="tags$ | ngrxPush"
        [systemTags]="systemTags$ | ngrxPush"
        [tableSortFields]="(tableSortFields$ | ngrxPush)"
        [tableSortOrder]="(tableSortOrder$ | ngrxPush)"
        [tableFilters]="(tableFilters$ | ngrxPush)"
        [selectedExperiments]="selectedExperiments$ | ngrxPush"
        [selectedExperimentsDisableAvailable]="selectedExperimentsDisableAvailable$ | ngrxPush"
        [selectedExperiment]="selectedTableExperiment$ |ngrxPush"
        [minimizedView]="minimizedView"
        [noMoreExperiments]="noMoreExperiments$ | ngrxPush"
        [split]="selectSplitSize$ | ngrxPush"
        [contextMenuTemplate]="contextMenuExtendedTemplate"
        [contextMenuActive]="contextMenuActive"
        [entityType]="entityType"
        [hasExperimentUpdate]="selectedExperimentsHasUpdate$ | ngrxPush"
        [cardsCollapsed]="cardsCollapsed$ | ngrxPush"
        [cardHeight]="112"
        (experimentSelectionChanged)="getTableModeFromURL() !== 'compare' && experimentSelectionChanged($event)"
        (experimentsSelectionChanged)="experimentsSelectionChanged($event)"
        (sortedChanged)="sortedChanged($event)"
        (filterChanged)="filterChanged($event)"
        (tagsMenuOpened)="refreshTagsList()"
        (typesMenuOpened)="refreshTypesList()"
        (loadMoreExperiments)="getNextExperiments()"
        (columnsReordered)="columnsReordered($event)"
        (columnResized)="columnResized($event)"
        (contextMenu)="onContextMenuOpen($event)"
        (removeTag)="removeTag($event)"
        (clearAllFilters)="clearTableFiltersHandler($event)"
        (cardsCollapsedChanged)="cardsCollapsedToggle()"
        (closePanel)="closePanel()"
      >
      </sm-experiments-table>
    </as-split-area>
    <as-split-area
      style="display: flex; flex-direction: column; overflow: hidden;"
      [class.light-theme]="getTableModeFromURL() === 'compare'"
      [size]="splitInitialSize"
      [visible]="minimizedView"
      [order]="2"
    >
      <router-outlet></router-outlet>
    </as-split-area>
  </as-split>
</div>

<sm-entity-footer
  [footerState]="footerState$ | ngrxPush"
  [footerItems]="footerItems"
  (footerItemClick)="onFooterHandler($event)"
  (tagSelected)="tagSelected($event, 'experiments')"
></sm-entity-footer>

<ng-template #contextMenuExtendedTemplate let-contextExperiment>
  <sm-controller-menu
    #contextMenu
    [experiment]="contextExperiment"
    [selectedExperiment]="selectedExperiment$ | ngrxPush"
    [selectedExperiments]="singleRowContext ? [contextExperiment] : selectedExperiments"
    [selectedDisableAvailableIsMultiple]="!singleRowContext"
    [selectedDisableAvailable]="singleRowContext ? getSingleSelectedDisableAvailable(contextExperiment) : (selectedExperimentsDisableAvailable$ | ngrxPush)"
    [numSelected]="singleRowContext ? 1 : selectedExperiments.length"
    [tagsFilterByProject]="tagsFilterByProject$ | ngrxPush"
    [projectTags]="tags$ | ngrxPush"
    [companyTags]="companyTags$ | ngrxPush"
    [activateFromMenuButton]="false"
    [useCurrentEntity]="singleRowContext"
    [minimizedView]="true"
    [tableMode]="!minimizedView"
    [backdrop]="menuBackdrop"
    (tagSelected)="onAddTag($event, contextExperiment)"
    (menuOpened)="setContextMenuStatus(true)"
    (menuClosed)="setContextMenuStatus(false)"
  ></sm-controller-menu>
</ng-template>
