<sm-editable-section
  #prototext
  [editable]="!model?.ready && model?.company?.id"
  [saving]="saving"
  [disableInEditMode]="true"
  (activateEditClicked)="activateEdit(); editPrototext()"
  (saveClicked)="saveClicked()"
  (cancelClicked)="cancelEdit()"
  >
  <sm-section-header label="MODEL CONFIGURATION"></sm-section-header>
  <div class="light-theme h-100">
    <sm-textarea-control
      [formData]="design ? design : ''"
      [inputClassName]="!inEditMode? ' cursor-default':''"
      [isReadonly]="!inEditMode"
      placeHolder="Empty Model Configuration"
      class="dark"
      (input)="fieldValueChanged($event.target.value)"
      >
    </sm-textarea-control>
  </div>
  <button extra-buttons
          *ngIf="design"
          class="btn-dark-fill mr-3 flex-1"
          (click)="clearPrototext()">
    <i class="p-1 fa fa-trash"></i>
    CLEAR
  </button>
</sm-editable-section>
