<cdk-virtual-scroll-viewport class="card-container" [itemSize]="cardHeight() + gridGap">
  <div
    class="card-row"
    [class.snippets-mode]="snippetsMode()"
    [style.--cardWidth]="cardWidth() + 'px'"
    [style.--gridGap]="gridGap + 'px'"
    [style.--padding]="snippetsMode() ? padding() + 'px' : null"
    *cdkVirtualFor="let row of itemRows$ | ngrxPush; let rowIndex = index"
    >
    @for (item of row; track trackFn()(item) + cardHeight()) {
      <ng-container *ngTemplateOutlet="cardTemplate(); context: {$implicit: item, index: $index + rowIndex * cardsInRow}"></ng-container>
    }
    @for (blankItem of [].constructor(cardsInRow - row.length); track blankItem) {
      <div></div>
    }
  </div>
  @if (showLoadMoreButton() && (itemRows$ | ngrxPush)?.length) {
    <div class="load-more"  (smScrollEnd)="autoLoadMore() && !itemsState().loading() && autoLoad()">
      <button mat-flat-button (click)="loadMoreClicked.emit()">
        <div class="d-flex-center gap-2">
          @if (itemsState().loading()) {
            <mat-spinner [diameter]="16" [strokeWidth]="2" mode="indeterminate"></mat-spinner>
          }
          <span>LOAD MORE</span>
        </div>
      </button>
      </div>
    }
  </cdk-virtual-scroll-viewport>
