@import "variables";

:host {
  .card-container {
    height: 100%;
  }
  .card-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--cardWidth));
    grid-gap: var(--gridGap);
    padding: calc(var(--gridGap) * 0.5) 0;
    justify-content: center;

    &.snippets-mode {
      grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
    }
  }

  /* Track */
  ::-webkit-scrollbar-thumb {
    background-color: lighten($blue-600, 30%);
  }
}

.load-more {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;

  .load-more-btn {
    padding: 8px 40px;
  }
}
