<cdk-virtual-scroll-viewport class="card-container" [itemSize]="cardHeight + gridGap">
  <div
    class="card-row"
    [class.snippets-mode]="snippetsMode"
    [style.--cardWidth]="cardWidth + 'px'"
    [style.--gridGap]="gridGap + 'px'"
    [style.--padding]="snippetsMode ? padding + 'px' : null"
    *cdkVirtualFor="let row of itemRows$ | async; let rowIndex = index"
    >
    @for (item of row; track trackFn(item) + cardHeight) {
      <ng-container *ngTemplateOutlet="cardTemplate; context: {$implicit: item, index: $index + rowIndex * cardsInRow}"></ng-container>
    }
    @for (blankItem of [].constructor(cardsInRow - row.length); track blankItem) {
      <div></div>
    }
  </div>
  @if (showLoadMoreButton && (itemRows$ | async)?.length) {
    <div class="load-more"  (smScrollEnd)="autoLoadMore && !loading && autoLoad()">
      <button (click)="loadMoreClicked.emit()" class="btn btn-cml-primary load-more-btn">
        @if (loading) {
          <i class="load-spinner"></i>
        }LOAD MORE</button>
      </div>
    }
  </cdk-virtual-scroll-viewport>
