:host {
  h5 {
    padding-top: 10px;
  }

  .reference {
    padding: 6px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
    max-width: 500px;
  }

  /deep/ sm-textarea-control {
    max-height: 100px;

    textarea {
      min-height: unset !important;
    }
  }

  .buttons {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    button {
      width: 130px;
      text-transform: uppercase;
    }

    .yes-button {
      margin-left: 16px;
    }
  }
}
