:host {
  h5 {
    padding-top: 15px;
    font-size: 12px;
    margin: 0;
    font-weight: unset;
  }

  .reference {
    padding: 6px;
    margin-bottom: 12px;
    max-width: 500px;
  }

  mat-form-field {
    margin-top: -8px;
  }

  textarea {
    resize: none;
    min-height: 60px;
  }

  .creat-new-suffix {
    margin-right: 18px;
  }

  textarea,
  input,
  select {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    button {
      width: 130px;
      text-transform: uppercase;
    }

    .yes-button {
      margin-left: 16px;
    }
  }

  .text-danger {
    display: block;
    position: absolute;
  }
}
