@import "../../assets/fonts/variables";


@mixin sm-system-tag() {
  .sys-tag {
    @include system-tag();

    &:before {
      font-family: '#{$icomoon-font-family}';
      content: $al-ico-users;
      width: 12px;
      font-size: 24px;
      text-align: left;
      position: absolute;
      left: -12px;
      top: -3px;
    }
  }

  .tag-item {
    @include shrinkable-tags();
    padding-left: 16px;
  }

  .group-rest {
    background: transparent;
    border-color: transparent;
    min-width: 0;
    text-overflow: unset;
    padding: 0 6px;
    overflow: visible;

    &:before {
      content: '';
    }
  }
}

@mixin system-tag() {
  display: inline-block;
  position: relative;
  min-width: 50px;
  max-width: 180px;
  height: 18px;
  font-size: 11px;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--color-outline-variant), transparent 50%);
  padding: 0 8px 0 14px;
  margin-right: 5px;
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 0 -1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin shrinkable-tags() {
  margin-right: 5px;
  flex: 0 2 content;
  transition: flex-shrink 0.3s;

  &:hover {
    flex-shrink: 0;
  }
}
