<div class="d-flex justify-content-around" style="padding: 15px 15px; color: #5a658e; width: 370px">
  CUSTOMIZE COLUMNS
</div>
<hr style="margin: 0">
<div class="list-container">
  <sm-menu-item *ngFor="let col of tableCols"
                [itemLabel]="col.header"
                [checked]="!(col?.hidden)"
                [selectable]="true"
                [removable]="col.metric_hash || col.isParam"
                [itemValue]="col.id"
                (removeItemClicked)="removeColFromList.emit($event)"
                (itemClicked)="selectedTableColsChanged.emit(col)">
  </sm-menu-item>
</div>
<hr style="margin: 0">
<div class="loader" [ngClass]="{'d-none': !isLoading}">
  <mat-spinner diameter="50"></mat-spinner>
</div>
