
:host {
  line-height: 0;
}

button {
  display: flex;
  align-items: center;
  height: 40px;

  i {
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

